@import 'styles/common';
@import 'styles/flex-box';
@import 'styles/outline-buttons';
* {
  outline: none;
}

html,
body {
  height: 100%;
}

html {
	overflow: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0px;
	/* remove scrollbar space */
	background: transparent;
	/* optional: just make scrollbar invisible */
}

body {
  font-family: 'Roboto', helvetica, sans-serif, arial;
  background: url('/home/logo-chi-bg.png') no-repeat, url('/home/bg-main.png') no-repeat;
  background-size: 150%, cover;
  background-position: center -100px, center;
  background-attachment: fixed;
  min-height: 100%;
}

form {
  label {
    &.error {
      font-weight: 400;
    }
  }
}

footer {
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

label {
  &[id$="-error"] {
    display: block !important;
  }
}