<template name="slickSlides">

		<div class="container-fluid home-container">
			<div class="title-section">
				<div class="title">
					<h2>Collective Human <strong>Intelligence</strong></h2>
				</div>
				<div class="profile-slider">
					{{ #if currentUser }} {{ #if currentUser.username }}
					<p>Hello there <strong>{{currentUser.username}}!</strong></p>
					{{ else }}
					<p>Hello there <strong>Sarah!</strong></p>
					{{ /if }} {{else}}
					<p class="notLoginMsg">Hello there, please <strong><a href="/login">Login</a></strong></p>
					{{ /if }}
					<div class="slider">
						<a href="#" class="prev"><img src="/home/button-left.png" alt="left button"></a>
						<a href="#" class="next"><img src="/home/button-right.png" alt="right button"></a>
					</div>
				</div>
			</div>
			<div class="content-slide">
				{{> resourcesCards }}
				{{> discussionCard }}
			</div>
		</div>

</template>