<template name="dashboard">
    <div class="container">
        <h1>Dashboard</h1>
        {{ #with getUserInfo }}
            <h3><strong>Email Id:</strong> {{ address }}</h3>
        {{ /with }}
    </div>
</template>