.lm-video-capture-video-section {
  text-align: center;
  position: relative;
}

.lm-video-capture-processing {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.9;
  padding-top: 20px;
}

.lm-video-capture-message {
  text-align: center;
}

.lm-video-capture-record-start-btn-style,
.lm-video-capture-record-stop-btn-style {
  display: inline-block;
  cursor: pointer;
}

.lm-video-capture-record-stop-btn-style {
  margin-left: 10px;
}

#play-video {
  display: none;
}

.lm-video-capture-video {
  position: relative;
  display: flex;
  justify-content: center;
}

.lm-video-capture-countdown {
  font-size: 72px;
  font-weight: 100;
  text-align: left;
  color: #e2e6e7;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
  opacity: 0.48;
  padding-left: 40px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #191d1f;
}

.lm-video-capture-action-buttons {
  height: 100px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.lm-video-capture-record-cancel-btn {
  z-index: 1;
  cursor: pointer;
  background: none;
  border: 0;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
  color: #e2e6e7;
  margin-right: 30px;
}
.lm-video-capture-record-start-btn,
.lm-video-capture-record-preview-btn {
  z-index: 1;
  margin-right: 30px;
  cursor: pointer;
}
.lm-video-capture-record-stop-btn {
  z-index: 1;
  margin-right: 30px;
  cursor: pointer;
}

.lm-video-capture-record-submit-btn {
  z-index: 1;
  cursor: pointer;
  width: 160px;
  height: 100px;
  object-fit: contain;
  border-radius: 16px;
  background-color: #2c373e;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.5;
  display: flex;
  align-items: center;
  color: #ff9452;
  text-align: center;
  justify-content: center;
}

#controls {
  display: none;
  margin: 10px 30px;
}


/* style for buttons */

#start,
#stop,
#pause,
#plus,
#minus,
#mute {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 10px;
  width: 60px;
  margin: 0 10px 0 0;
}

#progressbar {
  display: none;
  /* size */
  width: 500px;
  height: 20px;
  /* position and border */
  position: relative;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 20px;
  /* background color */
  background-color: #cccccc;
  /* background gradient */
  background-image: linear-gradient(top, #fff, #ccc);
  background-image: -moz-linear-gradient(top, #fff, #ccc);
  background-image: -webkit-linear-gradient(top, #fff, #fcc);
  background-image: -o-linear-gradient(top, #fff, #ccc);
  background-image: -ms-linear-gradient(top, #fff, #ccc);
  /* shadow */
  box-shadow: 0 0 10px #ccc;
}

#loadingprogress {
  /* border */
  border-radius: 20px;
  /* initial size */
  height: 20px;
  width: 0;
  /* background color */
  background-color: #9acd00;
  /* background gradient */
  background-image: linear-gradient(top, #ffffff, #9acd00);
  background-image: -moz-linear-gradient(top, #ffffff, #9acd00);
  background-image: -webkit-linear-gradient(top, #ffffff, #9acd00);
  background-image: -o-linear-gradient(top, #ffffff, #9acd00);
  background-image: -ms-linear-gradient(top, #ffffff, #9acd00);
}

#record-video, #play-video {
  box-shadow: 1px 2px 8px #ccc;
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
  max-height: 560px;
}

.lm-video-capture-record-preview-btn {
  display: none;
}