<template name="lmVideoCapture">

      <div class='lm-video-capture-video-section'>
        {{ #unless data.platformSupport.supported }}
        <div class='lm-video-capture-message'>{{ data.platformSupport.message }}</div>
        {{ else }} {{ #if data.processing }}
        <div class='lm-video-capture-processing'>
          Video is processing.. This could take up to 15 seconds. Thank you for being patient.
        </div>
        {{ /if }}

        <div class='lm-video-capture-video'>
          <video muted='true' id="record-video" width='{{ data.videoDisplay.width }}' height='{{ data.videoDisplay.height }}'></video>
          <video id="play-video" width='{{ data.videoDisplay.width }}' height='{{ data.videoDisplay.height }}'></video>
          <div id="controls"> <button id="start">Play</button> <button id="stop" disabled>Stop</button> <button id="pause" disabled>Pause</button>        <button id="plus" title="Volum" disabled>Up</button> <button id="minus" title="Volum" disabled>Down</button>
            <button
              id="mute" disabled>Mute</button>
          </div>
          <div id="progressbar">
            <div id="loadingprogress"></div>
            <div id="butterfly"></div>
          </div>


          {{ #if data.countdownTimer }}
          <div class='lm-video-capture-countdown'>
            {{ data.countdownTimer }}
          </div>
          {{ /if }}
          <div class="lm-video-capture-action-buttons">
            <button class='lm-video-capture-record-cancel-btn'>Cancel</button>
            {{ #if data.countdownTimer }}
            {{ else }}
              <div class='lm-video-capture-record-start-btn {{data.classes.recordBtn}}'><img src="/button-record.png" alt="record button"></div>
              <div class='lm-video-capture-record-preview-btn'><img src="/button-preview.svg" alt="preview button"></div>
            {{ /if }}
            {{ #if data.showStopButton }}
              <div class='lm-video-capture-record-stop-btn {{data.classes.stopBtn}}'><img src="/button-stop.svg" alt="stop button"></div>
            {{ /if }}
            <button class='lm-video-capture-record-submit-btn'>Submit</button>
          </div>
        </div>
        {{ /unless }}
      </div>

    </template>