<template name='login'>
	<div class="login">
		<div class="container login-container">
			<div class="login-main">
				<div class="logo">
					<img src="/login/logo-chi.svg" alt="chi logo">
					<p>Collective <br> Human <br> <span>Intelligence</span></p>
				</div>
				<div class="login-panel-quotes">
					<div class="login-panel">
						<p class="login-title">Login</p>
						<!-- <a href="#" class="facebookLogin loginWith">
							<img src="/login/facebook.svg" alt="facebook logo">
							<span>Login with Facebook</span>
						</a> -->
						<!-- <a href="#" class="googleLogin loginWith">
							<img src="/login/google.svg" alt="google logo">
							<span>Login with Google</span>
						</a> -->
						<a href="/login/email" class="emailLogin loginWith">
						<img src="/login/email.svg" alt="mail logo">
						<span>Login with Email</span>
						</a>
						<a href="/signup" class="createAccount">Create an account</a>
					</div>
				</div>
				
			</div>
					<div class="quotes">
						<h3>You must be the change <br>you wish to see in the world</h3>
						<p>- Mahatma Gandhi</p>
					</div>
		</div>
	</div>
</template>