<template name="debateDisagree">
		<nav class="debate-navbar disagree-nav">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<img src="/debate/button-back.svg" alt="left arrow">
				</a>
			</div>
			<ul class="nav navbar-nav">
				<li>
					<img src="/debate/heart.svg" alt="heart icon">
					<p class="count">0</p>
				</li>
				<li>
					<img src="/debate/bookmark.svg" alt="bookmark icon">
					<p class="count">0</p>
				</li>
				<li>
					<img src="/debate/share.svg" alt="share icon">
					<p class="count">0</p>
				</li>
			</ul>
		</nav>
		<div class="disagree-container">
			{{ #with getUserOpinion }}
			<div class="header">
				<h3>{{ title }}</h3>
				<p>{{ description }}</p>
			</div>
			<div class="body">
				<img src="/debate/han.png" alt="user pic">
				<div class="user-take">
					<p>I disagree on this topic!</p>
				</div>
				{{#if userInput }}
						<div class="group">
							<label for="statement">Your stance in 140 characters</label>
							<div class="content">
								<p>{{ disagree.statement }}</p>
							</div>
						</div>
						<div class="group">
							<label for="tags">Tags <span>(Seperate by comma)</span></label>
							<div class="content">
								{{ #each disagree.tags }}
								<span>{{ this }}</span> {{ /each }}
							</div>
						</div>
						<div class="group">
							<label for="detailStatement">Your stance in detail</label>
							<div class="content">
								<p>{{ disagree.detailStatement }}</p>
							</div>
						</div>
						<div class="edit-button">
							<p>Thanks for your comment!</p>
							<button class="edit">Edit my comment</button>
						</div>
				{{ else }}
					{{ #with userEdit }}
						<form class="userView">
							<div class="group">
								<label for="statement">Your stance in 140 characters</label>
								<textarea maxlength="140" placeholder="Your statement here" name="statement" value='{{ statement }}'></textarea>
							</div>
							<div class="group">
								<label for="tags">Tags <span>(Seperate by comma)</span></label>
								<input type="text" placeholder="Tags" name="tags" value="{{ tags }}">
							</div>
							<div class="group">
								<label for="detailStatement">Your stance in detail</label>
								<textarea rows="10" placeholder="Your statement here" name="detailStatement" value='{{ detailStatement }}'></textarea>
							</div>
							<div class="button">
								<button class="post">Post</button>
							</div>
						</form>
					{{ /with }}
				{{ /if }}
			</div>
			{{ #if notStarted started}}
				<div class="timer">
					<p>Debate starting in <br> <span>{{ days }}</span> days</p>
				</div>
				<div class="editButton">
					<button class="edit show">Show</button>
				</div>
			{{else}}
				{{setVal}}
			<!-- <section class="guests-intro-section">
				<h4>Meet the Guests</h4>
				<div id="intro-timeline">
					<div class="start">
						<div class="start-header">
							<div class="left-start">
			
								<div class="speaker1">
									{{ #with getUsername disagree.userId}}
									<div class="left-main">
										<h3 class="participants-name">{{ this }}</h3>
									</div>
									{{ /with }}
									<img src="{{disagree.debaterPic}}" class="participants-img" alt="speaker img">
									<a class="disagree" href="#">
										<div>
											<img src="/debate/disagree.svg" alt="thumbs down">
										</div>
									</a> -->
									<!-- <div class="callout-section">
														<p class="callout-title">I disagree on this topic!</p>
														<p class="callout-description">{{ disagree.statement}}</p>
														<div class="callout-link">
															<a href="">Know why?</a>
														</div>
													</div> -->
								<!-- </div> -->
								<!-- <div class="disagree1">
													<img src="/debate/disagree.svg" alt="thumbs up">
												</div>
												<div class="disagree2">
													<img src="/debate/disagree.svg" alt="thumbs up">
												</div>
												<div class="disagree3">
													<img src="/debate/disagree.svg" alt="thumbs up">
												</div>
												<div class="disagree4">
													<img src="/debate/disagree.svg" alt="thumbs up">
												</div>
												<div class="disagree5">
													<img src="/debate/disagree.svg" alt="thumbs up">
												</div>
												<div class="disagree6">
													<img src="/debate/disagree.svg" alt="thumbs up">
												</div>
												<div class="disagree7">
													<img src="/debate/disagree.svg" alt="thumbs up">
												</div>
												<div class="disagree8">
													<img src="/debate/disagree.svg" alt="thumbs up">
												</div> -->
							<!-- </div>
							<div class="middle-start">
								<div class="dot dotbg1">
								</div>
								<div class="main">
									<p>Vs</p>
								</div>
								<div class="dot dotbg2">
								</div>
							</div>
							<div class="right-start">
								<div class="speaker2">
									{{ #with getUsername agree.userId}}
									<div class="right-main">
										<h3 class="participants-name">{{this}}</h3>
									</div>
									{{ /with }}
									<img src="{{agree.debaterPic}}" class="participants-img" alt="speaker img">
									<a class="agree" href="#">
										<div>
											<img src="/debate/agree.svg" alt="thumbs up">
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="gradient-bg"></div>
			</section>
			<section class="results-section">
				<div id='results'>
					<div class="start">
						<div class="agree-disagree">
							{{#with calPercent agree.totalAgree disagree.totalDisagree}}
							<div class="disagree-total">
								<p>{{agreePercent}}% Disagree</p>
								<img src="/debate/user-6.png" alt="user pic" class="img-1">
								<img src="/debate/user-1.png" alt="user pic" class="img-2">
								<img src="/debate/user-2.png" alt="user pic" class="img-3">
								<img src="/debate/user-3.png" alt="user pic" class="img-4">
								<img src="/debate/user-4.png" alt="user pic" class="img-5">
								<img src="/debate/user-5.png" alt="user pic" class="img-6">
							</div>
							<div class="agree-total">
								<p>{{disagreePercent}}% Agree</p>
								<img src="/debate/user-1.png" alt="user pic" class="img-1">
								<img src="/debate/user-2.png" alt="user pic" class="img-2">
								<img src="/debate/user-3.png" alt="user pic" class="img-3">
								<img src="/debate/user-4.png" alt="user pic" class="img-4">
								<img src="/debate/user-5.png" alt="user pic" class="img-5">
								<img src="/debate/user-6.png" alt="user pic" class="img-6">
							</div>
							{{/with}}
						</div>
					</div>
					<div class="states">
						<div class="states-container">
							<div class="arguments state-elem">
								<img src="/debate/argument.svg" alt="left and right arrow">
								<div class="state">
									<p class="num">{{arguments}}</p>
									<p class="sub">Arguments</p>
								</div>
							</div>
							<div class="views state-elem">
								<img src="/debate/view.svg" alt="glass icon">
								<div class="state">
									<p class="num">{{kFormator views}}</p>
									<p class="sub">Views</p>
								</div>
							</div>
							<div class="opinionChanged state-elem">
								<img src="/debate/change.svg" alt="swipe icon">
								<div class="state">
									<p class="num">{{kFormator opinionChanged}}</p>
									<p class="sub">Opinions Changed</p>
								</div>
							</div>
							<div class="questions state-elem">
								<img src="/debate/question.svg" alt="question icon">
								<div class="state">
									<p class="num">{{kFormator questionRaised}}</p>
									<p class="sub">Questions Raised</p>
								</div>
							</div>
						</div>
					</div> -->
					
					<!-- <div class="showdownBtn">
						<div class="showdown-container">
							<p>The Showdown</p>
							<img src="/debate/down.svg" alt="down arrow">
						</div>
					</div>
				</div> 
			</section> -->
			<div class="editButton">
				<button class="edit hideBtn">Hide</button>
			</div>
			<section id="showdown">
				<nav class="showdown">
					<div class="showdown-container">
						<a href="#">Q and A</a>
						<a href="#" class="active">The showdown</a>
						<a href="#">Response</a>
					</div>
				</nav>
			
				<div class="conversation">
					<div class="conversation-container">
						{{#each conversations}} 
							{{ #with getTemp this }} 
								{{> Template.dynamic template=temp data=data}} 
							{{ /with }} 
						{{/each}}
					</div>
				</div>
				{{ #if notEnded ended }}
				<div class="enterComment hidden">
					<a href="#">
						<img src="/debate/attachment.svg" alt="attachment icon">
					</a>
					<textarea type="text" placeholder="type your reply" name="reply" id="userReply"></textarea>
					<a href="#" class="btn send">Send</a>
				</div>
				{{ /if }}
			</section>
			{{ #if isEnded ended }}
			<section id="conclusion">
				<p class="heading">In conclusion</p>
				<div class="conclusion-view">
					<p>The debate time has ended. Thanks for your participation. Would you want to say anything in conclusion?</p>
					<div class="final-conclusion">
						<textarea name="conclusion" id="finalConclusion" cols="30" rows="10" placeholder="Enter your statement here"></textarea>
					</div>
					<div class="button">
						<button class="post" id="conclusionBtn">Post</button>
					</div>
					<a href="#" class="debator thisDebator active">
						<img src="/debate/Jenny.png" alt="user pic">
					</a>
					<a href="#" class="debator otherDebator">
						<img src="/debate/han.png" alt="user pic">
					</a>
				</div>
				<div class="states">
					<div class="states-container">
						<div class="arguments state-elem">
							<img src="/debate/argument.svg" alt="left and right arrow">
							<div class="state">
								<p class="num">56</p>
								<p class="sub">Arguments</p>
							</div>
						</div>
						<div class="views state-elem">
							<img src="/debate/view.svg" alt="glass icon">
							<div class="state">
								<p class="num">50K</p>
								<p class="sub">Views</p>
							</div>
						</div>
						<div class="opinionChanged state-elem">
							<img src="/debate/change.svg" alt="swipe icon">
							<div class="state">
								<p class="num">10K</p>
								<p class="sub">Opinions Changed</p>
							</div>
						</div>
						<div class="questions state-elem">
							<img src="/debate/question.svg" alt="question icon">
							<div class="state">
								<p class="num">890</p>
								<p class="sub">Questions Raised</p>
							</div>
						</div>
					</div>
				</div>
				<div class="up-arrow">
					<img src="/debate/arrow-up.svg" alt="up arrow">
				</div>
			</section>
			 {{ /if }} {{ /if }}
			{{ /with }}
		</div>
</template>

