.disagree-container {
	.header {
		opacity: 0.64;
		background-color: #191d1f;
		height: 300px;
		text-align: center;
		padding: 16px;
		h3 {
			margin: 0 0 21px;
			background-image: linear-gradient(to right, #ff9452, #f96d28 40%, #ff445e);
			font-family: NotoSerif;
			font-size: 24px;
			font-weight: bold;
			line-height: 0.88;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		p {
			width: 60%;
			margin: 0 auto;
			font-family: Roboto;
			font-size: 14px;
			line-height: 1.5;
			color: #a0b2b8;
		}
	}

	.body {
		width: 55%;
		border-radius: 16px;
		background-color: #414d54;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
		padding: 40px;
		margin: -80px auto 40px;
		position: relative;
		z-index: 1;
		img {
			width: 50px;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.user-take {
			width: 70%;
			height: 70px;
			background-color: #2c373e;
			border-radius: 10px;
			position: relative;
			text-align: center;
			margin: 16px auto 30px;
			p {
				background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
				font-size: 32px;
				font-weight: 100;
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				position: absolute;
				top: 50%;
				width: 100%;
				transform: translateY(-50%);
				@media(max-width: 540px) {
					font-size: 14px;
				}
			}
			&:before {
				content: '';
				position: absolute;
				top: -20px;
				left: 50%;
				width: 0;
				height: 0;
				transform: translateX(-50%);
				border-left: 40px solid transparent;
				border-right: 40px solid transparent;
				border-bottom: 40px solid #2c373e;
			}
		}
			.group {
				margin-bottom: 32px;
				label {
					font-family: Roboto;
					font-size: 16px;
					text-align: left;
					color: #f2f5f9;
					display: block;
					margin-bottom: 16px;
					span {
						color: #a0b2b8;
					}
				}
				textarea {
					border-radius: 8px;
					background-color: #2c373e;
					border: solid 1px #191d1f;
					color: #a0b2b8;
					resize: none;
					width: 100%;
					padding: 16px 23px;
				}
				input {
					border-radius: 8px;
					background-color: #2c373e;
					border: solid 1px #191d1f;
					color: #a0b2b8;
					width: 100%;
					padding: 16px 23px;
				}

				.content {
					border-radius: 8px;
					border: solid 1px #191d1f;
					padding: 16px 24px;
					p {
						font-family: Roboto;
						font-size: 14px;
						line-height: 1.86;
						letter-spacing: 0.3px;
						text-align: left;
						color: #a0b2b8;
						margin: 0;
					}
					span {
						border-radius: 16px;
						background-color: #6f7e82;
						border: solid 1px #979797;
						padding: 8px 20px;
						margin-right: 10px;
						font-family: Roboto;
						font-size: 14px;
						letter-spacing: 0.3px;
						text-align: left;
						color: #e2e6e7;
					}
				}
			}
			.button {
				text-align: right;
				button {
					border: none;
					border-radius: 8px;
					background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
					box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.16);
					color: #ffffff;
					padding: 7px 15px;
					font-family: Roboto;
					font-size: 16px;
					font-weight: bold;
					text-align: left;
				}
			}
			.edit-button {
				display: flex;
				justify-content: space-between;
				align-items: center;
				p {
					margin: 0;
					background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
					font-family: Roboto;
					font-size: 16px;
					text-align: left;
					-webkit-background-clip: text;
					background-clip: text;
					-webkit-text-fill-color: transparent;
				}
				button {
					border: none;
					border-radius: 8px;
					background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
					box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.16);
					color: #ffffff;
					padding: 7px 15px;
					font-family: Roboto;
					font-size: 16px;
					font-weight: bold;
					text-align: left;
				}
			}
	}

	.timer {
		text-align: center;
		margin-bottom: 40px;
		p {
			margin: 0;
			font-family: Roboto;
			font-size: 16px;
			font-weight: 300;
			line-height: 1.5;
			text-align: center;
			color: #afc0c5;
			span {
				font-weight: bold;
			}
		}
	}
	.editButton {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		button {
			border: none;
			border-radius: 8px;
			background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
			box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.16);
			color: #ffffff;
			padding: 7px 15px;
			font-family: Roboto;
			font-size: 16px;
			font-weight: bold;
			text-align: left;
		}
	}
	section {
		&.guests-intro-section {
			padding-bottom: 0;
			margin-top: 95px;
		}
	}
	section {
		#results {
			&:before {
				height: 30%;
			}
			.agree-disagree {
				padding-bottom: 80px;
				border-bottom: solid 1px #191d1f;
				background: #2c373e;
			}
			.states {
				margin-bottom: 64px;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 50%;
					bottom: 9%;
					width: 1px;
					height: 60px;
					background-color: #6f7e82;
					transform: translate(-50%, -50%);
				}
			}
		}
		.showdownBtn {
			display: flex;
			justify-content: center;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 49.93%;
				bottom: -15%;
				width: 1px;
				height: 150px;
				background-color: #6f7e82;
				transform: translate(-49%, 50%);
			}

			.showdown-container {
				text-align: center;
			}
			p {
				background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
				font-family: Roboto;
				font-size: 14px;
				font-weight: bold;
				text-align: left;
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			img {
				margin-bottom: 16px;
			}
		}
	}
	section {
		width: 100%;
		height: 100%;
		position: relative;
		margin-bottom: 0;
		padding-bottom: 80px;
		.showdown {
			width: 100%;
			background-color: #414d54;
			margin-bottom: 40px;
			&.fixTop {
				position: fixed;
				top: 0;
				margin-bottom: 50px;
				z-index: 10;
			}
			.showdown-container {
				padding: 20px;
				display: flex;
				justify-content: space-around;
				align-items: center;
				a {
					font-family: Roboto;
					font-size: 14px;
					font-weight: bold;
					letter-spacing: 1px;
					text-align: left;
					color: #a0b2b8;
					text-decoration: none;
					text-transform: uppercase;
					&.active {
						background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
						-webkit-background-clip: text;
						background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
			}
		}
		.conversation {
			.conversation-container {
				width: 70%;
				margin: 40px auto;
				// height: 100vh;
				overflow-y: auto;
				padding-bottom: 80px;
				// display: flex;
				// flex-direction: column;
				// align-items: flex-start;
				&>div {
					display: flex;
					align-items: flex-start;
					margin-bottom: 30px;
					&.thisDebator {
						align-self: flex-end;
						flex-direction: row-reverse;
					}
				}
				.comment-profile-pic {
					width: 40px;
					margin: 28px 10px 0 0;
				}
				.main {
					.comment-profile-name {
						background-image: linear-gradient(to right, #ff9452, #f96d28 -10%, #ff445e);
						font-family: Roboto;
						font-size: 12px;
						font-weight: bold;
						letter-spacing: 0.6px;
						text-align: left;
						-webkit-background-clip: text;
						background-clip: text;
						-webkit-text-fill-color: transparent;
					}
					.msg {
						background-color: #a0b2b8;
						border: solid 1px #191d1f;
						border-radius: 0 8px 8px 8px;
						padding: 16px 16px 10px;
						width: 483px;
						margin-bottom: 15px;
						word-break: break-all;
						img {
							border-radius: 16px;
							box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
							border: solid 4px #e2e6e7;
							width: 100%;
							max-height: 500px;
							margin-bottom: 15px;
						}
						P {
							margin: 0 0 10px;
							font-family: Roboto;
							font-size: 14px;
							line-height: 1.5;
							letter-spacing: 0.5px;
							text-align: left;
							color: #2c373e;
							&.time {
								margin: 0;
								color: #6f7e82;
								font-size: 12px;
							}
						}
					}
					.active-user-applause {
						display: flex;
						justify-content: space-between;
						align-items: flex-start;
						.active-user {
							display: flex;
							align-items: center;
							img {
								width: 30px;
								height: 30px;
									border-radius: 50%;
									margin-left: 10px;
							}
							p {
								margin: 0;
								margin-left: 10px;
								background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
								font-family: Roboto;
								font-size: 12px;
								letter-spacing: 0.6px;
								-webkit-background-clip: text;
								background-clip: text;
								-webkit-text-fill-color: transparent;
							}
						}
						.applause {
							display: flex;
							align-items: center;
							img {
								margin-right: 10px;
							}
							p {
								margin: 0;
								font-family: Roboto;
								font-size: 12px;
								letter-spacing: 0.6px;
								text-align: left;
								color: #a0b2b8;
							}
						}
					}
				}
				.otherDebator {
					position: relative;
					.openModal {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
				}
				.thisDebator {
					position: relative;
					.openModal {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
					.comment-profile-pic {
						margin: 28px 0 0 10px;
					}
					.main {
						.comment-profile-name {
							background-image: linear-gradient(to right, #ff9452, #f96d28 90%, #ff445e);
							text-align: right;
							-webkit-background-clip: text;
							background-clip: text;
							-webkit-text-fill-color: transparent;
							padding-right: 10px;
						}
						.msg {
							background-color: #414d54;
							border-radius: 8px 0 8px 8px;
							P {
								text-align: right;
								color: #e2e6e7;
							}
						}
					}
				}
			}
		}
		.enterComment {
			border-radius: 8px;
			background-color: #414d54;
			border: solid 1px #191d1f;
			width: 55%;
			margin: 30px auto 0;
			padding: 20px 24px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: fixed;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			&.hidden {
				display: none;
			}
			img {
				margin-right: 10px;
			}
			textarea {
				flex: 1;
				margin-right: 10px;
				background: transparent;
				border: none;
				border-left: 1px solid #191d1f;
				border-right: 1px solid #191d1f;
				padding: 10px 23px;
				font-family: Roboto;
				font-size: 14px;
				letter-spacing: 0.3px;
				text-align: left;
				color: #a0b2b8;
			}
			.btn {
				background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
				font-family: Roboto;
				font-size: 12px;
				font-weight: bold;
				letter-spacing: 0.6px;
				text-align: left;
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				text-decoration: none;
				text-transform: uppercase;
				padding: 0;
			}
		}
	}

	#conclusion {
		width: 55%;
		margin: 30px auto 50px;
		position: relative;
		&:before {
			content: "";
			width: 1px;
			height: 50%;
			background-color: #6f7e82;
			left: 50%;
			bottom: 0;
			margin-top: 100px;
			position: absolute;
			transform: translateX(-50%);
		}
		.heading {
			font-family: Roboto;
			font-size: 24px;
			line-height: 1.0;
			text-align: center;
			color: #a0b2b8;
			margin-bottom: 79px;
		}
		.up-arrow {
			background: url('/debate/oval.svg') no-repeat;
			width: 80px;
			height: 80px;
			background-position: center;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 50%);
			img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.conclusion-view {
			border-radius: 16px;
			background-color: #414d54;
			box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
			padding: 40px;
			position: relative;
			z-index: 1;
			.debator {
				position: absolute;
				top: 5px;
				left: 60%;
				transform: translate(-50%, -50%);
				margin-right: 10px;
				img {
					width: 40px;
					height: 40px;
				}
				&.active {
					left: 50%;
					img {
						width: 56px;
						height: 56px;
					}
				}
			}
			p {
				width: 60%;
				margin: 0 auto 40px;
				font-family: Roboto;
				font-size: 16px;
				font-weight: normal;
				line-height: 1.5;
				text-align: center;
				color: #f2f5f9;
			}
			textarea {
				width: 100%;
				border-radius: 8px;
				background-color: #2c373e;
				border: solid 1px #191d1f;
				resize: none;
				font-family: Roboto;
				font-size: 14px;
				line-height: 1.86;
				letter-spacing: 0.3px;
				text-align: left;
				color: #a0b2b8;
				padding: 16px 24px;
			}
			.button {
				text-align: right;
				button {
					border: none;
					border-radius: 8px;
					background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
					box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.16);
					color: #ffffff;
					padding: 7px 15px;
					font-family: Roboto;
					font-size: 16px;
					font-weight: bold;
					text-align: left;
				}
			}
		}
		.states {
			margin: 80px auto 0;
			.states-container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 85%;
				margin: auto;
				border-radius: 16px;
				border: solid 1px #6f7e82;
				padding: 32px;
				background-color: #191d1f;
				z-index: 1;
				position: relative;
				p {
					font-family: Roboto;
					font-weight: 300;
					text-align: left;
					margin: 0;
					&.num {
						font-size: 32px;
						color: #6f7e82;
					}
					&.sub {
						font-size: 16px;
						color: #a0b2b8;
					}
				}
				.state-elem {
					display: flex;
					align-items: flex-start;
					img {
						margin: 10px 10px 0 0;
					}
				}
			}
		}
	}
}

.disagree-nav {
	background-color: #191d1f;
	opacity: 0.64;

	&.debate-navbar {
		position: static;
	}
}