<template name="replyModal">
	<div class="modal facts fade">
		<div class="vertical-alignment-helper">
			<div class="modal-dialog vertical-align-center">
				<div class="modal-content">
					
					<div class="modal-header">
						<img src="/debate/messages-chat-grey.svg" alt="chat icon">
						<h4 class="modal-title">Post a Reply</h4>
					</div>
	
					<div class="modal-body">
						{{ getIds this }}
						{{userReply this}}
							<div class="attachment">
								<input type="text" id="link" placeholder="Paste Link (compulsary)" value="{{getLink}}">
								<img src="/debate/link.svg" alt="link icon">
							</div>
							<div class="statement">
								<textarea name="statement" id="replyStatement" cols="30" rows="5" placeholder="type your statement" value={{getMessage}}></textarea>
							</div>
					</div>
	
					<div class="modal-footer">
						<button type="button" class="btn btn-post post">Post</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>