<template name="navbar">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">LMS</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          {{ #if currentUser}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/create-resource">Add a Resource</a></li>
              <li><a href="#" id="discussionForm">Add a Discussion</a></li>
            </ul>
          </li>
          <li><a href="#" id="chat">Chat</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="#" id="logout">Logout</a></li>
          {{ else }}
          <li><a href="#" id="login">{{> loginButtons}}</a></li>
          {{ /if }}
        </ul>
      </div>
    </div>
  </nav>
  <br>
</template>