<template name="botStartModel">
  <div class="modal fade">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Bot Says</h4>
        </div>
        <div class="modal-body">
          <div class="row flex-container">
            <div class="col-sm-2">
              <div class="side-bar">
                <img src="/text-icon.png" alt="text icon">
                <img src="/bullet-icon.png" alt="bullet icon">
              </div>
            </div>
            <div class="col-sm-10">
              <img src="/outline-plus.png" class='float-plus' alt="circle plus">
              <input type="text" name="right_html" class="form-control input-lg summernote-right-botStart" placeholder="Text Goes Here">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default createConv">Add</button>
        </div>
        <div class="cross-btn">
          <img src="/close-icon.png" alt="close">
          <a href="#" class="close"></a>
        </div>
      </div>
    </div>
  </div>
</template>