.modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    position: relative;

    .modal-header{
        border-bottom: none;
        padding: 10px 0;
        color: #fff;
    }

    .modal-body {
        padding: 0;
        padding: 20px;
		background-color: #EDF2F4;

		.float-plus{
			position: absolute;
			top: 0;
			left: -13px;
			cursor: pointer;
			transition: all 0.5s ease-in;

			&.cross{
				transform: rotate(45deg)
			}
		}
        .note-editor.note-frame{
            border: none;
        }
        .panel-default{
            border-color: transparent;
        }

        .panel{
            border-radius: 0;
            box-shadow: none;
            margin-bottom: 0;
        }

        .panel-default>.panel-heading {
            background-color: #fff;
            border-color: transparent;
            border-bottom: none;
        }

        .note-resizebar{
            display: none;
        }

        .flex-container{
            display: flex;
        }

        .side-bar{
            background: url('/rectangle-icon.png') no-repeat;
            background-position-x: 5px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-radius: 40%;
		}

		@keyframes enter {
			from {
				transform: translateX(5%);
				opacity: 0;
			}
			to {
				transform: translateX(0);
				opacity: 1;
			}
		}

		@keyframes exit {
			from {
				transform: translateX(0);
				opacity: 1;
			}
			to {
				transform: translateX(5%);
				opacity: 0;
			}
		}

		.slide-enter-active {
			animation: enter 0.5s forwards;
		}

		.slide-leave-active {
			animation: exit 0.5s forwards;
		}

    }

    .modal-footer{
        border-top: none;
        text-align: center;
        padding: 10px 0;
        background-color: #fff;

        .btn,
        .btn-default:hover,
        .btn-default:focus,
        .btn-default:active,
        .btn-default:visited {
            background-color: transparent;
            border-radius: 0;
            border: none;
            outline: none;
            box-shadow: none;
            color: #00BBFF;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .cross-btn {
        position: absolute;
        background: #fff;
        top: 20%;
        right: -10%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transform: translate(-20%, -60%);

        img{
            position: absolute;
            width: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        a{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}
