<template name="botResponseModel">
  <div class="modal fade botResponse-says">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Bot Says</h4>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4 res-left-panel">
              <small>Response from previous line</small>
              {{ #with getUserResponse}}
              <div class="tags-container">
                {{#each this}}
                <div class="tags">
                  <div class="tag-container userTag" id={{this}}>
                    {{ this }}
                  </div>
                </div>
                {{/each}}
              </div>
              {{ /with }}
            </div>
            <div class="col-sm-8 res-right-panel">
              {{ #with getTagName }}
              <p>Bot's response for <strong class="blue">'{{this}}'</strong></p>
              {{ /with }}
              <img src="/outline-plus.png" class='float-plus' alt="circle plus">
              <input type="text" name="right_html" class="form-control input-lg summernote-right-botresponse" placeholder="Text Goes Here">
              {{ #with getTagName }}
              <div class="button-save">
                <button class="btn btn-primary save" id={{this}}>Save Response</button>
              </div>
              {{ /with }}
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default addToServer">Add</button>
        </div>
        <div class="cross-btn">
          <img src="/close-icon.png" alt="close">
          <a href="#" class="close"></a>
        </div>
      </div>
    </div>
  </div>
</template>