<template name="userStartModel">
  <div class="modal fade learner-says">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Learner Says</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4 model-left-panel">
              <div class="input-group add-form">
                <input type="text" class="form-control" id="tagForm">
                <span class="input-group-btn">
                  <button class="btn btn-default addTags" type="button">Add</button>
                </span>
              </div>
              <small>tags (separate by comma or spacebar)</small>
              {{ #with getTags}}
              <div class="tags-container">
                {{#each this}}
                <div class="tags">
                  <div class="tag-container" id={{this}}>
                    <span class="tag">{{ this }}</span>
                    <img class="del" id=del-{{this}} src="/close-icon.png" alt="cross-icon">
                  </div>
                </div>
                {{/each}}
              </div>
              {{ /with }}
            </div>
            <div class="col-sm-8 model-right-panel" >
              {{ #with getTagName }}
                <p>Learner's response for <strong class="blue">'{{this}}'</strong>  </p>
                <img src="/outline-plus.png" class='float-plus' alt="circle plus">
                <input type="text" name="right_html" data-summernote-initialized=false class="form-control input-lg summernote-right-tags" placeholder="Add your Response">
                <div class="button-save">
                  <button class="btn btn-primary save" id={{this}}>Save Response</button>
                </div>
              {{ /with }}
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default addTagsToServer">Add</button>
        </div>
        <div class="cross-btn">
          <img src="/close-icon.png" alt="close">
          <a href="#" class="close"></a>
        </div>
      </div>
    </div>
  </div>
</template>