.learner-says {
  .model-left-panel {
    padding: 0;
    .add-form {
      padding: 20px 20px 0;
      margin-bottom: 5px;
    }
    small {
      padding-left: 22px;
      color: #AFAFAF;
    }
    .tags-container {
      margin-top: 20px;
    }
    .tags {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border-bottom: 1px solid #B9C4CB;
      &:first-child {
        border-top: 1px solid #B9C4CB;
      }
      .tag-container {
        background: #fff;
        width: 100px;
        padding: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        &.active {
          color: #fff;
          background: rgb(0,187,255);
          border: 1px solid darken(rgb(0,187,255), 10%);
        }
        span {
          font-size: 12px;
          pointer-events: none;
        }
        img {
          width: 10px;
        }
      }
    }
  }
  .button-save {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
    .save,
    .save:hover,
    .save:active,
    .save:focus,
    .save:visited {
      background: transparent;
      border: none;
      color: #00BBFF;
      font-size: 14px;
      font-weight: bold;
      border-radius: 0;
      border: none;
      outline: none;
      box-shadow: none;
      text-transform: uppercase;
    }
  }
  .cross-btn {
    right: -7%;
    top: 18%
  }
  .model-right-panel {
    background: #F7F7F7;
    padding: 20px;
    box-shadow: 0 0 24px rgba(0, 0, 0, .08);
    min-height: 300px;
  }
  .addTags {
    background: #B9C4CB;
    color: #fff;
    font-size: 14px;
  }
  .modal-body {
    padding: 0;
    .float-plus {
      position: absolute;
      top: 50px;
      left: 5px;
      cursor: pointer;
      transition: all 0.5s ease-in;
      &.cross {
        transform: rotate(45deg)
      }
    }
    .note-editor {
      width: 95%;
      margin: 0 auto;
    }
    .note-toolbar {
      display: none;
    }
    @keyframes enter {
      from {
        transform: translateX(5%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
    @keyframes exit {
      from {
        transform: translateX(0);
        opacity: 1;
      }
      to {
        transform: translateX(5%);
        opacity: 0;
      }
    }
    .slide-enter-active {
      animation: enter 0.5s forwards;
    }
    .slide-leave-active {
      animation: exit 0.5s forwards;
    }
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}