@import 'variables';

.thin {
	font-weight: 300;
}

.bold {
	font-weight: 300;
}

.ml1 {
	margin-left: 1em;
}

.mr1 {
	margin-right: 1em;
}

.blue {
	color: $sky-blue;
}

.text-underline {
	border-bottom: solid 1px #eaeaea;
}

.inline-block {
	display: inline-block;
}

.text-left {
	text-align: left;
}

.text-center {
    text-align: center;
}

.events-container {
	width: 95%;
	margin: 0 auto;
}

.noMarginTop {
	margin-top: 0;
}

.noMarginBottom {
	margin-bottom: 0;
}

.noMargin {
	margin: 0;
}

.noPadding {
	padding: 0;
}

.universities-container {
	background: rgba(0,0,0,0.4);
	padding: 10px;
	img {
		max-height: 70px;
	}
}

img-responsive {
	width: 100% !important;
	height: auto;
	display: block;
}


@media (max-width: 480px) {
	.hide-xs {
		display: none;
	}
	.show-xs {
		display: block;
	}
}

@media (min-width: 481px) {
	.show-xs {
		display: none;
	}
}

.width100 {
	width: 100%;
}

.fullHeight {
    height: 100vh;
}

.no-bullet {
	list-style-type: none;
}
.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.auto-margin {
	margin: 0 auto;
}