.flex-box {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.justify-content-space-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  -ms-flex-pack: distribute;
}

.justify-content-space-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -ms-flex-pack: justify;
}

.justify-content-flex-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -ms-flex-pack: end;
}

.justify-content-flex-start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -ms-flex-pack: start;
}
.justify-content-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-vertical-baseline {
  align-items: baseline;
  -webkit-align-items: baseline;
  -ms-align-items: baseline;
  -ms-flex-align: baseline;
}

.flex-vertical-start {
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  -ms-flex-align: start;
}

.flex-vertical-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  -ms-flex-align: end;
}

.flex-vertical-center-align {
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
}

.flex-wrap {
  flex-wrap : wrap;
  -webkit-flex-wrap : wrap;
  -ms-flex-wrap: wrap;
}

.no-flex-wrap {
  flex-wrap : nowrap;
  -webkit-flex-wrap : nowrap;
  -ms-flex-wrap: nowrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
	flex-direction: row;
}

.flex-direction-row-reverse {
	flex-direction: row-reverse;
}

.flex-basis-20 {
  -webkit-flex-basis: 20%;
  flex-basis: 20%;
}

.flex-basis-25 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
}

.flex-basis-30 {
  -webkit-flex-basis: 30%;
  flex-basis: 30%;
}

.flex-basis-40 {
  -webkit-flex-basis: 40%;
  flex-basis: 40%;
}

.flex-basis-50 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}

.flex-basis-60 {
  -webkit-flex-basis: 60%;
  flex-basis: 60%;
}

.flex-basis-70 {
  -webkit-flex-basis: 70%;
  flex-basis: 70%;
}

.flex-basis-75 {
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
}

.flex-basis-1-3 {
  -webkit-flex-basis: 33.33%;
  flex-basis: 33.33%;
}

.flex-basis-2-3 {
  -webkit-flex-basis: 66.67%;
  flex-basis: 66.67%;
}


@media (max-width: 480px) {
  .justify-content-center-xs {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .flex-vertical-center-align-xs {
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
  }
  .justify-content-flex-start-xs {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -ms-flex-pack: start;
  }
}
