.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
  color: #ffffff;
  background-color: #00BBFF;
  border-color: #00BBFF;
  box-shadow: 0 0 0 rgba(0,0,0,0.16);
};

.btn-blue.btn-outline {
    outline: none;
    color: rgb(0,187,255);
    border: 1px solid #00BBFF;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    min-width: 80px;
    &:active, &:focus {
        color: white;
    }
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover,
.btn-blue.btn-outline:hover {
    color: #fff;
}
