/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
  background: none;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #242424;
  opacity: 0.7;
  font-size: 12px;
  font-weight: bold;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs > li {
  &:hover {
    &::after {
      content:"";
      position: absolute;
      border-bottom: 2px solid rgba(0,187,255,0.5);
      bottom: 5px;
      left: calc(50% - 8px);
      width: 16px;
    }
  }
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  position: relative;
  &::after {
    content:"";
    position: absolute;
    border-bottom: 2px solid rgb(0,187,255);
    bottom: 5px;
    left: calc(50% - 8px);
    width: 16px;
  }
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  background: none;
  color: rgb(0,187,255);
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid rgba(0,187,255,0.5);
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid rgb(0,187,255);
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}



/* ------- Radio Tabs ------- */

/* Default mode */
.tabbable-line > .radio-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .radio-tabs > li {
  margin-right: 2px;
  background: none;
}
.tabbable-line > .radio-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #242424;
  opacity: 0.7;
  font-size: 12px;
  font-weight: bold;
}
.tabbable-line > .radio-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .radio-tabs > li.open,
.tabbable-line > .radio-tabs > li {
  &:hover {
    &::after {
      content:"";
      position: absolute;
      border-bottom: 2px solid #17B465;
      opacity: 0.5;
      bottom: 5px;
      left: calc(50% - 8px);
      width: 16px;
    }
  }
}
.tabbable-line > .radio-tabs > li.open > a, .tabbable-line > .radio-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .radio-tabs > li.open > a > i, .tabbable-line > .radio-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .radio-tabs > li.open .dropdown-menu, .tabbable-line > .radio-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .radio-tabs > li.active {
  position: relative;
  &::after {
    content:"";
    position: absolute;
    border-bottom: 2px solid #17B465;
    bottom: 5px;
    left: calc(50% - 8px);
    width: 16px;
  }
}
.tabbable-line > .radio-tabs > li.active > a {
  border: 0;
  background: none;
  color: #17B465;
}
.tabbable-line > .radio-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .radio-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .radio-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .radio-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #17B465;
  opacity: 0.5;
}
.tabbable-line.tabs-below > .radio-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #17B465;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
