<template name="resourceCreate">
	<div class="navbar nav-bg navbar-fixed-top resource-top-navbar">
		<div class="container-fluid width100">
			<ul class="nav navbar-nav flex-box flex-vertical-center-align">
				<div><a href="/"><img src="/back.svg" alt="home"></a></div>
				<li>
					<h4 class="col-sm-12 thin title">New Resource</h4>
				</li>
			</ul>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
			</div>

			<ul class="nav navbar-nav navbar-right top-nav-right flex-box flex-vertical-center-align mr1">
				<li><button class="save-resource">SAVE</button></li>
			</ul>
		</div>
	</div>
	<div class="container-fluid noPadding" style="margin-top: 50px;">
		<form id="resource_form">

			<div class="resource-cover-page">

				<div class="col-sm-12">
					<div class="jumbotron resource-jumbotron col-sm-6">
						<div class="form-group col-sm-4 col-xs-12 noPadding">
							<label for="program">Program:</label>
							<select name="program" class="form-control" id="program">
									<option value="YES PEACE">YES PEACE</option>
									<option value="LIBRE">LIBRE</option>
									<option value="YOUTH LEADERS">YOUTH LEADERS</option>
								</select>
						</div>
						<input type="text" name="title" class="form-control input-lg" placeholder="Title of your resource">
						<input type="text" name="tags" class="tags" placeholder="tags">
						<div class="clearfix"></div>
						<div class="description-input-container content-container width100">
							<img class="toggle-toolbar" src="/outline-plus.png" alt="circle plus">
							<textarea name="description" class="form-control input-lg description-input"></textarea>
						</div>
						<br>
						<input type="hidden" name="time" value="10">
						<div class="col-sm-10 profile-container noPadding">
							{{#with getCurrentUserDetails}}
							<div class="flex-box justify-content-space-between flex-wrap">
								<div class="flex-box">
									<div class="profile-pic mr1 flex-box justify-content-center flex-vertical-center-align">
										<img class="img-responsive img-circle" src="{{ profile.pic }}" alt="{{ username }}">
									</div>
									<div class="flex-box flex-direction-column flex-vertical-start">
										<span class="username thin">{{ profile.firstName }} {{ profile.lastName }}</span>
										{{#if designation}}
											<span class="designation">
												{{ designation }}
											</span>
										{{else}}
											<span class="designation">
												Author
											</span>
										{{/if}}
									</div>
								</div>
                {{#if currentUser}}
                {{else}}
                  <input type="button" class="follow-user" value="Follow {{ profile.firstName }} {{ profile.lastName }}" />
                {{/if}}
							</div>
							{{/ with}}
						</div>
					</div>
					<div class="col-sm-6 coverPicContainer noPadding noPadding flex-box flex-vertical-center-align justify-content-center">
						<div class="small-loader hidden"></div>
						<input type="text" name="coverPic" class="coverPic">
					</div>
					<div class="clearfix"></div><br>
				</div>
			</div>

			<div class="col-sm-12">
				<input type="submit" class="btn btn-primary btn-outline btn-lg pull-right hidden" value="Add Resource" />
			</div>
		</form>
	</div>

	{{> resource_footer }}

</template>