@media screen and (min-width: 768px) {
  .navbar-brand-centered {
    height: 50px;
    position: absolute;
    left: 50%;
    display: block;
    width: 200px;
    font-size: 16px;
    color: #656565;
    text-align: center;
    .time {
      font-size: 12px;
    }
    .views {
      font-size: 12px;
    }
  }
  .navbar>.container .navbar-brand-centered,
  .navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
  }
}

.top-nav-right {
  height: 50px;
  li {
    margin-right: 1em;
  }
}

.resource-top-navbar {
  .title {
    font-size: 20px;
    color: #a0b2b8;
  }
}

#resource_form {
  .resource-jumbotron {
    padding: 40px;
    position: relative;
    height: calc(100vh - 100px);
    margin: 0;
    word-wrap: break-word;
    label {
      color: #eaeaea;
    }
    select {
      background: transparent;
      border: 0;
      border-bottom: 2px solid #eaeaea;
      border-radius: 0;
      box-shadow: none;
      background-image: none;
      -webkit-appearance: none;
      color: #747474;
      padding: 0;
    }
    .bootstrap-tagsinput {
      padding: 0;
      input {
        min-width: 75px;
      }
    }
    input:not([type="button"]),
    .bootstrap-tagsinput {
      border: 0;
      box-shadow: none;
      border-radius: 0;
      font-size: 16px;
      color: #747474;
      padding: 0;
      background: transparent; //   border-bottom: 2px solid #eaeaea;
      &::placeholder {
        padding-left: 0;
      }
      input {
        padding: 0;
        height: 34px;
        padding: 10px 3px;
        &::placeholder {
          padding-left: 0;
          line-height: 50px;
          color: #E0E0E0;
          opacity: 1;
        }
      }
      span.label {
        display: inline-block;
        color: rgb(116, 116, 116); // font-size: 16px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 2px 5px;
        font-weight: 600;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(221, 221, 221);
        border-image: initial;
        background: rgb(255, 255, 255);
        transition: all 0.5s ease-in-out;
        border-radius: 20px;
        padding: 7px 10px;
        margin: 0px 10px 6px 0px;
      }
      &.input-lg {
        font-family: 'Noto Serif', serif;
        font-size: 32px;
        font-weight: bold;
        line-height: 1.31;
        color: #2c373e;
        padding-bottom: 10px;
        &::placeholder {
          font-size: 32px;
          font-weight: bold;
          padding-left: 0;
          line-height: 50px;
          opacity: 1;
        }
      }
      &:focus {
        transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        border-bottom: 2px solid rgb(0, 187, 255);
      }
      &::placeholder {
        color: #E0E0E0;
        padding-left: 5px;
        opacity: 1;
      }
      &.error {
        border-bottom: 3px solid #EC644B;
      }
    }
  }
  .coverPicContainer {
    background-color: rgb(246, 246, 246);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    height: calc(100vh - 100px);
    position: relative;
    .note-editor {
      height: calc(100vh - 100px);
      border: 0;
      background: transparent;
      box-shadow: none;
    }
    .note-editable {
      background: transparent;
      height: 100%;
      img {
        margin-top: 15px;
        width: auto !important;
        max-height: 180px;
      }
    }
    .note-editing-area {
      position: relative;
      height: 100%;
    }
    .note-placeholder {
      display: block;
      position: absolute;
      top: 50%;
      left: 35%;
    }
    .note-resizebar {
      display: none;
    }
    .note-toolbar {
      z-index: 1;
      position: absolute;
      border: 0;
      top: calc(50% - 100px);
      left: calc(50% - 100px);
      background: transparent;
      button {
        background: rgb(246, 246, 246);
        height: 200px;
        width: 200px;
        border: 0;
        transition: all 0.5s ease-in-out;
        &:hover {
          box-shadow: 1px 1px 8px #eaeaea;
          .note-icon-picture {
            &::before {
              transform: translateY(-10px);
            }
          }
        }
        .note-icon-picture {
          &::before {
            content: url('/upload.png');
          }
        }
        &::before {
          content: "Browse";
          display: block;
          font-size: 16px;
          text-align: center;
          position: absolute;
          bottom: 73px;
          background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          left: 26px;
          font-weight: bold;
        }
        &::after {
          content: "              & upload a \A cover image";
          display: block;
          font-size: 16px;
          text-align: center;
          font-weight: bold;
          color: #C3C3C3;
          white-space: pre;
        }
      }
    }
    .small-loader {
      border: 5px solid #f3f3f3;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
      border-top: 5px solid #555;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      left: 50%;
      position: ABSOLUTE;
      top: 50%;
      z-index: 2;
      transform: translateX(-50%);
      display: block;
    }
  }
}

.profile-container {
  position: absolute;
  bottom: 30px;
  .profile-pic {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16);
    .img-responsive {
      max-width: 75px;
      max-height: 75px;
    }
  }
  .username {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #2c373e;
  }
  .designation {
    font-family: Roboto;
    font-size: 14px;
    text-align: left;
    color: #5a666a;
  }
}

.add-new-page.blue {
  color: rgb(0, 187, 255) !important;
  font-weight: 300;
  font-size: 16px;
  transition: 0.3s all ease-in;
  background-color: #F5F8FA;
}

label.error {
  &:empty {
    display: none !important;
  }
}

.descriptionEditable[contentEditable=true],
.questionDescriptionEditable[contentEditable=true],
.journalingDescriptionEditable[contentEditable=true] {
  min-height: 100px;
  max-height: 200px;
  overflow-y: auto;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  font-size: 16px;
  color: #747474;
  padding: 5px 3px;
  &:focus {
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    border-bottom: 2px solid rgb(0, 187, 255);
  }
  &:empty::before {
    content:attr(data-placeholder);
    color: #E0E0E0;
  }
}

.description-input-container {
  background: white;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  height: 180px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: calc(100% - 5vh);
    width: 8px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.4);
    top: 2.5vh;
    left: -6px;
  }
  .toggle-toolbar {
    z-index: 10;
    position: absolute;
    left: -20px;
    top: 20px;
    transition: all 0.5s ease-in;
    cursor: pointer;
    &.cross {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
  .note-editor {
    top: 15px;
    height: 180px;
    border: 0;
    background: transparent;
    box-shadow: none;
  }
  .note-editable {
    background: transparent;
    height: calc(100% - 50px);
    margin-left: 0;
    margin-top: -4px;
    font-size: auto !important;
    margin-bottom: 15px;
    font-weight: 200;
    p {
      font-size: 14px;
      font-weight: 400;
      color: #747474;
    }
    img {
      margin-top: 15px;
      width: auto !important;
    }
  }
  .note-editing-area {
    position: relative;
    height: 100%;
  }
  .note-placeholder {
    display: block;
    margin-left: 0;
    margin-top: -4px;
    color: #C4C4C4;
  }
  .note-resizebar {
    display: none;
  }
  .note-toolbar {
    position: relative;
    display: none;
    z-index: 1;
    border: 0;
    background: transparent;
    width: 100%;
    margin-left: 0;
    button {
      background: rgb(246, 246, 246);
      border: 0;
      transition: all 0.5s ease-in-out;
      &:hover {
        box-shadow: 1px 1px 8px #eaeaea;
      }
    }
  }
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}