<template name="viewer">
    <div align="center">
        <canvas id="viewerCanvas" width="500" height="200" style="border:2px solid black"></canvas>
        <br />
        <br />
        <button onclick="javascript:clearArea();return false;">Clear Area</button> Line width :
        <select id="selWidth">
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="7">7</option>
            <option value="9" selected="selected">9</option>
            <option value="11">11</option>
        </select> Color :
        <select id="selColor">
            <option value="black">black</option>
            <option value="blue" selected="selected">blue</option>
            <option value="red">red</option>
            <option value="green">green</option>
            <option value="yellow">yellow</option>
            <option value="gray">gray</option>
        </select>
    </div>
</template>