<template name="resource_footer">
  <footer class="pages-footer navbar navbar-fixed-bottom flex-box flex-vertical-center-align flex-wrap" role="contentinfo">
    <div class="col-sm-12 noPadding flex-box justify-content-space-between">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="#" id="show-pages">
            <span class="img-container flex-box flex-vertical-center-align justify-content-center">
              <img src="/book.svg" alt="book">
            </span>
            <span>Table of contents</span>
          </a>
        </li>
      </ul>
      <div class="pull-right">
        <a href="#" class="share">
          <img src="/share.svg" class="mr1" alt="share">
        </a>
        <a href="#" class="like">
          <img src="/love.svg" class="ml1" alt="love">
          <div class="badge mr1 text-center">{{like.length}}</div>
        </a>
        <a href="#" class="bookmark">
          <img src="/bookmark.svg" class="ml1" alt="bookmark">
          <div class="badge text-center">{{bookmark.length}}</div>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right flex-box flex-vertical-center-align">
        <li><a href="#" role="button" class="prev-page blue"><img src="/right.svg" alt="left button"></a></li>
        <li class="counter ml1 mr1">
          <div class="pull-right"><strong><span class="current-page-number">0</span></strong><span class="thin">/{{pages.length}}</span></div>
        </li>
        <li class="mr1"><a href="#" role="button" class="next-page blue mr1"><img src="/right.svg" alt="right button"></a></li>
      </ul>
    </div>
    <div class="jumbotron toc-jumbotron hidden">
      <div id="tableOfContents">
        {{#each pages}}
        <div class="item text-center">
          <div class="item-content flex-box flex-vertical-center-align justify-content-center">
            <a href="#" data-type="{{type}}" data-id="{{id}}" class="getContext text-capitalize text-center">
              <span class="toc-index">{{math @index "+" 1}}</span>
            </a>
            <div class="btn-group action-buttons">
                <a href="#" class="btn btn-sm editContext" data-type="{{type}}" data-id="{{id}}"><img src="/write.png" alt="edit"></a>
                <a href="#" class="btn btn-sm deleteContext" data-type="{{type}}" data-id="{{id}}"><img src="/trash.png" alt="delete"></a>
              </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </footer>
</template>