<template name="resourceList">
	<div class="container-fluid">
		<div class="resource-container flex-vertical-center-align">
			{{> resourceComponentList
					cursor=resourcesListCursor
					subscription="resourceList"
					template="resourcesCards"
			}}
		</div>
	</div>
	{{> bottomNav}}
</template>

<template name="resourceComponentList">
	{{> Template.dynamic template=template data=items}}
	<div class="slider">
		<a href="#" class="prev-resources"><img src="/home/button-left.png" alt="left button"></a>
		<a href="#" data-load class="load-more-resources">
			<img src="/home/button-right.png" alt="right button">
		</a>
	</div>
</template>