.resource-container {
	padding: 50px 0 40px 5px;
	margin-bottom: 50px;
	display: inline-flex;
	.resource-card {
		position: relative;
		position: left;
	}
}

.load-more-resources {
	position: fixed;
	right: 10px;
	top: 5px;
}

.prev-resources {
	position: fixed;
	right: 70px;
	top: 5px;
}