.tags {
  a {
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
    height: 25px;
    color: #5a666a;
    background: rgb(242, 245, 249);
    padding: 3.5px 15px 3.5px 10px;
    margin: 0 15px 6px 0;
    font-weight: bold;
    &:hover,
    &:focus {
      border-color: #aaa;
      text-decoration: none;
    }
    &:before {
      content: url('/dot.svg');
      margin-right: 10px;
    }
  }
}

.tags a.primary {
  color: #FFF;
  background-color: #428BCA;
  border-color: #357EBD
}

.tags a.success {
  color: #FFF;
  background-color: #5CB85C;
  border-color: #4CAE4C
}

.tags a.info {
  color: #FFF;
  background-color: #5BC0DE;
  border-color: #46B8DA
}

.tags a.warning {
  color: #FFF;
  background-color: #F0AD4E;
  border-color: #EEA236
}

.tags a.danger {
  color: #FFF;
  background-color: #D9534F;
  border-color: #D43F3A
}

#tableOfContents {
  display: flex;
  .getContext {
    outline: none;
    text-decoration: none;
    &:hover, &:active, &:focus {
      background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
}

.toc-jumbotron {
  margin-bottom: 0;
  width: 100%;
  background-color: #2c373e;
  padding: 0;
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1000ms linear both;
  overflow: auto;

  .toc-index {
    font-size: 48px;
    font-weight: 100;
    text-align: left;
    color: #6f7e82;
  }
}

.slick-prev,
.slick-next {
  &:before {
    color: green;
  }
}

.counter {
	font-size: 16px;
  font-weight: 300;
	color: #a0b2b8;
}

.resource-cover-page {
  position: relative;
  .jumbotron {
    height: calc(100vh - 100px);
    background: white;
    padding: 40px;
    border-radius: 16px;
    &.resource-jumbotron {
      background: white url('/cover-page-bg.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      word-wrap: break-word;
    }
    h1 {
      font-family: 'Noto Serif', serif;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.31;
      color: #2c373e;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: -40px;
        width: 8px;
        height: 100%;
        background-image: linear-gradient(to bottom, #ff9452, #f96d28 50%, #ff445e);
      }
    }
    h3 {
      color: rgb(116, 116, 116);
      font-weight: 300;
    }
  }
  img {
    width: auto !important;
    max-height: calc(100vh - 120px);
    margin: 0 auto;
  }
}

.pages-footer {
	background-color: #2c373e;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.32);
  min-height: 50px;
  bottom: 0;
  .prev-page {
    img {
      transform: rotate(180deg);
      margin-top: -10px;
      margin-left: -1px;
    }
  }
  .next-page {
    img {
      margin-top: -10px;
      margin-left: 1px;
    }
  }
  .prev-page,
  .next-page {
    width: 40px;
    height: 40px;
    background-color: #21262a;
    border-radius: 20px;
    &:hover, &:active, &:focus {
      background: darken(#2c373e, 70%);
    }
  }
}

.item {
  padding: 10px;
  min-width: 209px;
  .item-content {
    padding: 10px;
    height: 100px;
    background-color: #414d54;
    border-radius: 8px;
    position: relative;
    text-align: left;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out;
    &.active {
      border-style: solid;
      border-width: 2px;
      border-image-source: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
      border-image-slice: 1;
    }
    .action-buttons {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}


/* Animation - Table of contents */

@-webkit-keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1);
  }
  2.1% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 254.451, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 254.451, 0, 1);
  }
  4.2% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 213.686, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 213.686, 0, 1);
  }
  5.71% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 187.459, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 187.459, 0, 1);
  }
  6.31% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 177.626, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 177.626, 0, 1);
  }
  8.36% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 146.773, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 146.773, 0, 1);
  }
  11.31% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 109.374, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 109.374, 0, 1);
  }
  12.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 96.339, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 96.339, 0, 1);
  }
  16.67% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 59.772, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 59.772, 0, 1);
  }
  17.02% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 57.233, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 57.233, 0, 1);
  }
  22.57% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 26.205, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 26.205, 0, 1);
  }
  22.62% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 25.995, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 25.995, 0, 1);
  }
  28.33% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 8.142, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 8.142, 0, 1);
  }
  33.93% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.644, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.644, 0, 1);
  }
  36.29% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.64, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.64, 0, 1);
  }
  45.15% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.128, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.128, 0, 1);
  }
  50% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.746, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.746, 0, 1);
  }
  72.57% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.161, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.161, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1);
  }
  2.1% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 254.451, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 254.451, 0, 1);
  }
  4.2% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 213.686, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 213.686, 0, 1);
  }
  5.71% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 187.459, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 187.459, 0, 1);
  }
  6.31% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 177.626, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 177.626, 0, 1);
  }
  8.36% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 146.773, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 146.773, 0, 1);
  }
  11.31% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 109.374, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 109.374, 0, 1);
  }
  12.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 96.339, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 96.339, 0, 1);
  }
  16.67% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 59.772, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 59.772, 0, 1);
  }
  17.02% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 57.233, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 57.233, 0, 1);
  }
  22.57% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 26.205, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 26.205, 0, 1);
  }
  22.62% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 25.995, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 25.995, 0, 1);
  }
  28.33% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 8.142, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 8.142, 0, 1);
  }
  33.93% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.644, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.644, 0, 1);
  }
  36.29% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.64, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.64, 0, 1);
  }
  45.15% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.128, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.128, 0, 1);
  }
  50% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.746, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.746, 0, 1);
  }
  72.57% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.161, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.161, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

.resource-nav-right {
  display: flex;
  align-items: center;
  height: 50px; // Height of the navbar
  margin-right: 0.5em;
  > li {
    height: 40px;
    border-radius: 20px;
    color: #ffffff;
    display: flex;
    font-size: 14px;
    .notification-type {
      color: #a0b2b8;
    }
    a.bg, a.dropdown-toggle {
      padding: 0;
      height: 40px;
      width: 40px;
      padding: 10px;
      text-align: center;
      border-radius: 20px;
      background-color: #21262a;
      margin-right: 7px;
      &:hover,
      &:focus,
      &:active {
        background: darken(#21262a, 70%);
      }
    }
    &.auto-width {
      width: auto;
      border-radius: 20px;
      padding: 3px 10px;
      height: 36px;
      line-height: 36px;
      font-size: 12px;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
      a,
      a span {
        color: rgb(0, 187, 255);
        &:hover {
          color: rgb(0, 187, 255);
          opacity: 0.7;
        }
      }
      strong {
        margin-left: 7px;
      }
    }
    &:last-child {
      height: 40px;
      width: 40px;
      border-radius: 20px;
      a {
        padding: 8px;
      }
    }
  }
}

.resource-top-navbar {
  height: 50px;
  .navbar-nav {
    height: 50px;
    .title-list {
      width: 400px;
      .title {
        list-style-position: inside;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.coverPicContainer {
  background-color: rgb(246, 246, 246);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  height: calc(100vh - 100px);
  overflow: hidden;
}

.resource-description {
  font-size: 14px;
  p {
    font-size: 14px;
    color: #2c373e;
    font-weight: 400;
  }
  line-height: 1.71;
  text-align: left;
  color: #2c373e;
  font-weight: normal;
  max-height: 250px;
  overflow-y: auto;
}

.custom-padding {
  padding: 0;
  padding-top: 60px;
}

.main-dropdown-menu>li>a {
  color: #5a666a;
}
.main-dropdown ul.main-dropdown-menu {
  border-radius:4px;
  box-shadow:none;
  margin-top:20px;
  left: -115px;
  background:#fff;
  border:1px solid #ccc;
  border-radius:4px;
  .divider {
    margin: 0;
  }
}
.main-dropdown ul.main-dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 10;
}
.main-dropdown ul.main-dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  right: 14px;
  z-index: 9;
}