<template name="resource">
  {{ #with getResource }}

  <div class="navbar nav-bg navbar-fixed-top resource-top-navbar">
    <div class="container-fluid width100">
      <ul class="nav navbar-nav flex-box flex-vertical-center-align">
        <li>
          <a class="navbar-brand" href="/">
            <img src="/home/logo-chi.png" alt="chi logo">
          </a>
        </li>
        <li class="title-list">
          <h4 class="col-sm-12 thin title">{{Title}}</h4>
        </li>
      </ul>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <ul class="nav navbar-nav navbar-right resource-nav-right">
        <li class="flex-box mr1">
          <a class="bg flex-box justify-content-center flex-vertical-center-align" href="#">
            <img src="/note.svg" alt="note">
          </a> <span class="notification-type">Notes :</span>&nbsp;0
        </li>
        <li class="flex-box mr1">
          <a class="bg flex-box justify-content-center flex-vertical-center-align" href="#">
            <img src="/response.svg" alt="response">
          </a> <span class="notification-type">Responses :</span>&nbsp;0
        </li>
        <li class="flex-box mr1">
          <a class="bg flex-box justify-content-center flex-vertical-center-align" href="#">
            <img src="/chat.svg" alt="like">
          </a> <span class="notification-type">Chat :</span>&nbsp;0
        </li>
        <li>
          <ul class="nav navbar-nav">
            <li class="main-dropdown dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle flex-box justify-content-center flex-vertical-center-align text-center">
                <img src="/menu.svg" alt="menu">
              </a>
              <ul class="main-dropdown-menu dropdown-menu">
                <li><a class="width100" href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                <li class="divider"></li>
                <li><a class="width100" href="#">Dashboard <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
                <li class="divider"></li>
                <li><a class="width100" href="#">Notifications <span class="badge pull-right"> 42 </span></a></li>
                <li class="divider"></li>
                <li><a class="width100" href="#">Favourites <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
                <li class="divider"></li>
                <li><a class="logout width100" href="#">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
              </ul>
            </li>
          </ul>

        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid custom-padding">
    <div class="resource-cover-page">
      <div class="col-sm-12">
        <div class="jumbotron resource-jumbotron col-sm-6">
          <h1 class="noMarginTop">{{title}}</h1>
          <div class="tags">
            {{{splitTags tags}}}
          </div>
          <br>
          <div class="resource-description">{{{description}}}</div>
          <br>
          <div class="col-sm-10 profile-container noPadding">
            {{#with getUserDetails author}}
              <div class="flex-box justify-content-space-between flex-wrap">
                <div class="flex-box">
                  <div class="profile-pic mr1 flex-box justify-content-center flex-vertical-center-align">
                    <img class="img-responsive img-circle" src="{{ profile.pic }}" alt="{{ username }}">
                  </div>
                  <div class="flex-box flex-direction-column flex-vertical-start">
                    <span class="username thin">{{ profile.firstName }} {{ profile.lastName }}</span>
                    {{#if designation}}
                      <span class="designation">
                        {{ designation }}
                      </span>
                    {{else}}
                      <span class="designation">
                        Author
                      </span>
                    {{/if}}
                  </div>
                </div>
                {{#if isCurrentUser this}}
                {{else}}
                  <input type="button" class="follow-user" value="Follow {{ profile.firstName }} {{ profile.lastName }}" />
                {{/if}}
              </div>
            {{/ with}}
          </div>
        </div>
        <div class="col-sm-6 coverPicContainer noPadding noPadding flex-box flex-vertical-center-align justify-content-center">
          <img class="img-responsive" src="{{coverPic}}" alt="" style="width: 100%">
        </div>
        <div class="clearfix"></div><br>
      </div>
    </div>
    <div class="dynamic-template">
      {{#with getTemplate}}
        {{> Template.dynamic template=type data=template}}
        <!-- {{../pages.length}} -->
				<div class="pull-right">
					<button class="article-next-page next-page flex-box flex-vertical-center-align">
						Next Page&nbsp;&nbsp;
						<div class="svg-container flex-box flex-vertical-center-align justify-content-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><defs><linearGradient id="a" x1="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#FF9452"/><stop offset="49.522%" stop-color="#F96D28"/><stop offset="100%" stop-color="#FF445E"/></linearGradient></defs><path fill="url(#a)" fill-rule="evenodd" d="M14.673 15.726l-.004.003a.995.995 0 0 0-.05 1.407l.957 1.02a.5.5 0 0 1-.365.843H9a1 1 0 1 0 0 2h6.197a.5.5 0 0 1 .36.845l-.927.974a.994.994 0 0 0 1.44 1.366l2.69-2.848a2 2 0 0 0-.007-2.753l-2.686-2.816a.993.993 0 0 0-1.394-.044M26.223 10h-6.446C18.8 10 18 10.68 18 12.11v.897c0 .548.444.993.993.993h.013a.994.994 0 0 0 .994-.993v-.014c0-.548.444-.993.993-.993h4.013c.55 0 .994.445.994.993v14.014a.994.994 0 0 1-.994.993h-4.013a.993.993 0 0 1-.993-.993v-.014a.994.994 0 0 0-.994-.993h-.013a.993.993 0 0 0-.993.993v1.118c0 1.183.847 1.89 1.777 1.89h6.445c.982 0 1.778-.796 1.778-1.778V11.778c0-.982-.796-1.778-1.778-1.778" transform="translate(-8 -10)"/></svg>
						</div>
					</button>
        </div>
        <div class="clearfix"></div>
        <br><br><br><br>
      {{/with}}
    </div>

    {{> resource_footer }}

  </div>
  {{ /with }}
</template>