.participant{
	.reply{
		position: absolute;
		bottom: 0;
		right: 0;
		border-radius: 16px;
		background-color: #5a666a;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
		text-align: center;
		transform: translate(-10%, 50%);
		padding: 5px 20px;

		a{
			text-decoration: none;
			background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
			font-family: Roboto;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 0.6px;
			text-align: left;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.link-preview {
		border-radius: 8px;
		background-color: #a0b2b8;
		box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
		border: solid 4px #6f7e82;
		margin-bottom: 8px;
		a {
			text-decoration: none;
		}
		.link-image {
			max-width: 141px;
			max-height: 156px;
			border-radius: 4px 0 0 4px;
		}
		.link-title {
			font-family: "Noto Serif", serif;
			font-size: 14px;
			font-weight: bold;
			text-align: left;
			color: #2c373e;
		}
		.link-description {
			font-family: Roboto;
			font-size: 14px;
			line-height: 1.5;
			text-align: left;
			color: #2c373e;
		}
		.qUrl {
			word-wrap: break-word;
			font-family: Roboto;
			font-size: 12px;
			text-align: left;
			color: #2c373e;
		}
	}
}