<template name="participantModal">
	<div class="modal left participant fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="modal-container">
						<div class="timeline">
							 {{ #with getData this}} {{> debatorTemp this}} {{#each this.comments}} {{ #with getTemp this}} {{> Template.dynamic template=temp
							data=data}} {{/with }} {{/each}} {{ /with }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="seekClarificationReply">
	{{#with this}}
	<div class="timeline-item">
		<div class="timeline-left seekItem" data-id="{{this.id}}">
			<div class="applause">
				<img src="/debate/clapping-hands.svg" alt="clapping icon">
			</div>
			<p>{{applause}}</p>
			<a href="#"></a>
		</div>
		<div class="timeline-icon">
			{{#with getUserDetailsById userId}}
			<img src="{{profile.pic}}" alt="userImg"> {{else}}
			<img src="/debate/user-1.png" alt="userImg"> {{/with}}
		</div>
		<div class="timeline-right">
			<div class="top-panel">
				<div class="par">
					{{#with getUserDetailsById userId}}
					<p class="name">{{username}}</p>
					{{else}}
					<p class="name">Abhyshek Badkey</p>
					{{/with}}
					<p class="clarification">Seeks Clarification</p>
				</div>
				<!-- <img src="/menu.svg" alt="menu icon"> -->
			</div>
			<div class="msg link-preview-container">
				 {{#if isLink link}}
				<div class="link-preview unloaded" data-link="{{link}}">
					<a href="{{link}}" target="_blank" class="flex-box justify-content-flex-start flex-vertical-center-align">
						<img class="link-image" src="" alt="">
						<div class="flex-box flex-direction-column flex-vertical-start ml1 mr1 width90">
							<div class="link-title"></div>
							<div class="link-description hidden hidden-md hidden-sm hidden-xs"></div>
							<span class="qUrl hidden" href="{{link}}">{{link}}</span>
						</div>
					</a>
				</div>
				{{/if}}
				<p>{{message}}</p>
				<p class="timer">{{formatDate createdAt 'time'}}</p>
				<div class="reply">
					{{ #if userReply replies }}
						<a href="#" id="{{id}}" class="seeEdit" data-cid="{{this.commentId}}">See/edit your reply</a>
					{{else}}
						<a href="#" id="{{id}}" class="replyModal" data-cid="{{this.commentId}}">Reply</a>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
	{{/with}}
</template>

<template name="counterFactsReply">
	{{#with this}}
	<div class="timeline-item">
		<div class="timeline-left clariItem" data-id="{{this.id}}">
			<div class="applause">
				<img src="/debate/clapping-hands.svg" alt="clapping icon">
			</div>
			<p>{{applause}}</p>
			<a href="#"></a>
		</div>
		<div class="timeline-icon">
			{{#with getUserDetailsById userId}}
			<img src="{{profile.pic}}" alt="userImg"> {{else}}
			<img src="/debate/user-2.png" alt="userImg"> {{/with}}
		</div>
		<div class="timeline-right">
			<div class="top-panel">
				<div class="par">
					{{#with getUserDetailsById userId}}
					<p class="name">{{username}}</p>
					{{else}}
					<p class="name">Ronin Jain</p>
					{{/with}}
					<p class="facts">Posted a Counter Fact</p>
				</div>
				<!-- <img src="/menu.svg" alt="menu icon"> -->
			</div>
			<div class="msg link-preview-container">
				 {{#if isLink link}}
				<div class="link-preview unloaded" data-link="{{link}}">
					<a href="{{link}}" target="_blank" class="flex-box justify-content-flex-start flex-vertical-center-align">
						<img class="link-image" src="" alt="">
						<div class="flex-box flex-direction-column flex-vertical-start ml1 mr1 width90">
							<div class="link-title"></div>
							<div class="link-description hidden hidden-md hidden-sm hidden-xs"></div>
							<span class="qUrl hidden" href="{{link}}">{{link}}</span>
						</div>
					</a>
				</div>
				{{/if}}
				<p>{{message}}</p>
				<p class="timer">{{formatDate createdAt 'time'}}</p>
				<div class="reply">
					{{ #if userReply replies }}
						<a href="#" id="{{id}}" class="counterEdit" data-cid="{{this.commentId}}">See/edit your reply</a>
					{{else}}
						<a href="#" id="{{id}}" class="replyModal" data-cid="{{this.commentId}}">Reply</a>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
	{{/with}}
</template>