.home{
	display: flex;
	flex-direction: column;
	height: calc(100vh - 10px);
	padding-top: 30px;
	padding-bottom: 50px;

	// .discussion-card{
	// 	margin-right: 20px;
	// }

	.row{
		margin: 0;
	}

	.container-fluid{
		margin: 0;
		padding-right: 0;

	}

	.title-section{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		padding-right: 24px;
		.title{
			h2{
				background: linear-gradient(to right, #FF9351, #f96d28 30%, #ff445e 60%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-family: Roboto;
				font-size: 32px;
				font-weight: 300;
				font-stretch: condensed;
				margin: 0;
				text-align: left;

				strong{
					font-weight: bold;
				}
			}
		}
		.profile-slider{
			display: flex;
			justify-content: space-between;
			align-items: center;
			p{
				font-family: Roboto;
				font-size: 20px;
				font-weight: 300;
				font-stretch: condensed;
				text-align: left;
				color: #ffffff;
				margin-bottom: 0;
				margin-right: 24px;
				strong{
					font-weight: 500;

					a{
						text-decoration: none;
						background: linear-gradient(to right, #FF9351, #f96d28 30%, #ff445e 60%);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
			}

			.slider{
				img{
					cursor: pointer;
					&:first-child {
						margin-right: 24px;
					}
				}
			}
		}
	}
}

.home-container {
	flex-grow: 1;
	margin-bottom: 60px !important;
    a:focus, a:hover, a:active {
        text-decoration: none;
    }
    .card {
        display: block;
        width: 350px;
        height: 200px;
        position: relative;
        background-color: rgba(255,255,255,.8);
        box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
        border-radius: 2px;
        transition: all .2s ease-in-out;
        margin-bottom: 2em;
        margin-right: 1em;
    }

    .card-header {
        display: block;
        float: left;
        width: 55%;
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 2px 0 0 2px;
    }

    .card-header img {
        width: 100%;
    }

    .card-header .card-header-image:after {
        display: block;
        content: '';
        background-color: rgba(0,0,0,.4);
        position: absolute;
        top: 100%;
        left: 100%;
        width: 100px;
        height: 100px;
        box-shadow: 0 0 200px 100px rgba(0,0,0,.58);
        z-index: 1;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: 0;
        filter: alpha(opacity=0);
        transition: all .8s;
        -moz-transition: all .8s;
        -webkit-transition: all .8s;
        -o-transition: all .8s;
    }

    .card-content {
        display: block;
        margin-left: 55%;
        padding: 0 10px;
        position: relative;
    }

    .card-meta {
        display: block;
        margin-bottom: 16px;
        font-size: 13px;
        line-height: 100%;
    }

    .card-meta .card-meta-item {
        display: inline-block;
        margin-right: 18px;
        color: #9A9A9A;
    }

    .card:after {
        display: block;
        clear: both;
        content: '';
    }

    .card:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
    }

    .view-resource {
        position: absolute;
        bottom: 10px;
        right: 10px;
	}

	.content-slide{
		padding-left: 5px;
		display: inline-flex;
	}

}
