.nav-bg{
	background: #2c373e;
	box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.16);
	border-color: transparent;

	.nav-left{
		ul{
			li{
				a{
					font-family: Roboto;
					font-size: 14px;
					font-weight: bold;
					letter-spacing: 1px;
					text-align: left;
					color: #a0b2b8;
					text-transform: uppercase;

					&:hover {
						color: #a0b2b8;
						background: transparent;
					}

					&:focus {
						color: #a0b2b8;
						outline: none;
						background: transparent;
					}
				}
			}
		}
	}

	.nav-right {
		ul{
			&:first-child{
				display: flex;
				align-items: center;
				li {
					img {
						width: 40px;
						&.add {
							width: 50px;
						}
						&.user-pic{
							width: 40px;
							height: 40px;
							object-fit: contain;
							border-radius: 50%;
						}
					}

					a{
						padding: 0 15px;
						&:hover{
							background: transparent;
						}
						&:focus{
							outline: none;
							background: transparent;
						}
					}
				}
			}

			&.dropdown-menu{
				background: #2c373e;
				box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.16);
				border-color: transparent;
				margin-right: 10px;

				li {
					a {
						font-family: Roboto;
						font-size: 14px;
						font-weight: bold;
						letter-spacing: 1px;
						text-align: left;
						color: #a0b2b8;
						text-transform: uppercase;
						padding: 15px;
						&:hover {
							color: #a0b2b8;
							background: transparent;
						}
						&:focus {
							color: #a0b2b8;
							outline: none;
							background: transparent;
						}
					}
				}
			}
		}
		.navbar-right {
			min-width: 70px;
			height: 50px;
		}
	}

	.navbar-brand{
		padding: 10px 15px 15px;
	}
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
	background-color: transparent;
}

#login-dropdown-list{
	margin-top: -120px;
	margin-left: 38px;
}

.container-fluid{
	padding-right: 0;
}

#sendFeedback{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	color: #aaa;
	background: #191d1f;
	text-align: center;
	padding: 0;
	transition: all 0.1s linear;
	border: 0;
	&:hover {
		font-size: 16px;
		span {
			color: #fb7c39;
		}
	}
	&:focus, &:active {
		color: #aaa;
	}
}

.closeFeedbackPopover {
	top: 5px;
	position: absolute;
	right: 10px;
}