<template name="bottomNav">
	<nav class="navbar navbar-default navbar-fixed-bottom nav-bg">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
				<a href="/" class="navbar-brand">
				<img src="/home/logo-chi.png" alt="chi logo">
			</a>
			</div>
			<!-- Collection of nav links and other content for toggling -->
			<div id="navbarCollapse" class="collapse navbar-collapse">
				<div class="nav-left">
					<ul class="nav navbar-nav navbar-left">
						{{ #if currentUser}}
							<li><a href="/library">Library</a></li>
							<li><a href="/discussions">Discussions</a></li>
							<li><a href="#">Courses</a></li>
							<li><a href="/analytics">Analyse</a></li>
							<li><a href="#" id="logout">Logout</a></li>
						{{ /if }}
					</ul>
				</div>
				<div class="nav-right">
					<ul class="nav navbar-nav navbar-right flex">
						<li>
							<button data-toggle="popover" id="sendFeedback"
													data-width="400" data-title="Share your Feedback">
								<span class="glyphicon glyphicon-envelope"></span>
							</button>
						</li>
						{{ #if currentUser}}
							{{this}}
							<li><a href="#" id="searchBtn"><img src="/home/search-btn.png" alt="search icon"></a></li>
							{{ #if currentUser.profile.pic }}
							<li><a href="/dashboard"><img class="user-pic" src="{{currentUser.profile.pic}}" alt="user pic"></a></li>
							{{ else }}
							<li><a href="/dashboard"><img class="user-pic" src="/home/profile-picture.png" alt="user pic"></a></li>
							{{ /if }}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<img src='/home/add.png' class="add" alt="plus icon"></a>
									<ul class="dropdown-menu">
										<li><a href="/create-resource">Add a Resource</a></li>
										<li><a href="#" id="discussionForm">Add a Discussion</a></li>
									</ul>
							</li>
						{{ /if }}
					</ul>
				</div>
			</div>
		</div>
	</nav>
</template>