.discussion-card {
	width: 458px;
	border-radius: 8px;
	background-color: #2c373e;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.32);
	overflow: hidden;
	box-sizing: border-box;
	margin-right: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.discussion-end {
		justify-content: flex-end;
	}
	.join-the-thread {
		background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
		font-size: 16px;
		font-weight: bold;
		text-align: left;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		border: 0;
		z-index: 1;
	}
	.active-users {
		display: flex;
		margin-bottom: 24px;
		font-size: 14px;
		text-align: left;
		color: #6f7e82;
		img {
			width: 32px;
			height: 32px;
			margin-right: 8px;
			border-radius: 50%;
		}
		.remaining-active {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
			position: relative;
			p {
				font-size: 12px;
				font-weight: bold;
				text-align: left;
				color: #f2f5f9;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%)
			}
		}
	}
	.discussion-about {
		background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
		height: 300px;
		padding: 10px 24px 1px;
		.details {
			display: flex;
			justify-content: space-between;
			.user-details {
				display: flex;
				align-items: center;
				img {
					width: 32px;
					height: 32px;
					margin-right: 8px;
					border-radius: 50%;
				}
				p {
					text-align: left;
					font-weight: bold;
					margin-bottom: 4px;
					&.name {
						font-size: 14px;
						color: #ffffff;
						margin-bottom: 0;
						margin-top: 5px;
					}
					&.created {
						opacity: 0.4;
						font-size: 10px;
						color: #000000;
					}
				}
			}
			.discussion-states {
				display: flex;
				align-items: center;
				p {
					margin-bottom: 0;
					margin-right: 8px;
				}
				.arrow-container {
					width: 32px;
					height: 32px;
					border-radius: 4px;
					background-color: rgba(25, 29, 31, 0.02);
					position: relative;
					img {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
					&.up-trend {
						margin-right: 16px;
					}
				}
				.number {
					font-size: 16px;
					font-weight: bold;
					text-align: left;
					color: #ffffff;
				}
			}
		}
		.discussion-body {
			background: #fff;
			border: solid 1px #e2e6e7;
			margin-top: 5px;
			color: white;
			border: 11px solid #fff;
			border-radius: 8px;
			position: relative;
			height: 110px;
			overflow: hidden;
			&:before {
				content: '';
				position: absolute;
				top: -10px;
				left: 5px;
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid #fff;
				z-index: 10;
			}
			&.link-preview-container {
				overflow: hidden;
				padding: 0;
				margin-top: 5px;
				border-radius: 8px;
				background-color: #ffffff;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
				border: solid 1px #e2e6e7;
				p {
					color: #fff;
				}
			}
			.link-preview {
				padding: 0 10px;
				a {
					height: 110px;
				}
				.link-image {
					max-width: 150px;
					max-height: 100px;
				}
				.link-title {
					font-family: "Noto Serif", serif;
					font-size: 14px;
					font-weight: bold;
					text-align: left;
					color: #2c373e;
					max-width: 200px;
				}
				.link-description {
					max-width: 200px;
				}
				.qUrl {
					max-width: 200px;
					word-wrap: break-word;
				}
			}
			p {
				font-size: 14px;
				line-height: 1.5;
				text-align: left;
				color: #2c373e;
				margin: 0
			}
		}
	}
	.discussion-main {
	padding: 12px 24px;
		padding-bottom: 0;
		p {
			font-size: 14px;
			text-align: left;
			color: #6f7e82;
			margin-bottom: 12px;
		}
		.comments-threads {
			display: flex;
			align-items: center;
			.total-threads-comments {
				margin-right: 24px;
				p {
					font-size: 12px;
					text-align: left;
					color: #6f7e82;
					margin: 0;
					&.thread-number {
						margin-bottom: 18px;
					}
					&.number {
						background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
						font-size: 24px;
						font-weight: 300;
						text-align: left;
						-webkit-background-clip: text;
						background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
			}
			.list-comment {
				display: flex;
				.comment-card {
					width: 241px;
					height: 120px;
					border-radius: 8px;
					background-color: #414d54;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
					border: solid 1px #414d54;
					padding: 13px 10px 10px 13px;
					margin-right: 24px;
					.comment-header {
						display: flex;
						align-items: center;
						margin-bottom: 8px;
					}
					img {
						width: 24px;
						height: 24px;
						margin-right: 8px;
						border-radius: 50%;
					}
					p {
						font-size: 12px;
						line-height: 1.5;
						text-align: left;
						color: #a0b2b8;
						margin: 0;
						&.name {
							font-weight: bold;
							color: #e2e6e7;
						}
					}
				}
			}
		}
	}
	.join{
		padding: 0 24px;
		display: flex;
		align-items: center;
		margin-bottom: 17px;

		img{
			width: 32px;
			height: 32px;
			object-fit: contain;
			margin-right: 8px;
			border-radius: 50%;
			// border: solid 1px #191d1f;
		}
		a{
			text-decoration: none;
			background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
			font-size: 18px;
			font-weight: bold;
			text-align: left;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			margin: 0;
		}
	}
	.discussion-live {
		background-image: linear-gradient(to right, #414d54, #2c373e); // box-shadow: 0 -1px 0 0 #e2e6e7;
		padding: 0 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 25px;
		img {
			width: 32px;
			height: 32px;
			margin-right: 12px;
			border-radius: 50%;
		}
		p {
			font-size: 14px;
			line-height: 1.07;
			text-align: left;
			color: #6f7e82;
			margin: 0;
			background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	.discussion-join {
		border-radius: 8px;
		background-color: #f2f5f9;
		box-shadow: 0 -1px 0 0 #e2e6e7;
		padding: 16px;
		display: flex;
		align-items: center;
		margin-bottom: 0;
		img {
			width: 32px;
			height: 32px;
			margin-right: 12px;
		}
		p {
			background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
			font-size: 18px;
			font-weight: bold;
			text-align: left;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			margin: 0;
			a {
				text-decoration: none;
			}
		}
	}
}

.slick-slider {
	margin-bottom: 0;
}

.discussionCard-flex {
	display: flex;
	flex-wrap: wrap;
	&::nth-child(2) {
		margin: 0 10px;
	}
}

.hidden {
	display: none;
}

.go-to-discussion {
	height: 100%;
	display: block;
	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}