<template name='discussionCard'>
	{{ #with getDiscussion }}
		{{ #each this }}
			{{> Template.dynamic template='cardDiscussion' data=this}}
		{{ /each }}
	{{ /with }}
</template>

<template name='cardDiscussion'>
	{{ #with this }}
	<div class="discussion-card">
		<div class="discussion-about">
			<div class="details">
				{{#with getUserDetailsById author}}
				<div class="user-details">
					<img src="{{ profile.pic }}" alt="user image">
					<div class="username-created">
						<p class="name">{{ username }}</p>
						<p class="created">{{formatDate ../createdAt "short"}}</p>
					</div>
				</div>
				{{/ with}}
				<div class="discussion-states">
					<p class="number up-number">{{ agree.length }}</p>
					<div class="arrow-container up-trend">
						<img src="/upvote-count.svg" alt="like icon">
					</div>
					<p class="number down-number">{{ disagree.length }}</p>
					<div class="arrow-container down-trend">
						<img src="/downvote-count.svg" alt="dislike icon">
					</div>
				</div>
			</div>
			<div class="discussion-body">
				<a class="go-to-discussion" href="/discussions/{{_id}}">
					<p>{{{ limitPara title 100 }}}</p>
					<p>{{{ limitPara body 280 }}}</p>
				</a>
			</div>
			<div class="discussion-body link-preview-container">
				<div class="link-preview unloaded" data-link="{{link}}">
					<a href="{{link}}" target="_blank" class="flex-box justify-content-flex-start flex-vertical-center-align">
						<img class="link-image" src="" alt="">
						<div class="flex-box flex-direction-column flex-vertical-start ml1 mr1 width90">
							<div class="link-title"></div>
							<div class="link-description hidden hidden-md hidden-sm hidden-xs"></div>
							<span class="qUrl hidden" href="{{link}}">{{link}}</span>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="discussion-main">
			<div class="comments-threads">
				<div class="total-threads-comments">
					<p>Threads</p>
					<p class="number thread-number">{{ threads.length }}</p>
				</div>
				<div class="list-comment unloaded">
					{{ #each threads }} {{#with fetchThread this}}
					<div class="comment-card">
						{{#with getUserDetailsById author}}
						<div class="comment-header">
							<img src="{{ profile.pic }}" alt="user pic">
							<p class="name">{{ username }}</p>
						</div>
						{{/ with}}
						<div class="comment-body">
							<p>{{{ limitBody body 100 }}}</p>
						</div>
					</div>
					{{ /with}} {{ /each }}
				</div>
			</div>
		</div>
		<div class="discussion-end">
			<!-- <div class="join">
				{{#with getCurrentUserDetails}}
					<img src="{{ profile.pic }}" alt="user pic">
				{{/with}}
				<a href="/discussions/{{_id}}">Join the discussion</a>
			</div> -->
			<div class="col-md-12 active-users flex-box flex-vertical-start flex-direction-column">
				<p>Active People</p>
				<div class="flex-box">
					{{ #each users }}
						{{ #if less_than_9 @index}}
							{{#with getUserDetailsById this}}
								<img src="{{ profile.pic }}" alt="user pic">
							{{/with}}
						{{ /if }}
						{{ #if greater_than_9 @index}}
							<div class="remaining-active">
								<p>+{{ getCount}}</p>
							</div>
						{{/if}}
					{{ /each }}
					</div>
			</div>
		</div>
	</div>
	{{ /with }}
</template>