.thread-card {
	border-radius: 8px;
	background-color: #ffffff;
	overflow: hidden;
	box-sizing: border-box;

	.thread-main{
		padding: 24px;
		p{
			font-family: Roboto;
			font-size: 14px;
			text-align: left;
			color: #6f7e82;
			margin-bottom: 12px;
		}

		.active-users{
			display: flex;
			margin-bottom: 24px;
			img{
				width: 32px;
				height: 32px;
				margin-right: 8px;
			}

			.remaining-active{
				width: 32px;
				height: 32px;
				border-radius: 50%;
				background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
				position: relative;
				p{
					font-family: Roboto;
					font-size: 12px;
					font-weight: bold;
					text-align: left;
					color: #f2f5f9;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%)
				}
			}
		}

		.comments-threads{
			display: flex;
			align-items: center;
			.total-threads-comments{
				margin-right: 24px;
				p{
					font-family: Roboto;
					font-size: 12px;
					text-align: left;
					color: #6f7e82;
					margin: 0;

					&.thread-number{
						margin-bottom: 18px;
					}

					&.number{
						background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
						font-family: Roboto;
						font-size: 24px;
						font-weight: 300;
						text-align: left;
						-webkit-background-clip: text;
						background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
			}

			.list-comment{
				.comment-card{
					width: 368px;
					height: 150px;
					border-radius: 8px;
					background-color: #ffffff;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
					border: solid 1px #e2e6e7;
					padding: 21px 14px 24px 16px;
					margin-right: 24px;
					.comment-header {
						display: flex;
						align-items: center;
						margin-bottom: 8px;
					}
					.comment-body {
						height: 70px;
						overflow: hidden;
					}
					.profile-pic{
						width: 32px;
						height: 32px;
						margin-right: 8px;
						border-radius: 50%;
					}
					p{
						font-size: 12px;
						line-height: 1.5;
						text-align: left;
						color: #2c373e;
						margin: 0;
						&.name{
							background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
							font-size: 12px;
							font-weight: bold;
							text-align: left;
							-webkit-background-clip: text;
							background-clip: text;
							-webkit-text-fill-color: transparent;
							display: block;
						}
						&.createdAt {
							display: block;
							font-size: 10px;
							font-weight: bold;
							text-align: left;
							color: #a0b2b8;
						}
					}
				}
			}
		}
	}

	.thread-live{
		padding: 16px;
		display: flex;
		align-items: center;

		img{
			width: 32px;
			height: 32px;
			margin-right: 12px;
		}
		p{
			font-family: Roboto;
			font-size: 14px;
			line-height: 1.07;
			text-align: left;
			color: #6f7e82;
			margin: 0;
		}
		.check-all-comments {
			border: 0;
			min-width: 160px;
			background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
			font-size: 16px;
			font-weight: bold;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.thread-join {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		border-top: 1px solid #e2e6e7;
		padding: 16px;
		display: flex;
		align-items: center;
		img{
			width: 48px;
			height: 48px;
			margin-right: 12px;
		}
		textarea {
			height: 48px;
			width: 100%;
			border-radius: 8px;
			background-color: #f2f5f9;
			border: solid 1px #e2e6e7;
			font-size: 16px;
			text-align: left;
			padding: 5px;
			&::placeholder {
				color: #a0b2b8;
			}
		}
	}
}

.slick-slider{
	margin-bottom: 0;
}

.likes-dislikes {
	font-size: 12px;
	color: #9fb1b7;
	.likes {
		img {
			width: 12px;
			height: 12px;
		}
	}
	.dislikes {
		img {
			width: 12px;
			height: 12px;
			&.flipVertical {
				transform: scale(-1);
			}
		}
	}
}