<template name='commentCard'>
	<div class="card-flex">
		{{ #with getComment }}
		<div class="comment-card">
				<div class="comment-header">
					{{#with getUserDetailsById author}}
						<img class="profile-pic" src="{{ profile.pic }}" alt="user image">
						<div class="width100 flex-box flex-vertical-align-center justify-content-space-between">
								<div class="flex-box flex-direction-column flex-vertical-start">
									<p class="name">{{ username }}</p>
									<p class="createdAt">{{formatDate ../createdAt "short"}}</p>
								</div>
								<ul class="list-unstyled noMargin flex-box flex-vertical-center-align mr1 likes-dislikes">
										<li class="likes mr1 flex-box">
											<img src="/like.svg" alt="like icon">&nbsp;{{../agree.length}}
										</li>
										<li class="dislikes ml1 mr1 flex-box">
											<img src="/like.svg" alt="dislike icon" class="flipVertical">&nbsp;{{../disagree.length}}
										</li>
									</ul>
							</div>
					{{/ with}}

				</div>
				<div class="comment-body">
					<p>{{{body}}}</p>
				</div>
			</div>
		{{/with}}
	</div>
</template>