<template name="questionVideoModal">
  <div class="modal question-video fade">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">
            <img src="/debate/messages-chat-grey.svg" alt="chat icon">
            <h4 class="modal-title">Video Link</h4>
          </div>
          <div class="modal-body">
            <div class="attachment">
              <input type="text" id="link" placeholder="www.youtube.com/watch?v=xyz">
              <img src="/debate/link.svg" alt="link icon">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-add add">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>