@import '../../../styles/tabs';
.question-template {
  .left-question-jumbotron {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 40px;
    position: relative;
    background: white;
    height: calc(100vh - 100px);
    .bootstrap-tagsinput {
      padding: 0;
      input {
        min-width: 75px;
      }
    }
    input,
    .bootstrap-tagsinput,
    textarea {
      border: 0;
      box-shadow: none;
      border-radius: 0;
      font-size: 16px;
      color: #747474;
      padding: 0;
      input {
        height: 34px;
        padding: 12px 0;
        padding-bottom: 0;
        &::placeholder {
          padding-left: 0;
          line-height: 50px;
          color: #E0E0E0;
          opacity: 1;
        }
      }
      span.label {
        display: inline-block;
        color: rgb(116, 116, 116); // font-size: 16px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 2px 5px;
        font-weight: 600;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(221, 221, 221);
        border-image: initial;
        background: rgb(255, 255, 255);
        transition: all 0.5s ease-in-out;
        border-radius: 20px;
        padding: 7px 10px;
        margin: 0px 10px 6px 0px;
      }
      &.input-lg {
        font-family: 'Noto Serif', serif;
        font-size: 32px;
        font-weight: bold;
        line-height: 1.31;
        color: #2c373e;
        padding: 0;
        &::placeholder {
          font-size: 32px;
          font-weight: bold;
          padding-left: 0;
          line-height: 50px;
          opacity: 1;
        }
      }
      &:focus {
        transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        border-bottom: 2px solid rgb(0, 187, 255);
      }
      &::placeholder {
        color: #E0E0E0;
        padding-left: 0;
        opacity: 1;
      }
      &.error {
        border-bottom: 3px solid #EC644B;
      }
    }
  }
  .right-question-container {
    padding-top: 20px;
    padding-right: 15px;
    background-color: rgb(246, 246, 246);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    height: calc(100vh - 100px);
    .tab-content {
      background-color: #ecf1f4;
    }
    .note-editor {
      top: 15px;
      height: 50px;
      border: 0;
      background: transparent;
      box-shadow: none;
    }
    .note-editable {
      background: transparent;
      height: 100%;
      margin-left: 10px;
      img {
        margin-top: 15px;
        width: auto !important;
        max-height: calc(60vh);
        max-width: calc(50vw - 100px);
      }
    }
    .note-editing-area {
      position: relative;
      height: 100%;
    }
    .note-placeholder {
      margin-left: 10px;
      display: block;
      color: #C4C4C4;
    }
    .note-resizebar {
      display: none;
    }
    .note-toolbar {
      position: relative;
      display: none;
      z-index: 1;
      border: 0;
      background: transparent;
      width: 75%;
      margin-left: 25px;
      button {
        background: rgb(246, 246, 246);
        border: 0;
        transition: all 0.5s ease-in-out;
        &:hover {
          box-shadow: 1px 1px 8px #eaeaea;
        }
      }
    }
    .toggle-toolbar {
      z-index: 10;
      margin-left: 15px;
      transition: all 0.5s ease-in;
      cursor: pointer;
      &.cross {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
  .question-panel {
    background: #FFFFFF;
    border: 1px solid #ECF1F4;
    border-radius: 8px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
    .panel-heading {
      height: 45px;
      .panel-title {
        font-size: 12px;
        font-weight: bold;
        color: #6F6F6F;
      }
    }
    .panel-body {
      background: rgb(236, 241, 244);
      height: 70vh;
      overflow-y: auto;
    }
  }
  .options-content {
    padding: 0;
    border: 1px solid #ECF1F4;
    border-radius: 8px;
    background-color: #ecf1f4;
    .options-row {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      .col-sm-12 {
        min-height: 50px;
        &:nth-of-type(odd) {
          background-color: #FCFDFD;
        }
        &:nth-of-type(even) {
          background-color: #ECF1F4;
        }
        &:first-of-type {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        &:last-of-type {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
        .input-group-addon {
          background: transparent;
          border: 0;
        }
        .note-editor {
          flex: 1;
          flex-grow: 1;
        }
        .note-editable {
          background: transparent;
        }
        .radio-purple {
          margin: 0;
          display: flex;
          align-items: center;
        }
      }
    }
    .radio-tabs {
      height: 60px;
      background-color: #ecf1f4;
    }
  }
  .remove-option {
    margin-left: 15px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  .add-another-option {
    text-decoration: none !important;
    font-weight: bold;
    color: rgb(0, 187, 255) !important;
    &:hover {
      opacity: 0.7;
    }
  }
}

#answer-error {
  position: absolute;
  white-space: pre;
  bottom: -15px;
  left: 0;
  color: red;
  font-size: 11px;
  &::before {
    display: none;
  }
}


.question-description-input-container {
  background: white;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  height: 180px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: calc(100% - 5vh);
    width: 8px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.4);
    top: 2.5vh;
    left: -6px;
  }
  .toggle-toolbar {
    z-index: 10;
    position: absolute;
    left: -20px;
    top: 20px;
    transition: all 0.5s ease-in;
    cursor: pointer;
    &.cross {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
  .note-editor {
    top: 15px;
    height: 180px;
    border: 0;
    background: transparent;
    box-shadow: none;
  }
  .note-editable {
    background: transparent;
    height: calc(100% - 50px);
    margin-left: 0;
    margin-top: -4px;
    font-size: auto !important;
    margin-bottom: 15px;
    font-weight: 200;
    p {
      font-size: 14px;
      font-weight: 400;
      color: #747474;
    }
    img {
      margin-top: 15px;
      width: auto !important;
    }
  }
  .note-editing-area {
    position: relative;
    height: 100%;
  }
  .note-placeholder {
    display: block;
    margin-left: 0;
    margin-top: -4px;
    color: #C4C4C4;
  }
  .note-resizebar {
    display: none;
  }
  .note-toolbar {
    position: relative;
    display: none;
    z-index: 1;
    border: 0;
    background: transparent;
    width: 100%;
    margin-left: 0;
    button {
      background: rgb(246, 246, 246);
      border: 0;
      transition: all 0.5s ease-in-out;
      &:hover {
        box-shadow: 1px 1px 8px #eaeaea;
      }
    }
  }
}

.media-group-buttons {
  margin: 10px;
  .btn-sm {
    position: relative;
    outline: none;
    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 34px;
      height: 30px;
      display: block;
      opacity: 0;
    }
  }
  .img-preview-container {
    width: 100px;
    .img-preview {
      max-width: 100px;
      max-height: 80px;
      margin: 10px;
    }
  }
}


.modal {
	&.question-video {
		.vertical-alignment-helper {
			display: table;
			height: 100%;
			width: 100%;
			pointer-events: none;
		}
		.vertical-align-center {
			display: table-cell;
			vertical-align: middle;
			pointer-events: none;
		}
		.modal-content {
			width: 600px;
			margin: 0 auto;
			pointer-events: all;
		}
		.modal-content>.modal-body {
			background: transparent;
			padding: 0;
		}
		.modal-footer {
			background: transparent;
		}
		.modal-header {
			display: flex;
			align-items: center;
			h4 {
				margin: 0;
				font-family: Roboto;
				font-size: 16px;
				text-align: left;
				color: #a0b2b8;
			}
			img {
				margin-right: 10px;
			}
		}
		.modal-body {
			.attachment {
				position: relative;
				input {
					width: 100%;
					border-radius: 8px;
					background-color: #414d54;
					border: solid 1px #191d1f;
					padding: 15px 15px 15px 60px;
					font-family: Roboto;
					font-size: 14px;
					font-weight: 300;
					font-style: italic;
					line-height: 1.86;
					letter-spacing: 0.3px;
					text-align: left;
					color: #a0b2b8;
				}
				img {
					position: absolute;
					left: 6%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.statement {
				textarea {
					width: 100%;
					border-radius: 8px;
					background-color: #414d54;
					border: solid 1px #191d1f;
					padding: 16px 24px;
					font-family: Roboto;
					font-size: 14px;
					line-height: 1.86;
					letter-spacing: 0.3px;
					text-align: left;
					color: #a0b2b8;
				}
			}
		}
		.modal-footer {
			display: flex;
			justify-content: flex-end;
			.btn-add {
				border-radius: 8px;
				background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
				box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.16);
				font-family: Roboto;
				font-size: 16px;
				font-weight: bold;
				text-align: left;
				color: #ffffff;
			}
		}
	}
}