<template name="questionCreate">
  <div class="col-sm-12">
    {{#with get_question_context}}
    <form class="question_form">
      <div class="question-template">
        <div class="jumbotron left-question-jumbotron col-sm-6 border-right">
          <input type="text" name="stem" class="form-control input-lg" placeholder="Title of your question" value="{{stem}}">
          <input type="text" name="tags" class="tags question-tags" placeholder="tags" value="{{tags}}">
          <div class="clearfix"></div>
          <div class="question-description-input-container content-container width100">
            <img class="toggle-toolbar" src="/outline-plus.png" alt="circle plus">
            <textarea name="description" class="form-control input-lg question-description-input"></textarea>
          </div>
        </div>
        <div class="right-question-container col-sm-6">
          <div class="panel question-panel">
            <div class="panel-heading flex-box flex-vertical-center-align">
              <h3 class="panel-title">Answer Box</h3>
            </div>
            <div class="panel-body">
              <div class="tabbable-panel">
                <div class="tabbable-line">
                  <ul class="nav nav-tabs flex-box justify-content-center">
                    <li class="active main-options-tab">
                      <a href="#tab_default_1" data-toggle="tab">
                                                Multiple Choice Answers </a>
                    </li>
                    <li>
                      <a href="#tab_default_2" data-toggle="tab">
                                                Binary Answers </a>
                    </li>
                  </ul>
                  <div class="tab-content options-content">
                    <div class="tab-pane active" id="tab_default_1">
                      <div class="tabbable-panel">
                        <div class="tabbable-line">
                          <ul class="nav nav-tabs radio-tabs flex-box justify-content-flex-start flex-vertical-center-align">
                            <li class="active">
                              <a href="#tab_default_4" data-toggle="tab">
                                                One Correct Answer </a>
                            </li>
                            <li>
                              <a href="#tab_default_5" data-toggle="tab">
                                                More than one correct answer </a>
                            </li>
                          </ul>
                          <div class="tab-content">
                            <div class="tab-pane active multiple" id="tab_default_4">
                              <div class="options-row">
                                <input type="hidden" name="options" class="input-lg">
                                <div class="col-sm-12 flex-box flex-vertical-center-align">
                                  <div class="input-group col-sm-11 flex-box">
                                    <div class="radio radio-purple flex-box">
                                        <input type="radio" name="answer" id="radio-a" required>
                                        <label for="radio-a"></label>
                                    </div>
                                    <div class="media-group-buttons">
                                      <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-picture"></span><input type="file" class="img_url" /></button>
                                      <button type="button" class="btn btn-default btn-sm question-video-link"><span class="glyphicon glyphicon-facetime-video"></span></button>
                                      <div class="img-preview-container">
                                        <img class="img-preview img-thumbnail hidden" src="" alt="">
                                      </div>
                                      <div class="video-preview-container">

                                      </div>
                                    </div>
                                    <input type="text" class="form-control option summernote">
                                  </div>
                                  <div class="col-sm-1">
                                    <img class="remove-option" src="/trash.png" alt="trash icon">
                                  </div>
                                </div>
                                <div class="clearfix"></div>
                              </div>
                              <br>
                              <a href="#" class="add-another-option blue mr1" data-type="radio">
                                <img src="/circle-plus.png" alt="circle plus">
                                <span class="well-sm">Add another option</span>
                              </a>
                            </div>
                            <div class="tab-pane multiple" id="tab_default_5">
                              <div class="options-row">
                                <input type="hidden" name="options" class="input-lg">
                                <div class="col-sm-12 flex-box flex-vertical-center-align">
                                  <div class="input-group col-sm-11 flex-box">
                                    <div class="checkbox checkbox-purple flex-box">
                                      <input type="checkbox" name="answer" id="checkbox-a" required="true">
                                      <label for="checkbox-a"></label>
                                    </div>
                                    <div class="media-group-buttons">
                                      <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-picture"></span><input type="file" class="img_url" /></button>
                                      <button type="button" class="btn btn-default btn-sm question-video-link"><span class="glyphicon glyphicon-facetime-video"></span></button>
                                      <div class="img-preview-container">
                                        <img class="img-preview img-thumbnail hidden" src="" alt="">
                                      </div>
                                    </div>
                                    <input type="text" class="form-control option summernote">
                                  </div>
                                  <div class="col-sm-1">
                                    <img class="remove-option" src="/trash.png" alt="trash icon">
                                  </div>
                                </div>
                                <div class="clearfix"></div>
                              </div>
                              <br>
                              <a href="#" class="add-another-option blue mr1" data-type="checkbox">
                                <img src="/circle-plus.png" alt="circle plus">
                                <span class="well-sm">Add another option</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="tab_default_2">
                      <br>
                      <div class="options-row">
                        <input type="hidden" name="options" class="input-lg">
                        <div class="col-sm-12 flex-box flex-vertical-center-align">
                          <div class="input-group col-sm-11 flex-box">
                            <div class="radio radio-purple flex-box">
                              <input type="radio" name="answer" id="radio-b-a" required="true">
                              <label for="radio-b-a"></label>
                            </div>
                            <div class="media-group-buttons">
                              <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-picture"></span><input type="file" class="img_url" /></button>
                              <button type="button" class="btn btn-default btn-sm question-video-link"><span class="glyphicon glyphicon-facetime-video"></span></button>
                              <div class="img-preview-container">
                                <img class="img-preview img-thumbnail hidden" src="" alt="">
                              </div>
                            </div>
                            <input type="text" class="form-control option summernote">
                          </div>
                        </div>
                        <div class="col-sm-12 flex-box flex-vertical-center-align">
                          <div class="input-group col-sm-11 flex-box">
                            <div class="radio radio-purple flex-box">
                              <input type="radio" name="answer" id="radio-b-b">
                              <label for="radio-b-b"></label>
                            </div>
                            <div class="media-group-buttons">
                              <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-picture"></span><input type="file" class="img_url" /></button>
                              <button type="button" class="btn btn-default btn-sm question-video-link"><span class="glyphicon glyphicon-facetime-video"></span></button>
                              <div class="img-preview-container">
                                <img class="img-preview img-thumbnail hidden" src="" alt="">
                              </div>
                            </div>
                            <input type="text" class="form-control option summernote">
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </form>
    {{/with}}
  </div>

</template>