<template name="botCreate">
  <div class="container">
    <div class="row">
      <div class="chat-container">
        <form class="bot_form">
            <div class="bot-chat">
              <div class="bot-container">
                {{ #with getResponses }}
                  {{ #each this }}
                    {{> Template.dynamic template=this data=@index}}
                  {{ /each }}
                {{ /with}}
                {{ #with getTemplate }}
                  {{> Template.dynamic template=this}}
                {{ /with }}
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</template>