<template name="article">
	<div class="col-sm-12">
		{{#if this.one_column}}
		<div class="flex-box justify-content-center flex-direction-column">
			<div class="width768 auto-margin">
				<div class="border-right center-html">
					<br> {{{ this.center_html }}}
				</div>
				<br>
			</div>
		</div>
		{{else}}
		<div class="flex-box flex-vertical-start">
			<div class="flex-basis-50 border-right left-html">
				{{{ this.left_html }}}
			</div>
			<div class="flex-basis-50 right-html">
				{{{ this.right_html }}}
			</div>
		</div>
		{{/if}}
	</div>
</template>