.padLeft {
  padding-left: 50px;
}

.left-html {
  background: white;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  height: 80vh;
  position: relative;
  overflow-y: auto;
  padding: 30px 50px;
  &::before {
    content: '';
    position: absolute;
    height: calc(100% - 5vh);
    width: 8px;
    border-radius: 16px;
    background: rgba(255,255,255,0.4);
    top: 2.5vh;
    left: -6px;
  }
  img {
    width: auto !important;
    max-height: calc(60vh);
    max-width: calc(768px - 100px);
    border-radius: 8px;
    box-shadow: 0 8px 3px -1px lightgrey;
  }
}

.right-html {
  background-image: linear-gradient(to right, #f2f5f9, #ffffff);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 30px 50px;
  height: 80vh;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  &::after {
    content: '';
    position: absolute;
    height: calc(100% - 5vh);
    width: 8px;
    border-radius: 16px;
    background: rgba(255,255,255,0.4);
    top: 2.5vh;
    right: -6px;
  }
  img {
    width: auto !important;
    max-height: calc(60vh);
    max-width: calc(768px - 100px);
    border-radius: 8px;
    box-shadow: 0 8px 3px -1px lightgrey;
  }
}

.center-html {
  min-height: calc(100vh - 100px);
  background: white;
  border-radius: 16px;
  background-color: rgb(246, 246, 246);
  height: auto;
  padding: 30px 50px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: calc(100% - 5vh);
    width: 8px;
    border-radius: 16px;
    background: rgba(255,255,255,0.4);
    top: 2.5vh;
    left: -6px;
  }
  &::after {
    content: '';
    position: absolute;
    height: calc(100% - 5vh);
    width: 8px;
    border-radius: 16px;
    background: rgba(255,255,255,0.4);
    top: 2.5vh;
    right: -6px;
  }
  img {
    width: auto !important;
    max-height: calc(60vh);
    max-width: calc(768px - 100px);
    border-radius: 8px;
    box-shadow: 0 8px 3px -1px lightgrey;
  }
}

.article-next-page {
  font-size: 14px;
  text-align: left;
  color: #a0b2b8;
  background: transparent;
  border: 0;
  .svg-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #21262a;
  }
}
.width768 {
  max-width: 768px;
  width: 100%;
}