<template name="chat">
    <h1>{{ this.name }} </h1>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {{> welcome }} {{> messages }} {{> input }}
        </div>
    </div><br>
</template>

<template name="welcome">
    <p>
        Let's chat.
    </p>
    <div class="input-group">
        <input type="text" id="name" placeholder="Enter Name" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-success setname">Set Name</button>
        </span>
    </div>
</template>

<template name="messages">
    <div class="chat-box">
        {{#each messages}}
        <strong>{{name}}:</strong> {{message}}<br> {{/each}}
    </div>
</template>

<template name="input">
    <div class="input-group">
        <input type="text" id="message" placeholder="Enter Message" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-success send">Send</button>
        </span>
    </div>
</template>