.discussion-container {
	padding: 50px 0 40px 5px;
	display: inline-flex;
	align-items: center;
	height: 100vh;
	.discussion-card {
		position: relative;
		position: left;
	}
}

.load-more-discussions {
	position: fixed;
	right: 10px;
	top: 5px;
}
.loader-container {
	position: fixed;
	top: 4px;
	right: 10px;
}

.prev-discussions {
	position: fixed;
	right: 70px;
	top: 5px;
}