<template name="discussionList">
	<div class="container-fluid">
		<div class="discussion-container">
			{{> componentList
					cursor=discussionsListCursor
					subscription="discussionList"
					template="discussionCard"
			}}
		</div>
	</div>
	{{> bottomNav}}
</template>

<template name="componentList">
		{{> Template.dynamic template=template data=items}}
		<div class="slider">
			<a href="#" class="prev-discussions"><img src="/home/button-left.png" alt="left button"></a>
			{{#if showLoadButton}}
				{{#if loading}}
					<a href="#" class="loader-container">
						{{ > loader}}
					</a>
				{{else}}
					<a href="#" data-load class="load-more-discussions">
						<img src="/home/button-right.png" alt="right button">
					</a>
					{{/if}}
			{{/if}}
		</div>

	</template>