<template name="discussion">
  <div class="back-arrow-container">
    <a href="/discussions"><img src="/back-color.svg" alt="home"></a>
  </div>
  {{#with getDiscussion}}
  <div class="col-sm-offset-1 col-sm-8">
    <div class="discussion-user-details flex-box flex-vertical-center-align">
      {{#with getUserDetailsById author}}
      <div class="user-details">
        <img src="{{ profile.pic }}" alt="user image">
        <div class="username-created">
          <p class="name">{{ profile.firstName }} {{ profile.lastName }}</p>
          <p class="created">{{formatDate ../createdAt "short"}}</p>
        </div>
      </div>
      <div class="flex-box flex-vertical-center-align hidden-xs">
        <button class="follow-user mr1">
          <span class="followed">Follow</span>
          <span class="followed hidden">Following</span>
          {{ profile.firstName }} {{ profile.lastName }}
        </button>
        <img src="/share-color.svg" alt="share profile" class="ml1">
      </div>
      {{/ with}}
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="discussion-jumbotron jumbotron">
    <div class="col-sm-offset-1 col-sm-8">
      <div class="well discussion-callout">
          <h1 class="title">{{{title}}}</h1>
        <div class="body">{{{body}}}</div>
        <div class="link-preview flex-box justify-content-flex-start" data-link="{{link}}">
          <img class="link-image" src="" alt="">
          <div class="flex-box flex-direction-column flex-vertical-start ml1 mr1 width90">
            <div class="link-title"></div>
            <div class="link-description hidden-md hidden-sm hidden-xs"></div>
            <div class="qUrl">{{link}}</div>
          </div>
        </div>
        <div class="callout-footer flex-box flex-wrap">
          <ul class="nav navbar-nav navbar-left flex-box flex-vertical-center-align ml1 mr1">
            <li class="likes mr1" data-discussion-id="{{_id}}">
              <img src="/like.svg" alt="like icon">
              <span class="badge">{{agree.length}}</span>
            </li>
            <li class="dislikes mr1" data-discussion-id="{{_id}}">
              <img src="/like.svg" alt="dislike icon" class="flipVertical">
              <span class="badge">{{disagree.length}}</span>
            </li>
            <li class="love mr1" data-discussion-id="{{_id}}">
              <img src="/love.svg" alt="love icon">
              <span class="badge">{{like.length}}</span>
            </li>
            <li class="bookmark mr1" data-discussion-id="{{_id}}">
              <img src="/bookmark.svg" alt="bookmark icon">
              <span class="badge">{{bookmark.length}}</span>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right flex-box flex-vertical-center-align ml1 mr1">
            <li class="likes">
              Threads&nbsp;
              <span class="badge">{{threads.length}}</span>
            </li>
            <li class="dislikes ml1 hidden">
              Comments&nbsp;
              <span class="badge">2356</span>
            </li>
            <div class="active-users pull-right ml1">
              {{ #each users }}
                {{ #if less_than_3 @index}}
                  {{#with getUserDetailsById this}}
                    <img src="{{ profile.pic }}" alt="user pic">
                  {{/ with}}
                {{/if}}
              {{ /each }}
              {{ #if less_than_3 users.length}}
              {{ else}}
              <div class="remaining-active">
                <p>+{{ getCount}}</p>
              </div>
              {{/if}}
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col-sm-offset-1 col-sm-8">
    {{#if currentUser}}
      <div class="discussion-join">
        {{#with getCurrentUserDetails}}
          <img class="user-pic" src="{{ profile.pic }}" alt="user pic">
        {{/with}}
        {{>threadForm}}
      </div>
    {{else}}
      <div class="discussion-join flex-box flex-vertical-center-align justify-content-center">
        <div class="login-message mr1"><a href="#" id="login">{{> loginButtons}}</a><span>to start a new thread</span></div>
      </div>
    {{/if}}
  </div>
  <div class="col-sm-3 live-updates">
    <h1 class="heading">live<br>updates</h1>
    {{>most_commented_thread}}
    <br>
    {{>most_upvoted_thread}}
    <br><br><br>
  </div>
  {{/with}}`
  <div class="col-sm-offset-1 col-sm-8">
    {{#with getThreads}} {{ #each this }} {{> threadCard thread_id = this._id }} {{ /each }} {{/with}}
  </div>
  <div class="clearfix"></div><br><br><br>

</template>

<template name="discussionForm">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">New Discussion</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" name="title" value="{{title}}" placeholder="Discussion title" required="required"
              />
            </div>
            <div class="form-group">
              <label for="body">Body</label>
              <textarea name="body" class="form-control" placeholder="Discussion body" required="required">{{{body}}}</textarea>
            </div>
            <div class="form-group">
              <label for="body">Link</label>
              <input type="text" class="form-control" name="link" value="{{link}}" placeholder="Link" required="required" />
            </div>

          </div>
          <div class="modal-footer">
            <div class="buttons pull-right mr1">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <input class="publish btn primary" type="submit" value="Publish" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</template>