.back-arrow-container {
	height: 137px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  img {
    &:hover {
      transform: scale(1.1);
    }
  }
}

.thread-modal {
  overflow: hidden;
  .right-thread-panel {
    width: 74.5%;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(44,55,62, 0.48);
    height: calc(100vh - 30px);
    overflow-y: auto;
  }
  .modal-dialog {
    width: 100%;
    height: 100vh;
    margin: 0;
    .modal-content {
      background: url('/home/logo-chi-bg.png') no-repeat, url('/home/bg-main.png') no-repeat;
      background-size: 150%, 150%;
      background-position: center -100px, center;
      background-attachment: fixed;
      min-height: 100%;
      .modal-body {
        background-color: transparent;
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
        padding: 0;
      }
    }
  }
  .left-thread-panel {
    height: 100vh;
    width: 26.5%;
    background-color: rgba(25,29,31, 0.64);
    overflow-y: auto;
    .threads {
      .list-group-item {
        background-color: rgba(25,29,31, 0.64);
        border: 1px solid #2c373e;
        color: #6f7e82;
        position: relative;
        border-radius: 0;
        overflow: hidden;
        cursor: pointer;
        .menu-link {
          filter: grayscale(100%);
        }
        &.active, &:hover {
          background-color: #2c373e;
          color: #e2e6e7;
          opacity: 0.8;
          .menu-link {
            filter: grayscale(0%);
          }
          a {
            opacity: 0.8;
            background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
            font-size: 14px;
            font-weight: bold;
            text-align: left;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            background-image: linear-gradient(to bottom, #ff9452, #f96d28 50%, #ff445e);
          }
        }
        a {
          font-size: 14px;
          font-weight: bold;
          text-align: left;
          color: #a0b2b8;
        }
        &:hover {
          background-color: #2c373e;
          border: 1px solid #2c373e;
          color: #e2e6e7;
        }
        .thread-body {
          word-wrap: break-word;
          height: 40px;
        }
        &.thread:last-child {
          margin-bottom: 100px;
        }
      }
    }
  }
}

.threadlist-panel-search {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.all-threads {
  height: 40px;
  margin-top: 30px;
  font-size: 14px;
  padding: 0 15px;
	font-weight: bold;
	line-height: 1.29;
	letter-spacing: 1px;
	text-align: left;
	color: #6f7e82;
}

.flipVertical {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.badge {
  text-align: center;
  min-width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #414d54;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
  color: #a0b2b8;
  padding: 6px;
}

.discussion-top-navbar {
  background-color: #191d1f;
  height: 50px;
}

.discussion-jumbotron {
  background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
  box-shadow: 0 2px 8px 0 rgba(33, 33, 33, 0.16);
  margin-bottom: 0;
  padding-bottom: 15px;
  .discussion-callout {
    position: relative;
    padding: 25px;
    margin-top: -80px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    .title {
      margin-top: 0;
      margin-bottom: 16px;
      background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
      font-family: 'Noto Serif', serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.3;
      text-align: left;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .body {
      font-size: 14px;
      line-height: 1.5;
      text-align: left;
      color: #5a666a;
      margin-bottom: 24px;
    }
    .link-preview {
      margin-bottom: 50px;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
      border: solid 1px #e2e6e7;
      @media(max-width: 540px) {
        margin-bottom: 70px;
      }
      @media(max-width: 650px) {
        display: flex;
        flex-wrap: wrap !important;
      }
      @media (min-width: 769px) and (max-width: 991px) {
        display: flex;
        flex-wrap: wrap !important;
      }
      .link-image {
        max-width: 283px;
        height: 160px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      .link-title {
        font-family: "Noto Serif", serif;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        color: #2c373e;
        margin-bottom: 8px;
        @media(max-width: 540px) {
          text-shadow: 1px 2px #eaeaea;
          z-index: 1;
        }
        @media(max-width: 768px) {
          width: 90%;
        }
      }
      .link-description {
        height: 66px;
        font-size: 14px;
        line-height: 1.5;
        text-align: left;
        color: #5a666a;
      }
      .qUrl {
        font-size: 12px;
        color: #2c373e;
        width: 90%;
        word-wrap: break-word;
        @media(max-width: 540px) {
          margin-bottom: 5px;
        }
      }
    }
    .callout-footer {
      width: calc(100% - 40px);
      position: absolute;
      bottom: 20px;
      @media(max-width: 540px) {
        bottom: 5px;
      }
      .navbar-nav {
        opacity: 1;
        li {
          color: #a0b2b8;
          cursor: pointer;
          .badge {
            background-color: #a0b2b8;
          }
          &:hover {
            img {
              transform: scale(1.1);
              &.flipVertical {
                transform: scale(1.1, -1.1);
              }
            }
            .badge {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .navbar-nav {
    height: auto;
    opacity: 0.4;
    li {
      font-size: 14px;
      font-weight: bold;
      color: #191d1f;
      .badge {
        opacity: 1;
        z-index: 1;
        color: #ffffff;
        background-color: #191d1f;
        text-align: center;
      }
    }
  }
  .active-users{
    display: flex;
    img {
      width: 32px;
      height: 32px;
      margin-right: 8px;
      border-radius: 50%;
    }
    .remaining-active {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #eaeaea;
      position: relative;
      p {
        background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
      }
    }
  }
}

.discussion-user-details {
  height: 137px;
  @media(max-width: 768px) {
    height: 175px;
  }
  .user-details {
    display: flex;
    align-items: center;
    margin-left: 0;
    img {
      width: 48px;
      height: 48px;
      margin-right: 8px;
      border-radius: 50%;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.32);
    }
    p {
      text-align: left;
      margin-bottom: 4px;
      &.name {
        font-size: 16px;
        color: #ffffff;
      }
      &.created {
        color: #ffffff;
        opacity: 0.6;
        font-size: 12px;
      }
    }
  }
}

.follow-user {
  padding: 0 16px;
	height: 32px;
	object-fit: contain;
	border-radius: 8px;
	background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
  box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.16);
	font-size: 14px;
	font-weight: bold;
	text-align: left;
  color: #ffffff;
  border: 0;
  text-align: center;
  &.active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }
}

.discussion-join {
  background: white;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top: 1px solid #e2e6e7;
  padding: 24px 16px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  .login-message {
    font-size: 16px;
    color: #a0b2b8;
  }
  #newThreadForm {
    display: block !important;
    width: 100%;
    .note-toolbar {
      background-color: white;
      display: block;
    }
    .note-editor {
      background-color: white;
      margin-top: 0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
      border: solid 1px #e2e6e7;
    }
    .note-editable {
      color: #2c373e;
    }
    .note-resizebar {
      display: none;
    }
    .add-new-thread {
      background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
      font-size: 16px;
      text-align: left;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 0;
      position: absolute;
      font-weight: bold;
      left: 0;
      bottom: 0;
      text-align: center;
    }
  }
  .user-pic {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 50%;
  }
  textarea {
    height: 48px;
    width: 100%;
    border-radius: 8px;
    background-color: #f2f5f9;
    border: solid 1px #e2e6e7;
    font-size: 16px;
    text-align: left;
    padding: 16px;
    line-height: 1;
    overflow-y: hidden;
    @media(max-width: 440px) {
      font-size: 12px;
    }
    &::placeholder {
      color: #a0b2b8;
    }
  }
}

.thread-modal-close {
	opacity: 0.8;
	&:hover {
		opacity: 1;
	}
}


.live-updates {
  @media (min-width: 768px) {
    position: absolute;
    right: 0;
    top: 300px;
  }
  .heading {
    opacity: 0.4;
    font-family: Roboto;
    font-size: 36px;
    font-weight: bold;
    line-height: 0.92;
    text-align: left;
    color: #f96d28;
    margin-bottom: 20px;
    @media (min-width: 769px) {
      color: #191d1f;
    }
  }
  .most-commented-thread.card-bg,
  .most-upvoted-thread.card-bg,
  .top-three-participants.card-bg {
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    .card-heading {
      border-bottom: 1px solid #eaeaea;
      min-height: 40px;
      padding: 10px;
      margin-bottom: 10px;
    }
  }
  .most-commented-thread,
  .most-upvoted-thread,
  .top-three-participants {
    .profile-pic {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }
    .name {
      background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
      font-family: Roboto;
      font-size: 14px;
      text-align: left;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 0;
    }
    .created {
      margin: 0;
      font-size: 10px;
      font-weight: bold;
      text-align: left;
      color: #a0b2b8;
    }
    .card-body {
      margin: 10px 0;
      padding: 10px 20px;
      font-family: Roboto;
      font-size: 14px;
      line-height: 1.5;
      text-align: left;
      color: #5a666a;
      background-color: #f2f5f9;
      word-wrap: break-word;
      max-height: 137px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .card-footer {
      padding-bottom: 10px;
    }
    .comment-states {
      height: 24px;
      border-radius: 16px;
      padding: 0 10px;
      .upComment {
        color: #7ed321;
        margin: 0;
      }
      .agreeComment {
        border: 0;
        transform: rotate(45deg);
        background: none;
        color: #7ed321;
      }
      .downComment {
        color: #ff6c5c;
        margin: 0;
      }
      .disagreeComment {
        border: 0;
        transform: rotate(45deg);
        background: none;
        color: #ff6c5c;
      }
    }
    .most-comments {
      border: 0;
      background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
      font-family: Roboto;
      font-size: 14px;
      font-weight: bold;
      line-height: 1;
      text-align: left;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.popover-content {
  .discussion-callout {
    position: relative;
    background-color: #ffffff;
    border: 0;
    box-shadow: none;
    padding: 0 10px;
    .title {
      margin-top: 0;
      margin-bottom: 16px;
      background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
      font-family: 'Noto Serif', serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.3;
      text-align: left;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .body {
      font-size: 14px;
      line-height: 1.5;
      text-align: left;
      color: #5a666a;
      margin-bottom: 24px;
    }
    .link-preview {
      margin-bottom: 20px;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
      border: solid 1px #e2e6e7;
      .link-image {
        max-width: 283px;
        height: 160px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      .link-title {
        font-family: "Noto Serif", serif;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        color: #2c373e;
        margin-bottom: 8px;
      }
      .link-description {
        height: 66px;
        font-size: 14px;
        line-height: 1.5;
        text-align: left;
        color: #5a666a;
      }
      .qUrl {
        font-size: 12px;
        color: #2c373e;
      }
    }
    .callout-footer {
      display: none;
    }
  }

}

.popover{
  max-width: 100%;
}

.width90 {
  max-width: 90%;
}

#login-dropdown-list {
  position: absolute;
  top: 42px;
  left: -150px;
}

#login-buttons a,
.accounts-dialog a {
  text-decoration: none;
}

a.login-link-text {
	background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	-webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  padding: 0;
  margin: -3px 6px;
}

#login-buttons .login-close-text {
  float: right;
}