<template name="most_commented_thread">
  {{#with getMostCommentedThread }}
  <div class="most-commented-thread card-bg">
    <div class="card-heading">
      <p class="col-sm-12 flex-box justify-content-space-between">
        Most Commented Thread
        <img src="/thread.svg" alt="thread">
      </p>
    </div>
    <div class="col-sm-12 flex-box justify-content-flex-start">
      <div class="user-details flex-box">
        {{#with getUserDetailsById author}}
        <img src="{{ profile.pic }}" alt="user image" class="profile-pic">
        <div class="ml1">
          <p class="name">{{ profile.firstName }} {{ profile.lastName }}</p>
          <p class="created">{{formatDate ../createdAt "short"}}</p>
        </div>
        {{/with }}
      </div>
    </div>
    <div class="card-body col-sm-12">
      {{{body}}}
    </div>
    <div class="card-footer col-sm-12 flex-box justify-content-space-between">
      <div class="comment-states flex-box justify-content-space-around flex-vertical-center-align">
        <p class="number upComment">{{upVote.length}}</p>
        <button class="arrow-container agreeComment">
        <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
      </button>
      <p class="number downComment">{{downVote.length}}</p>
        <button class="arrow-container disagreeComment">
        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
      </button>
      </div>
      <button class="most-comments">
        {{comments.length}} comments
    </button>
    </div>
    <div class="clearfix"></div>
  </div>
  {{/with}}
</template>