<template name="responseUser">
  <div class="flex-box user-response flex-vertical-baseline">
    {{#with getCurrentUserDetails}}
    <img class="user-profile-pic" src="{{ profile.pic }}" alt="{{username}}">
    <p class="user-profile-name">You</p>
    {{/with}}
    <li class="list-group-item flex-grow-1">
      {{ this }}
    </li>
  </div>
</template>

<template name="responseBot">
  <div class="flex-box bot-response flex-vertical-baseline">
    {{#with getUserDetails author}}
      <img class="bot-profile-pic" src="{{ profile.pic }}" alt="{{username}}">
      <p class="bot-profile-name">Bot</p>
    {{/with}}
    <li class="list-group-item flex-grow-1">
      {{{ this }}}
    </li>
  </div>
</template>