<template name="signup">
		<div class="signup">
			<div class="container signup-container">
				<div class="signup-main">
					<div class="logo">
						<img src="/login/logo-chi.svg" alt="chi logo">
						<p>Collective <br> Human <br> <span>Intelligence</span></p>
					</div>
					<div class="signup-panel-quotes">
						<div class="signup-panel">
							<div class="signup-header">
								<a href="/login">
									<img src="/login/button-back.svg" alt="back button">
								</a>
								<div class="title-msg">
									<p class="signup-title">Signup</p>
									<p class="signup-msg">
										Please enter your details to create an account.
									</p>
								</div>
							</div>
							<div id="profilePic">
								{{ #with userPic }}
									<img src="{{ this }}" alt="user profile pic">
								{{ /with }}
							</div>
							<form>
								<div class="profileImage">
									<input type="button" id="loadFileXml" value="Choose file to upload" onclick="document.getElementById('profile_pic').click();" />
									<input type="file" id='profile_pic' accept=".jpg, .jpeg, .png" style="display:none;">
								</div>
								<div class="firstName">
									<input type="text" placeholder="First Name" id="firstName">
								</div>
								<div class="lastName">
									<input type="text" placeholder="Last Name" id="lastName">
								</div>
								<div class="username">
									<input type="text" placeholder="Username" id="username">
									<img src="/login/username.svg" alt="user icon">
								</div>
								<div class="emailId">
									<input type="email" placeholder="Email Id" id="emailId">
									<img src="/login/email.svg" alt="email icon">
								</div>
								<div class="password">
									<input type="password" placeholder="Password" id="password">
									<img src="/login/password.svg" alt="key icon">
								</div>
								<div class="forget-signIn">
									<a href="#" class="signupBtn">
										<span>Signup</span>
									</a>
								</div>
							</form>
						</div>
						<div class="quotes">
							<h3>You must be the change <br>you wish to see in the world</h3>
							<p>- Mahatma Gandhi</p>
						</div>
					</div>
					<a href="/login" class="haveAnAccount">Have an account</a>
				</div>
			</div>
		</div>
</template>	