.signup-container {
	padding: 60px 0 0;
	height: 100%;

	.signup-main {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.logo {
		display: flex;
		align-items: center;
		margin-bottom: 48px;
		img {
			width: 172.3px;
			height: 72px;
			object-fit: contain;
			margin-right: 17px;
		}
		p {
			background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
			font-family: Roboto;
			font-size: 20px;
			font-stretch: condensed;
			letter-spacing: 0.4px;
			text-align: left;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			font-weight: 300;
			margin: 0;
			span {
				font-weight: bold;
			}
		}
	}

	.signup-header {
		display: flex;
		align-items: flex-start;
		img {
			margin-right: 16px;
		}
		p {
			&.signup-title {
				margin-bottom: 8px;
			}
			&.signup-msg {
				font-family: Roboto;
				font-size: 16px;
				letter-spacing: 0.3px;
				text-align: left;
				color: #a0b2b8;
				margin-bottom: 24px;
			}
		}
	}

	#profilePic {
		text-align: center;
		margin-bottom: 15px;
		img{
			width: 90px;
			height: 90px;
			border-radius: 50%;
		}
	}

	.signup-panel-quotes {
		display: flex;
		justify-content: space-between;
		.quotes {
			align-self: flex-end;
			margin-bottom: 20px;
			background: url('/login/quotes.png') no-repeat;
			background-position-x: 10px;
			padding-left: 80px;
			h3 {
				width: 351px;
				height: 66px;
				font-family: NotoSerif;
				font-size: 30px;
				line-height: 1.25;
				font-style: italic;
				letter-spacing: 0.4px;
				text-align: left;
				color: #f2f5f9;
				margin-bottom: 16px;
			}
			p {
				font-family: NotoSerif;
				font-size: 18px;
				letter-spacing: 0.4px;
				text-align: left;
				color: #a0b2b8;
			}
		}
	}
	.signup-panel {
		width: 512px;
		object-fit: contain;
		border-radius: 8px;
		background-color: #2c373e;
		box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.64);
		padding: 40px;
		border-width: 3px 0 3px 3px;
		border-style: solid;
		border-image: linear-gradient(to bottom, #ff9452, #f96d28 50%, #ff445e) 1 100%;
		margin-bottom: 16px;
		p {
			font-family: Roboto;
			font-size: 24px;
			font-weight: 300;
			letter-spacing: 0.5px;
			text-align: left;
			&.signup-title {
				background-image: linear-gradient(to right, #ff9452, #f96d28 5%, #ff445e);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		a {
			text-decoration: none;
			font-family: Roboto;
			font-size: 14px;
			letter-spacing: 0.3px;
			text-align: left;
			color: #a0b2b8;
		}
		.forget-signIn {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding-left: 5px;
			.signupBtn {
				width: 93px;
				height: 40px;
				object-fit: contain;
				border-radius: 8px;
				background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
				box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.16);
				position: relative;
				span {
					font-family: Roboto;
					font-size: 16px;
					text-align: left;
					color: #ffffff;
					text-transform: uppercase;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 100%;
					text-align: center;
				}
			}
		}
	}
	.haveAnAccount {
		font-family: Roboto;
		font-size: 16px;
		letter-spacing: 0.3px;
		text-align: left;
		color: #a0b2b8;
		text-decoration: none;
		margin-bottom: 30px;
	}

	input {
		width: 432px;
		height: 64px;
		border-radius: 8px;
		background-color: #414d54;
		border: solid 1px #191d1f;
		padding: 24px 24px 24px 70px;
		font-family: Roboto;
		font-size: 14px;
		letter-spacing: 0.3px;
		text-align: left;
		color: #a0b2b8;
	}

	.profileImage{
		margin-bottom: 24px;
		text-align: center;
	}

	#loadFileXml{
		padding: 0;
		text-align: center;
		width: 180px;
		height: 30px;
		margin: 0 auto;
	}

	.firstName {
		position: relative;
		margin-bottom: 24px;
		img {
			position: absolute;
			top: 50%;
			left: 24px;
			transform: translateY(-50%)
		}
	}

	.lastName {
		position: relative;
		margin-bottom: 24px;
		img {
			position: absolute;
			top: 50%;
			left: 24px;
			transform: translateY(-50%)
		}
	}

	.emailId {
		position: relative;
		margin-bottom: 24px;
		img {
			position: absolute;
			top: 50%;
			left: 24px;
			transform: translateY(-50%)
		}
	}

	.username {
		position: relative;
		margin-bottom: 24px;
		img {
			position: absolute;
			top: 50%;
			left: 24px;
			transform: translateY(-50%)
		}
	}

	.password {
		position: relative;
		margin-bottom: 24px;
		img {
			position: absolute;
			top: 50%;
			left: 24px;
			transform: translateY(-50%)
		}
	}
}

.signup {
	background: url('/login/login-bg.svg'),
	url('/login/mahatma-gandhi.jpg') no-repeat;
	background-size: cover,
	contain;
	background-position-x: right;
	opacity: 1,
	.7;
}