<template name="botStartView">
  <div class="flex-box bot-response flex-vertical-baseline">
    {{ #with getResponse }}
    {{#if currentUser}}
      {{#with getCurrentUserDetails}}
      <img class="bot-profile-pic" src="{{ profile.pic }}" alt="{{username}}">
      <p class="bot-profile-name">Bot</p>
      {{/with}}
    {{/if}}
    <a href="#" class="plus-icon add-bot-response">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </a>
    <li class="list-group-item flex-grow-1">
      {{{this}}}
    </li>
    {{ /with }}
  </div>
</template>

<template name="botResponseView">
  <div class="flex-box bot-response flex-vertical-baseline">
    {{#if currentUser}}
      {{#with getCurrentUserDetails}}
      <img class="bot-profile-pic" src="{{ profile.pic }}" alt="{{username}}">
      <p class="bot-profile-name">Bot</p>
      {{/with}}
    {{/if}}
    <a href="#" class="plus-icon add-bot-response">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </a>
    {{ #with getResponse this}}
      <li class="list-group-item flex-grow-1">
        {{ #each this }}
          <div class="tag" data-states="{{this}}" data-toggle="popover" data-trigger="manual">
            {{this}}
          </div>
        {{ /each }}
      </li>
    {{ /with }}
  </div>
</template>

<template name="userResponse">
  <div class="flex-box user-response flex-vertical-baseline">
    <img class="user-profile-pic" src="/profile-img.png" alt="profile pic">
    <a href="#" class="plus-icon add-user-response">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </a>
    <li class="list-group-item flex-grow-1">
      <p class="user-profile-name">User</p>
      {{ #with getUserResponse this}}
        {{ #each this }}
          <div class="tag" data-states="{{this}}" data-toggle="popover" data-trigger="manual" data-content="There are no changes to save.">
            {{this}}
          </div>
        {{ /each }}
      {{/with}}
    </li>
  </div>
</template>

<template name="botStart">
  <div class="flex-box bot-response flex-vertical-baseline">
    {{#if currentUser}}
      {{#with getCurrentUserDetails}}
      <img class="bot-profile-pic" src="{{ profile.pic }}" alt="author image">
      {{/with}}
    {{/if}}
    <a href="#" class="plus-icon bot-says">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </a>
    <p class="bot-profile-name">Bot</p>
    <li class="list-group-item flex-grow-1">
    </li>
  </div>
</template>


<template name='userstart'>
  <div class="flex-box user-response flex-vertical-baseline">
    <img class="user-profile-pic" src="/profile-img.png" alt="User image">
    <a href="#" class="plus-icon add-user-response">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </a>
    <p class="user-profile-name">User</p>
    <li class="list-group-item flex-grow-1">
    </li>
  </div>
</template>

<template name="botResponse">
  <div class="flex-box bot-response flex-vertical-baseline">
    {{#if currentUser}}
      {{#with getCurrentUserDetails}}
      <img class="bot-profile-pic" src="{{ profile.pic }}" alt="{{username}}">
      <p class="bot-profile-name">Bot</p>
      {{/with}}
    {{/if}}
    <a href="#" class="plus-icon add-bot-response">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </a>
    <li class="list-group-item flex-grow-1">
    </li>
  </div>
</template>
