.box{
    &.user{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 20px;

            img.profile-pic {
              width: 50px;
              height: 50px;
              margin-left: 20px;
          }

          .content {
              border: 1px solid #0FBFFF;
              min-width: 280px;
              padding: 10px;
              border-radius: 84px;
              background: #F4F8FA;
              text-align: center;
          }
    }

    &.bot-view{
        display: flex;
        align-items: center;
        padding: 20px;

        img {
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }
        .content {
            border: 1px solid #0FBFFF;
            min-width: 280px;
            padding: 10px;
            border-radius: 84px;
            background: #F4F8FA;
            text-align: center;
            display: flex;
            justify-content: flex-start;
            flex-direction: row-reverse;

            .tag{
                padding: 5px 10px;
                background: #fff;
                border-radius: 8px;
                cursor: pointer;
                margin-right: 15px;

                &::not(::last-child){
                    margin-right: 0;
                }
            }
        }

    }

    &.user-view {
        .content{
            display: flex;
            justify-content: flex-start;

            .tag {
                padding: 5px 10px;
                background: #fff;
                border-radius: 8px;
                cursor: pointer;
                margin-right: 15px;

                &::not(::last-child) {
                    margin-right: 0;
                }
            }
        }
    }
}
