<template name='resourcesCards'>
		{{ #with getResources }}
		{{ #each this }}
			{{ #with getTemplate this @index}}
				{{> Template.dynamic template=temp data=data}}
			{{ /with }}
		{{ /each }}
	{{ /with }}
</template>

<template name='card1'>
	<div class="card-1">
		{{ #with this }}
		<div class="header">
			<img src="{{ coverPic }}" alt="resources image">
			{{#with getUserDetails author}}
			<div class="user-details">
				<div class="user">
					<img src="{{ profile.pic }}" alt="user image">
					<p class="name">{{ username }}</p>
				</div>
			</div>
			{{/ with}}
		</div>
		<div class="body">
			<h2>{{ title }}</h2>
			<p class="main-p">{{{ limitPara description }}}</p>

			<div class="views-pages-likes">
				<div class="views">
					<img src="/home/views.svg" alt="eye icon">
					<p>{{ views }} views</p>
				</div>
				<div class="pages">
					<img src="/home/pages.svg" alt="book icon">
					<p>{{ pages.length }} pages</p>
				</div>
				<div class="fire">
					<img src="/home/fire.svg" alt="fire icon">
					<p><strong>{{ stars }}</strong>/5</p>
				</div>
			</div>
		</div>
		<div class="discussing">
			<div class="img">
				<img class="top" src="/home/discussion-author.png" alt="user pic">
				<img src="/home/discussion-comment.png" alt="user pic">
			</div>
			<p>Rahil Khan, Alex Wilson + 3 others are currently active</p>
		</div>
		<a href="/resource/{{_id}}" class='goto'></a>
		{{ /with }}
	</div>
</template>

<template name='card1WithoutImg'>
	<div class="card-1-without-img">
		{{ #with this }}

		<div class="header">
			{{#with getUserDetails author}}
			<div class="user-details">
				<div class="user">
					<img src="{{ profile.pic }}" alt="user image">
					<p class="name">{{ username }}</p>
				</div>
			</div>
			{{/ with}}
		</div>
		<div class="body">
			<div class="body-main">
				<h2>{{ title }}</h2>
				<p class="main-p">{{{ limitPara description }}}</p>
			</div>

			<div class="views-pages-likes">
				<div class="views">
					<img src="/home/views.svg" alt="eye icon">
					<p>{{ views }} views</p>
				</div>
				<div class="pages">
					<img src="/home/pages.svg" alt="book icon">
					<p>{{ pages.length }} pages</p>
				</div>
				<div class="fire">
					<img src="/home/fire.svg" alt="fire icon">
					<p>{{ stars }}/5</p>
				</div>
			</div>
		</div>
		<div class="discussing">
			<div class="img">
				<img class="top" src="/home/discussion-author.png" alt="user pic">
				<img src="/home/discussion-comment.png" alt="user pic">
			</div>
			<p>Rahil Khan, Alex Wilson + 3 others are currently active</p>
		</div>
		<a href="/resource/{{_id}}" class='goto'></a> {{ /with }}
	</div>
</template>

<template name='card2'>
	<div class="card-2">
		{{ #with this}}
		<p>{{ program }}</p>
		<h3>{{ title }}</h3>
		<p class="body">{{{ limitPara description }}}</p>
		<div class="pages-likes">
			<div class="pages">
				<img src="/home/pages.svg" alt="book icon">
				<p>{{ pages.length }} pages</p>
			</div>
			<div class="fire">
				<img src="/home/fire.svg" alt="fire icon">
				<p>{{ stars }}/5</p>
			</div>
		</div>
		<a href="/resource/{{_id}}" class='goto'></a>
		{{ /with }}
	</div>
</template>

<template name='card3'>
	<div class="card-3">
		{{ #with this}}
		<img src="{{ coverPic }}" alt="resource image">
		<div class="body">
			<h3>{{ title }}</h3>
			<p>{{{ limitPara description }}}</p>
		</div>
		{{ /with }}
	</div>
</template>

<template name='card4'>
	<div class="card-4">
		{{ #with this}}
		<img src="{{ coverPic }}" alt="resource image">
		<div class="body">
			<h3>{{ title }}</h3>
			<p>{{{ limitPara description }}}</p>
		</div>
		{{ /with }}
	</div>
</template>

<template name='card5'>
	<div class="card-5">
		{{ #with this}}
		<img src="{{ coverPic }}" alt="resource image">
		<div class="body">
			<h3>{{ title }}</h3>
			<p>{{{ limitPara description }}}</p>
			<div class="highly-active">
				<img src="{{ activeUser }}" alt="user image">
				<p>{{ activeUsername activeUserName }}</p>
			</div>
		</div>
		{{ /with }}
	</div>
</template>

<template name='card6'>
	<div class="card-6">
		{{ #with this}}
		<p>{{ program }}</p>
		<h3>{{ title }}</h3>
		<p class="body">{{{ limitPara description }}}</p>
		<a href="#">
			<span>Read More</span>
		</a>
		{{ /with }}
	</div>
</template>

<template name='card7'>
	<div class="card-7">
		{{ #with this}}
		<p>{{ product }}</p>
		<h3>{{ title }}</h3>
		<p class="body">{{{ limitPara description }}}</p>
		<a href="#">
			<span>Read More</span>
		</a>
		{{ /with }}
	</div>
</template>