	.card-1 {
		border-radius: 16px;
		width: 362px;
		align-self: stretch;
		background-color: #2c373e;
		margin-right: 20px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.32);
		.goto{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		.header{
			position: relative;
			border-radius: 16px;
			img{
				border-radius: 16px;
				width: 100%;
				height: 290px;
			}

			.user-details {
				display: flex;
				align-items: center;
				padding-left: 24px;
				position: absolute;
				bottom: 24px;
				img {
					width: 32px;
					height: 32px;
					margin-right: 8px;
					border-radius: 50%;
					box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.48);
					border: solid 1px #191d1f;
				}

				.user{
					display: flex;
					align-items: center;
					img{
						margin-bottom: 0;
						margin-right: 8px;
						box-shadow: none;
					}

					p {
						color: #e2e6e7;
						text-shadow: 0 2px 8px rgba(0, 0, 0, 0.48);
						font-weight: 300;
					}
				}
				p {
					font-family: Roboto;
					text-align: left;
					font-weight: bold;
					margin: 0;
					// margin-bottom: 4px;
					&.name {
						font-size: 14px;
						color: #ffffff;
					}
				}
			}
		}

		.body{
			padding: 18px 24px 19px;
			h2 {
				margin-top: 0;
				font-family: 'Noto Serif';
				letter-spacing: 0.25px;
				font-size: 24px;
				line-height: 1.25;
				text-align: left;
				color: #f2f5f9;
				opacity: 0.9;
			}

			p {
				font-size: 14px;
				line-height: 1.5;
				text-align: left;
				color: #a0b2b8;
				margin: 15px 0;
				letter-spacing: 0.25px;
			}

			.views-pages-likes{
				display: flex;
				align-items: center;

				p{
					margin: 0
				}

				.views{
					display: flex;
					margin-right: 24px;

					img{
						margin-right: 8px;
					}
				}

				.pages {
					display: flex;
					margin-right: 24px;

					img {
						margin-right: 8px;
					}
				}

				.fire {
					display: flex;

					img {
						margin-right: 8px;
					}
				}
			}
		}

		.discussing{
			background: #36474F;
			padding: 16px 29px;
			display: flex;
			align-items: center;
			width: 100%;
			width: 100%;
			border-radius: 16px;
			background-image: linear-gradient(to left, #2c373e, #414d54);
			height: 64px;
			.img{
				position: relative;
				margin-right: 10px;

				img{
					width: 28px;
					height: 28px;

					&.top{
						position: absolute;
						left: -10px;
						z-index: 1;
					}
				}
			}
			p {
				background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
				font-family: Roboto;
				font-size: 14px;
				text-align: left;
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				margin-bottom: 0;
			}
		}
	}

	.card-1-without-img {
		width: 362px; // height: auto;
		background-image: linear-gradient(to bottom, #00b7de, #0080b9);
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
		margin-right: 20px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		position: relative;
		.goto {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.header {
			padding-top: 24px;
			.user-details {
				display: flex;
				align-items: center;
				padding-left: 24px;
				img {
					width: 32px;
					height: 32px;
					margin-right: 8px;
					border-radius: 50%;
				}
				.user {
					display: flex;
					align-items: center;
					img {
						margin-bottom: 0;
						margin-right: 15px;
						box-shadow: none;
					}
					p {
						font-weight: normal;
					}
				} // .program {
				// 	background: #D3ECE9;
				// 	position: relative; // padding: 20px;
				// 	width: 80px;
				// 	height: 20px;
				// 	p {
				// 		color: #4D7471;
				// 		position: absolute;
				// 		top: 50%;
				// 		width: 100%;
				// 		transform: translate(-50%, -50%)
				// 	}
				// }
				p {
					font-family: Roboto;
					text-align: left;
					font-weight: bold;
					margin: 0; // margin-bottom: 4px;
					&.name {
						font-size: 14px;
						color: #ffffff;
					}
				}
			}
		}
		.body {
			padding: 18px 24px 19px;
			margin-bottom: 15px;
			flex: 1;
			h2 {
				font-family: NotoSerif;
				font-size: 24px;
				font-weight: bold;
				line-height: 1.25;
				text-align: left;
				color: #ffffff;
				margin-top: 0;
				margin-bottom: 16px;
			}
			p {
				font-family: Roboto;
				font-size: 14px;
				line-height: 1.5;
				text-align: left;
				color: #B7BCC0;
				margin-bottom: 37px; // &.main-p{
				// 	height: 72px;
				// }
			}
			.views-pages-likes {
				display: flex;
				align-items: center;
				P {
					margin: 0
				}
				.views {
					display: flex;
					margin-right: 24px;
					img {
						margin-right: 8px;
					}
				}
				.pages {
					display: flex;
					margin-right: 24px;
					img {
						margin-right: 8px;
					}
				}
				.fire {
					display: flex;
					img {
						margin-right: 8px;
					}
				}
			}
		}
		.discussing {
			border-radius: 16px;
			background-image: linear-gradient(to left, #2c373e, #414d54);
			padding: 16px 29px;
			display: flex;
			align-items: center;
			width: 362px;
			.img {
				position: relative;
				margin-right: 10px;
				img {
					width: 28px;
					height: 28px;
					&.top {
						position: absolute;
						left: -10px;
						z-index: 1;
					}
				}
			}
			p {
				font-family: Roboto;
				font-size: 14px;
				line-height: 1.14;
				text-align: left;
				color: #B7BCC0;
				margin: 0
			}
		}
	}

	.card-2{
		width: 266px;
		height: 290px;
		object-fit: contain;
		border-radius: 16px;
		background-image: linear-gradient(to bottom, #00b7de, #0080b9);
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
		padding: 24px;
		margin-right: 20px;
		margin-bottom: 20px;
		position: relative;
		.goto{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		p {
			font-family: Roboto;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 1px;
			text-align: center;
			color: #ffffff;
			word-wrap: break-word;

			&.body{
				opacity: 0.48;
				font-size: 14px;
				font-weight: normal;
				line-height: 1.14;
				color: #000000;
				margin-bottom: 14px;
				word-wrap: break-word;
			}
		}

		h3{
			font-family: NotoSerif;
			word-wrap: break-word;
			line-height: 1.09;
			text-align: center;
			color: #ffffff;
			margin-top: 20px;
			margin-bottom: 16px;
			word-wrap: break-word;
		}

		.pages-likes{
			display: flex;
			justify-content: space-around;
			align-items: center;

			.pages{
				display: flex;
				align-items: center;
				flex-basis: 70%;

				img{
					margin-right: 8px;
					width: 20px;
					height: 19px;
				}

				p{
					margin: 0
				}
			}

			.fire {
				display: flex;
				align-items: center;
				img {
					margin-right: 8px;
				}

				p{
					margin: 0
				}
			}
		}
	}

	.card-3{
		width: 266px;
		height: 290px;
		border-radius: 8px;
		background-color: #ffffff;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
		grid-column: 3;
		grid-row: 1;

		img{
			width: 266px;
			height: 145px;
		}

		.body{
			padding: 16px;

			h3{
				font-family: NotoSerif;
				font-size: 22px;
				font-weight: bold;
				line-height: 1.22;
				text-align: left;
				color: #2c373e;
				margin: 0 0 9px;
			}

			p{
				font-family: Roboto;
				font-size: 14px;
				line-height: 1.5;
				text-align: left;
				color: #5a666a;
				margin: 0;
			}
		}
	}

	.card-4{
		width: 552px;
		height: 290px;
		border-radius: 8px;
		background-color: #ffffff;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
		grid-column: 2 / span 3;
		grid-row: 2;

		img{
			width: 552px;
			height: 145px;
		}

		.body{
			padding: 16px 24px 28px;

			h3{
				margin: 0 0 6px;
				font-family: NotoSerif;
				font-size: 18px;
				font-weight: bold;
				line-height: 1.78;
				text-align: left;
				color: #2c373e;
			}

			p{
				font-family: Roboto;
				font-size: 14px;
				line-height: 1.5;
				text-align: left;
				color: #5a666a;
			}
		}
	}

	.card-5{
		width: 552px;
		height: 290px;
		border-radius: 8px;
		background-color: #ffffff;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
		display: flex;
		margin-right: 20px;
		grid-column: span 2;

		img{
			width: 266px;
			height: 290px;
			vertical-align: baseline;
		}

		.body{
			padding-top: 24px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			h3{
				font-family: NotoSerif;
				font-size: 24px;
				font-weight: bold;
				line-height: 1.25;
				text-align: left;
				color: #2c373e;
				padding: 0 26px;
				margin: 0 0 8px;
				height: 80px;
			}

			p{
				font-family: Roboto;
				font-size: 14px;
				line-height: 1.5;
				text-align: left;
				color: #5a666a;
				padding: 0 26px;
				margin: 0 0 27px;
			}

			.highly-active{
				height: 64px;
				background-image: linear-gradient(to right, #f2f5f9, #e2e6e7);
				box-shadow: 0 -1px 0 0 #e2e6e7;
				padding: 15px 36px 16px;
				display: flex;
				align-items: center;

				img{
					width: 28px;
					height: 28px;
					margin-right: 10px;
				}

				P{
					font-family: Roboto;
					font-size: 13px;
					line-height: 1.25;
					text-align: left;
					color: #6f7e82;
					padding: 0;
					margin: 0;
				}
			}
		}
	}

	.card-6 {
		width: 266px;
		height: 290px;
		object-fit: contain;
		border-radius: 8px;
		background-image: linear-gradient(317deg, #ff8dcf, #947bef);
		padding: 24px 24px 0;
		text-align: center;
		margin-right: 20px;

		p{
			font-family: Roboto;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 1px;
			text-align: center;
			color: #ffffff;

			&.body{
				opacity: 0.48;
				font-size: 14px;
				line-height: 1.5;
				color: #191d1f;
				margin-bottom: 20px;
			}
		}

		h3{
			font-family: NotoSerif;
			line-height: 1.09;
			text-align: center;
			color: #ffffff;
			margin-bottom: 16px;
			margin: 0 0 16px;
		}

		a{
			width: 132px;
			height: 34px;
			border-radius: 20px;
			border: solid 1px rgba(237, 237, 237, 0.4);
			text-decoration: none;
			padding: 8px 31px;
			margin: 0 auto;

			span{
				font-family: Roboto;
				font-size: 10px;
				font-weight: bold;
				line-height: 1.2;
				letter-spacing: 2px;
				text-align: center;
				color: #ffffff;
			}
		}
	}

	.card-7 {
		width: 266px;
		height: 290px;
		object-fit: contain;
		border-radius: 8px;
		background-image: linear-gradient(138deg, #17ead9, #6078ea);
		padding: 24px 24px 0;
		text-align: center;
		margin-right: 20px;

		p {
			font-family: Roboto;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 1px;
			text-align: center;
			color: #ffffff;
			&.body {
				opacity: 0.48;
				font-size: 14px;
				line-height: 1.5;
				color: #191d1f;
				margin-bottom: 20px;
			}
		}
		h3 {
			font-family: NotoSerif;
			line-height: 1.09;
			text-align: center;
			color: #ffffff;
			margin-bottom: 16px;
			margin: 0 0 16px;
		}
		a {
			width: 132px;
			height: 34px;
			border-radius: 20px;
			border: solid 1px rgba(237, 237, 237, 0.4);
			text-decoration: none;
			padding: 8px 31px;
			margin: 0 auto;
			span {
				font-family: Roboto;
				font-size: 10px;
				font-weight: bold;
				line-height: 1.2;
				letter-spacing: 2px;
				text-align: center;
				color: #ffffff;
			}
		}
	}

// }

	// .card-1 {
	// 	width: 362px;
	// 	height: auto;
	// 	// border-radius: 8px;
	// 	background-color: transparent;
	// 	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
	// 	grid-column: 1;
	// 	grid-row: 1 / span 2;
	// 	margin-right: 20px;
	// 	margin-bottom: 20px;
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: space-between;
	// 	.header {
	// 		img {
	// 			width: 362px;
	// 			height: 290px;
	// 			border-radius: 8px 8px 0 0;
	// 			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
	// 		}
	// 	}
	// 	.body {
	// 		padding: 18px 24px 19px;
	// 		margin-bottom: 15px;
	// 		h2 {
	// 			font-family: NotoSerif;
	// 			font-size: 24px;
	// 			font-weight: bold;
	// 			line-height: 1.25;
	// 			text-align: left;
	// 			color: #2c373e;
	// 			margin-top: 0;
	// 			margin-bottom: 16px;
	// 		}
	// 		p {
	// 			font-family: Roboto;
	// 			font-size: 14px;
	// 			line-height: 1.5;
	// 			text-align: left;
	// 			color: #5a666a;
	// 			margin-bottom: 37px;
	// 			&.main-p {
	// 				height: 72px;
	// 			}
	// 		}
	// 		.views-pages-likes {
	// 			display: flex;
	// 			align-items: center;
	// 			P {
	// 				margin: 0
	// 			}
	// 			.views {
	// 				display: flex;
	// 				margin-right: 24px;
	// 				img {
	// 					margin-right: 8px;
	// 				}
	// 			}
	// 			.pages {
	// 				display: flex;
	// 				margin-right: 24px;
	// 				img {
	// 					margin-right: 8px;
	// 				}
	// 			}
	// 			.fire {
	// 				display: flex;
	// 				img {
	// 					margin-right: 8px;
	// 				}
	// 			}
	// 		}
	// 	}
	// 	.discussing {
	// 		border-radius: 8px;
	// 		background-image: linear-gradient(to right, #f2f5f9, #e2e6e7);
	// 		box-shadow: 0 -1px 0 0 #e2e6e7;
	// 		padding: 16px 29px;
	// 		display: flex;
	// 		align-items: center;
	// 		width: 362px;
	// 		.img {
	// 			position: relative;
	// 			margin-right: 10px;
	// 			img {
	// 				width: 28px;
	// 				height: 28px;
	// 				&.top {
	// 					position: absolute;
	// 					left: -10px;
	// 					z-index: 1;
	// 				}
	// 			}
	// 		}
	// 		p {
	// 			font-family: Roboto;
	// 			font-size: 14px;
	// 			line-height: 1.14;
	// 			text-align: left;
	// 			color: #6f7e82;
	// 			margin: 0
	// 		}
	// 	}
	// }