<template name="video">
    <h2>{{ this.title }}</h2>
    <div class="video-container">
        <iframe width="560" height="315" src="{{ this.src }}" frameborder="0" allowfullscreen></iframe>
    </div>
</template>