<template name="chatTemp">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#" class="videoCall" id="videoChat">Video Chat</a></li>
        <li role="presentation"><a href="#" class="videoCall" id="videoChatCanvas">Video & Canvas</a></li>
        <li role="presentation"><a href="#" class="videoCall" id="videoChatCanvas">Video and Text</a></li>
    </ul>
    {{ #with getChat}}
        {{> Template.dynamic template=name }}
    {{ /with }}
</template>