
#exTab1 {
  .nav-pills {
    background-color: #191d1f;
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.16);
    li {
      margin-left: 25px;
      a {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: left;
        color: #a0b2b8;
        padding: 13px 5px;
        &:hover, &:active, &:focus {
          background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 1px;
          text-align: left;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          border-width: 2px;
        }
      }
    }
    li.active {
      a {
        padding: 13px 5px;
        background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: left;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        border-width: 2px;
        width: 100%;
        border-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
        border-top:0;
        border-left:0;
        border-right:0;
      }
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
      }
    }
  }
  .tab-content {
    color : white;
    padding : 5px 15px;
    margin-top: 50px;
    .scrollToDiv {
      min-height: auto;
      margin: 0;
      li {
        margin-left: 30px;
        a {
          font-size: 14px;
          letter-spacing: 1px;
          text-align: left;
          color: #a0b2b8;
          text-transform: uppercase;
        }
      }
    }
    .main-title {
      background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
      font-family: Roboto;
      font-size: 18px;
      letter-spacing: 1.3px;
      text-align: left;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 32px 0;
    }
  }
}


.people-container {

  #linechart {
    display: block;
    margin: 0 auto;
    border: solid 1px #191d1f;
    border-radius: 6px;
    width: 900px;
    max-width: 100%;
    height: 500px;
  }

  #donutChart {
    display: block;
    margin: 0 auto;
    border: solid 1px #191d1f;
    border-radius: 6px;
    width: 500px;
    max-width: 100%;
    height: 500px;
  }

  #bubbleChart, #bubbleChart2 {
    display: block;
    margin: 0 auto;
    border: solid 1px #191d1f;
    border-radius: 6px;
    width: 900px;
    max-width: 100%;
    height: 500px;
  }


  .chart-title {
    margin-bottom: 16px;
    background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}

