<template name="analytics">

  <div id="exTab1">
    <ul class="nav nav-pills navbar-fixed-top">
      <li class="active">
        <a href="#people" data-toggle="tab">People</a>
      </li>
      <li>
        <a href="#demographics" data-toggle="tab">Demographics</a>
      </li>
      <li>
        <a href="#content" data-toggle="tab">Content</a>
      </li>
      <li>
        <a href="#sentiments" data-toggle="tab">Sentiments</a>
      </li>
      <li>
        <a href="#intensions" data-toggle="tab">Intensions</a>
      </li>
    </ul>

    <div class="tab-content clearfix">
      <div class="tab-pane active" id="people">
        <div class="container">
          {{> people}}
        </div>
      </div>
      <div class="tab-pane" id="demographics">
				{{> demographics}}
      </div>
      <div class="tab-pane" id="content">

      </div>
      <div class="tab-pane" id="sentiments">

      </div>
      <div class="tab-pane" id="intensions">

      </div>
    </div>
  </div>

</template>