<template name="circular_tabs">
  <div class="circlular_tabs_container">
    <div class="board">
      <div class="board-inner">
        <ul class="nav nav-tabs flex-box flex-vertical-center-align" id="pageTab">
          <li class="flex-box justify-content-center active">
            <a href="#article" data-toggle="tab" title="Article">
              <span class="round-tabs article"></span>
            </a>
          </li>
          <li class="flex-box justify-content-center">
            <a href="#question" data-toggle="tab" title="Question">
              <span class="round-tabs question"></span>
            </a>
          </li>
          <li class="flex-box justify-content-center">
            <a href="#journaling" data-toggle="tab" title="Journaling">
              <span class="round-tabs conversation"></span>
            </a>
          </li>
          <li class="flex-box justify-content-center">
            <a href="#bot" data-toggle="tab" title="Bot">
              <span class="round-tabs bot"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <br><br><br>
        <div class="tab-pane fade in active" id="article">
          {{> articleCreate}}
        </div>
        <div class="tab-pane fade" id="question">
          {{> questionCreate}}
        </div>
        <div class="tab-pane fade" id="journaling">
          {{> journalingCreate}}
        </div>
        <div class="tab-pane fade" id="bot">
          {{> botCreate }}
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

  </div>
</template>