<template name="resourceUpdate">
	{{ #with getResource}}
	<div class="navbar nav-bg navbar-fixed-top resource-top-navbar">
		<div class="container-fluid width100">
			<ul class="nav navbar-nav flex-box flex-vertical-center-align">
				<div><a href="/"><img src="/back.svg" alt="home"></a></div>
        <li class="title-list">
          <h4 class="col-sm-12 thin title">{{title}}</h4>
        </li>
			</ul>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
			</div>

			<ul class="nav navbar-nav navbar-right top-nav-right flex-box flex-vertical-center-align mr1">
				<li><button class="new-page-button">New Page</button></li>
				<li><button class="save-resource">SAVE</button></li>
			</ul>
		</div>
	</div>

	<div class="container-fluid noPadding">
		{{> circular_tabs}}
	</div>

	<div class="navbar navbar-fixed-bottom">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
			</div>

			{{> resource_footer }}

		</div>
	</div>
	{{/with}}
</template>