.top-nav-right {
    height: 50px;
}

.circlular_tabs_container {
    .board #pageTab {
        position: fixed;
        box-sizing: border-box;
        margin: 0 auto;
        width: 250px;
        z-index: 1050;
        height: 50px;
        box-sizing: border-box;
        top: 0;
        left: 0;
        right: 0;
        border: 0;
    }
    .board > div.board-inner {
        background-size: 30%;
    }
    p.narrow {
        width: 60%;
        margin: 10px auto;
    }
    span.round-tabs {
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        border-radius: 100px;
        background: rgb(237,237,237);
        z-index: 2;
        position: absolute;
        left: 0;
        text-align: center;
        font-size: 25px;
    }
    span.round-tabs.article {
        &:before {
            content: url('/article.png');
        }
    }
    li.active span.round-tabs.article {
        background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
        &:before {
            content: url('/article-white.png');
        }
    }
    span.round-tabs.question {
        &:before {
            content: url('/question.png');
        }
    }
    li.active span.round-tabs.question {
        background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
        &:before {
            content: url('/question-white.png');
        }
    }
    span.round-tabs.conversation {
        &:before {
            content: url('/conversation.png');
        }
    }
    li.active span.round-tabs.conversation {
        background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
        &:before {
            content: url('/conversation-white.png');
        }
    }
    span.round-tabs.bot {
        &:before {
            content: url('/bot.png');
        }
    }
    li.active span.round-tabs.bot {
        background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
        &:before {
            content: url('/bot-white.png');
        }
    }

    #pageTab > li {
        width: 25%;
        margin: 0;
        display: flex;
    }

    #pageTab > li:after {
        content: " ";
        position: absolute;
        left: 37%;
        opacity: 0;
        margin: 0 auto;
        bottom: 0px;
        border: 5px solid transparent;
        transition: 0.1s ease-in-out;
    }
    #pageTab > li a {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        padding: 0;
        border: 0;
        &:hover {
            border: 0;
        }
    }

    .tab-pane {
        position: relative;
        .head {
            font-size: 25px;
            text-transform: uppercase;
            padding-bottom: 10px;
        }
    }
    .btn-outline-rounded {
        padding: 10px 40px;
        margin: 20px 0;
        border: 2px solid transparent;
        border-radius: 25px;
    }
    .btn.green {
        background-color: #5cb85c;
        /*border: 2px solid #5cb85c;*/

        color: #ffffff;
    }
}

.add-new-page.blue {
    color: rgb(0,187,255) !important;
    font-weight: 300;
    font-size: 16px;
    transition: 0.3s all ease-in;
    background-color: #F5F8FA;
    height: 50px;
  }

#show-pages {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 13px;
    transition: 0.3s all ease-in;
    background-color: transparent;
	background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
	font-size: 14px;
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px 15px;
    .img-container {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        background-color: #21262a;
        margin-right: 10px;
    }
}

.counter {
    color: #777;
}

.save-resource {
    width: 93px;
    height: 40px;
    object-fit: contain;
    border-radius: 8px;
    background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
    box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.16);
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    border: 0;
}

.new-page-button {
	background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
	border: 0;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}