<template name="clarificationModal">
	<div class="modal facts fade">
		<div class="vertical-alignment-helper">
			<div class="modal-dialog vertical-align-center">
				<div class="modal-content">
	
					<div class="modal-header">
						<img src="/debate/messages-chat-grey.svg" alt="chat icon">
						<h4 class="modal-title">Seek Clarification</h4>
					</div>
	
					<div class="modal-body">
						<div class="attachment">
							<input type="text" id="link" placeholder="Paste Link (compulsary)">
							<img src="/debate/link.svg" alt="link icon">
						</div>
						<div class="statement">
							<textarea name="statement" id="clariStatement" cols="30" rows="5" placeholder="type your statement"></textarea>
						</div>
					</div>
	
					<div class="modal-footer">
						<button type="button" class="btn btn-post post" id="{{this}}">Post</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>