.modal {
	&.facts {
		.vertical-alignment-helper {
			display: table;
			height: 100%;
			width: 100%;
			pointer-events: none;
		}
		.vertical-align-center {
			display: table-cell;
			vertical-align: middle;
			pointer-events: none;
		}
		.modal-content {
			width: 600px;
			margin: 0 auto;
			pointer-events: all;
		}
		.modal-content>.modal-body {
			background: transparent;
			padding: 0;
		}
		.modal-footer {
			background: transparent;
		}
		.modal-header {
			display: flex;
			align-items: center;
			h4 {
				margin: 0;
				font-family: Roboto;
				font-size: 16px;
				text-align: left;
				color: #a0b2b8;
			}
			img {
				margin-right: 10px;
			}
		}
		.modal-body {
			.attachment {
				position: relative;
				input {
					width: 100%;
					border-radius: 8px;
					background-color: #414d54;
					border: solid 1px #191d1f;
					padding: 15px 15px 15px 60px;
					font-family: Roboto;
					font-size: 14px;
					font-weight: 300;
					font-style: italic;
					line-height: 1.86;
					letter-spacing: 0.3px;
					text-align: left;
					color: #a0b2b8;
				}
				img {
					position: absolute;
					left: 6%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.statement {
				textarea {
					width: 100%;
					border-radius: 8px;
					background-color: #414d54;
					border: solid 1px #191d1f;
					padding: 16px 24px;
					font-family: Roboto;
					font-size: 14px;
					line-height: 1.86;
					letter-spacing: 0.3px;
					text-align: left;
					color: #a0b2b8;
				}
			}
		}
		.modal-footer {
			display: flex;
			justify-content: flex-end;
			.btn-post {
				border-radius: 8px;
				background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
				box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.16);
				font-family: Roboto;
				font-size: 16px;
				font-weight: bold;
				text-align: left;
				color: #ffffff;
			}
		}
	}
}