<template name="chatModel">
    <div class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">List of Online Users</h4>
                </div>

                <div class="modal-body">
                    {{ #with getUsers }}
                    <div class="list-group">
                        <a class="model-dismiss list-group-item flex-box" href="/chat/{{_id}}">{{ #each emails}} {{ address }} <i class="fa fa-circle green" aria-hidden="true"></i> {{ /each }}</a>
                    </div>
                    {{ /with }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default dismis">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</template>