<template name="videoChat">
    <h2>{{ this.title }}</h2>
    <h3 class="keyzone">Your key : <span class="key">...</span></h3><br>
        <div id="videozone">
            {{> partnervideo}}
            {{> myvideo}} {{> callzone}} {{> hangup}}
        </div>
    <br>
</template>

<template name="callzone">
    <div id="callzone">
        <button class="btn btn-success callaction" type="button">Start Chat</button>
    </div>
</template>

<template name="hangup">
    <div id="hangupzone">
        <button class="btn btn-danger hangupaction" type="button"><i class="fa fa-phone"></i> hang up</button>
    </div>
</template>

<template name="myvideo">
    <video id="myvideo" muted="true" autoplay="" src="#"></video>
</template>

<template name="partnervideo">
    <video id="partnervideo" autoplay="" src="#"></video>
</template>