/* #myvideo,
#partnervideo {
    width: 100%;
    height: auto;
} */

#partnervideo,
#myvideo {
    transform: rotateY(180deg);
}

#myvideo {
    height: 202px;
    background-color: #000000;
}

#partnervideo {
    /*max-height: 700px;*/
    /* try for mobile */
    width: 500px;
    height: 500px;
    background-color: #000000;
}

#videozone {
    margin-top: 30px;
}

#callzone {
    margin-top: 9px;
}

.callaction {
    margin-left: 0px !important;
}

#hangupzone {
    display: none;
    margin-top: 8px;
    margin-bottom: 10px;
}

#hangupzone button {
    width: 100%;
}