<template name="bot">
  <div class="container">
    <div class="row">
      <div class="chat-container">
        <div class="bot-chat">
          {{ #with getTemplate }}
            {{ #each this }}
              {{> Template.dynamic template=temp data=data}}
            {{ /each }}
          {{ /with }}

          {{ #with getResponse }}
          <div class="flex-box bot-response flex-vertical-baseline">
            {{#with getCurrentUserDetails}}
              <img class="bot-profile-pic" src="{{profile.pic}}" alt="Bot image">
              <p class="bot-profile-name">Bot</p>
            {{/with}}
            <li class="list-group-item flex-grow-1">
              {{{this}}}
            </li>
          </div>
          {{ /with }}
        </div>
        <div id="newBotForm">
          <div class="form-group flex-box flex-vertical-baseline">
            <img class="add-attachment-button" src="/attachment.svg" alt="attachment icon">
            <textarea name="response" id="userResponse" class="form-control" placeholder="type your reply" value=""></textarea>
            <button class="btn ml1 mr1 add-comment-button" id="talk">SEND</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
