.chat-container {
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}

.button {
  margin-top: 20px;
}

.bot-chat {
  width: 80%;
  margin: 20px auto;
  height: 70vh;
}

.bot-response {
  display: flex;
  position: relative;
  width: 55%;
  background-color: #a0b2b8;
  text-align: right;
  color: #e2e6e7;
  border: solid 1px #191d1f;
  border-radius: 3px 16px 16px 16px;
  margin-bottom: 30px;
  .bot-profile-name {
    position: absolute;
    top: -20px;
    left: 20px;
    background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.6px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bot-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: -50px;
  }
  .bot-createdAt {
    height: 14px;
    font-size: 12px;
    letter-spacing: 0.6px;
    text-align: left;
    color: lighten(#5a666a, 10%);
    position: absolute;
    left: 15px;
    bottom: -20px;
  }
  .list-group-item {
    text-align: left;
    background: transparent;
    box-shadow: none;
    border: 0;
    color: #2c373e;
    min-height: 50px;
    .tag{
      padding: 5px 10px;
      background: #fff;
      border-radius: 8px;
      cursor: pointer;
      margin-right: 15px;
      float: left;
      color: #2c373e;
      &::not(::last-child){
        margin-right: 0;
      }
    }
  }
}

.user-response {
  display: flex;
  flex-direction: row-reverse;
  float: right;
  position: relative;
  width: 55%;
  background-color: #414d54;
  border: solid 1px #191d1f;
  text-align: right;
  color: #e2e6e7;
  border-radius: 16px 3px 16px 16px;
  margin-bottom: 30px;
  .user-profile-name {
    position: absolute;
    top: -20px;
    right: 15px;
    background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.6px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .user-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: -50px;
  }
  .user-createdAt {
    height: 14px;
    font-size: 12px;
    letter-spacing: 0.6px;
    text-align: left;
    color: lighten(#5a666a, 10%);
    position: absolute;
    right: 15px;
    bottom: -20px;
  }
  .list-group-item {
    background: transparent;
    box-shadow: none;
    border: 0;
    color: #e2e6e7;
    min-height: 50px;
    .tag{
      padding: 5px 10px;
      background: #fff;
      border-radius: 8px;
      cursor: pointer;
      margin-left: 15px;
      float: right;
      color: #2c373e;
      &::not(::last-child) {
        margin-left: 0;
      }
    }
  }
}

#newBotForm {
  position: fixed;
  bottom: 50px;
  width: calc(74.5% - 75px);
  left: 20%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #414d54;
  border: solid 1px #191d1f;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.3px;
  padding-top: 10px;
  textarea {
    background: transparent;
    border: 0;
    box-shadow: none;
    letter-spacing: 0.5px;
    color: #a0b2b8;
    width: calc(100% - 140px);
    margin: 0 auto;
    padding: 10px 16px;
    line-height: 1;
    border-left: 1px solid #191d1f;
    border-right: 1px solid #191d1f;
    border-radius: 0;
    &::placeholder {
      font-size: 14px;
      line-height: 2;
      letter-spacing: 0.3px;
      color: #a0b2b8;
    }
    &:focus {
      box-shadow: none;
      &::placeholder {
        color: transparent;
      }
    }
    &::before,
    &::after {
      content: '';
      width: 1px;
      height: 40px;
      background-color: #191d1f;
    }
  }
  .add-comment-button {
    position: absolute;
    right: -5px;
    top: 25px;
    background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 0;
    outline: none;
  }
  .add-attachment-button {
    position: absolute;
    left: 30px;
    top: 25px;
  }
}

.add-user-response {
  z-index: 2;
  color: #e2e6e7;
  font-size: 1.5em;
  position: absolute;
  right: -10px;
  top: 5px;
  &:hover, &:active, &:focus {
    color: lighten(#e2e6e7, 10%);
  }
}

.add-bot-response, .bot-says {
  z-index: 2;
  color: #e2e6e7;
  font-size: 1.5em;
  position: absolute;
  left: -10px;
  top: 5px;
  &:hover, &:active, &:focus {
    color: lighten(#e2e6e7, 10%);
  }
}

.popover {
  box-shadow: none;
  border-top: 0 solid #000000;
  border-left: 0 solid #000000;
  border-right: 0 solid #000000;
  border-bottom: 0 solid #000000;
  .popover-title {
    border: 0;
  }
  .popover-content {
    border: 0;
    color: #414d54;
  }
}