<template name="question">
  <div class="width768 auto-margin noPadding">
    <form class="question_answer_form">
      <div class="jumbotron question-jumbotron">
        <div class="panel-heading">
          <div class="panel-title">{{{this.stem}}}</div>
          <div class="panel-subtitle h5">{{{this.description}}}</div>
        </div>
        <div class="options-container">
          <table class="table">
            <thead></thead>
            <tbody>
              {{#each this.options}}
              <tr>
                <td class="col-sm-12">
                  <div class="{{../multiple}} {{../multiple}}-question noMargin">
                    <input type="{{../multiple}}" name="question" id="{{../multiple}}-{{@index}}" value="{{this.option}}">
                    <label for="{{../multiple}}-{{@index}}" class="flex-box flex-vertical-center-align justify-content-flex-start">
                      {{#if this.image}}
                        <img class="options-img-preview img-thumbnail" src="{{this.image}}" alt="">
                      {{/if}}
                      {{#if this.video}}
                        <iframe class="mr1" width="150px" height="100px" src="{{this.video}}" frameborder="0" allowfullscreen></iframe>
                      {{/if}}
                      <aside>
                        {{{this.content}}}
                      </aside>
                    </label>
                  </div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <input type="submit" class="submit-answer pull-right" value="Submit" />
      </div>
    </form>
  </div>

</template>