.jumbotron {
  &.question-jumbotron,
  &.feedback-jumbotron {
    background: #fff;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
    padding: 30px 50px;
    border-radius: 16px;
    min-height: 80vh;
    position: relative;
    .panel-title {
      font-family: "Noto serif", serif;
      font-weight: bold;
      line-height: 1.42;
      text-align: left;
      color: #2c373e;
      font-size: 24px;
    }
    .panel-subtitle {
      font-size: 15px;
      font-weight: 400;
      p {
        font-size: 15px;
        font-weight: 400;
      }
    }
    .table {
      border-radius: 6px;
      td {
        padding: 0;
        border-top: 0;
      }
    }
    .table>tbody>tr {
      object-fit: contain;
      border-radius: 8px;
      background-image: linear-gradient(to right, #f2f5f9, #e2e6e7);
      margin-bottom: 3px;
    }
    p.feedback {
      font-size: 24px;
      opacity: 0.6;
      font-weight: bold;
      text-align: center;
      color: #242424;
    }
    &::before {
      content: '';
      position: absolute;
      height: calc(100% - 5vh);
      width: 8px;
      border-radius: 16px;
      background: rgba(255, 255, 255, 0.4);
      top: 2.5vh;
      left: -6px;
    }
    &::after {
      content: '';
      position: absolute;
      height: calc(100% - 5vh);
      width: 8px;
      border-radius: 16px;
      background: rgba(255, 255, 255, 0.4);
      top: 2.5vh;
      right: -6px;
    }
  }
  .options-container {
    .radio-question,
    .checkbox-question {
      padding: 0;
      margin: 0;
      label {
        color: #6f7e82;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 200;
        padding-left: 20px;
        min-height: 56px;
        p {
          margin-bottom: 0;
          font-size: 16px;
          text-align: left;
        }
        &::before,
        &::after {
          margin-top: 5px;
        }
      }
      &:hover {
        background-image: linear-gradient(to right, #ffffff, #f2f5f9);
        border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
        border-image-slice: 1;
      }
    }
    table {
      tr {
        display: flex;
        align-items: center;
      }
    }
  }
}

.submit-answer {
  width: 93px;
  height: 40px;
  object-fit: contain;
  border-radius: 8px;
  background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
  box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.16);
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: 0;
}


.question-next-page {
  font-size: 14px;
  text-align: left;
  color: #a0b2b8;
  background: transparent;
  border: 0;
  .svg-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #21262a;
  }
}

.options-img-preview {
  max-width: 100px;
  max-height: 80px;
  margin: 10px;
}
