.comments {
  overflow-y: auto;
  height: 50vh;
  margin-top: 20px;
  margin-bottom: 100px;
  .list-group-item {
    border: solid 1px #191d1f;
    border-radius: 3px 16px 16px 16px;
    font-size: 14px;
    line-height: 1.5;
    color: #2c373e;
    background-color: #a0b2b8;
    margin: 35px 20px;
  }
}

.list-comment {
  height: 130px;
  &:empty {
    height: 0;
  }
}

.comment-profile {
  position: relative;
  width: 55%;
  .comment-profile-name {
    position: absolute;
    top: 10px;
    left: 70px;
    background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.6px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .comment-options {
    filter: grayscale(100%);
    position: absolute;
    right: 35px;
    top: 10px;
    &:hover, &.active {
      filter: grayscale(0%);
    }
  }
  .comment-buttons {
    width: 107px;
    height: 120px;
    background-color: #414d54;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    position: absolute;
    right: -95px;
    top: 20px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 0px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 12px solid #424e55;
      position: absolute;
      top: 0;
      left: -12px;
    }
    button {
      background: transparent;
      height: 41px;
      border-bottom: solid 1px #191d1f;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.6px;
      text-align: left;
      color: #a0b2b8;
      &:hover {
        color: lighten(#a0b2b8, 10%);
      }
      &:focus, &:active, &:focus:active {
        outline: none;
        color: lighten(#a0b2b8, 10%);
      }
    }
  }
  .comment-profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .comment-createdAt {
    height: 14px;
    font-size: 12px;
    letter-spacing: 0.6px;
    text-align: left;
    color: lighten(#5a666a, 10%);
    position: absolute;
    left: 15px;
    bottom: -20px;
  }
  .comment-states {
    position: absolute;
    bottom: -10px;
    right: 15px;
    width: 95px;
    height: 24px;
    border-radius: 16px;
    background-color: #414d54;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    padding: 0 10px;
    .upComment {
      color: #9fb1b7;
      margin: 0;
    }
    .agreeComment {
      border: 0;
      background: none;
      color: #9fb1b7;
      img {
        width: 12px;
        height: 12px;
      }
    }
    .downComment {
      color: #9fb1b7;
      margin: 0;
    }
    .disagreeComment {
      border: 0;
      background: none;
      color: #9fb1b7;
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
  &.currentUser {
    flex-direction: row-reverse;
    float: right;
    .comment-profile-name {
      left: auto;
      right: 70px;
    }
    .comment-options {
      filter: grayscale(100%);
      position: absolute;
      left: 35px;
      top: 10px;
      &:hover, &.active {
        filter: grayscale(0%);
      }
    }
    .comment-buttons {
      width: 107px;
      height: 120px;
      background-color: #414d54;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
      position: absolute;
      left: -95px;
      top: 20px;
      border-top-left-radius: 8px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      &::before {
        content: "";
        border: 0;
      }
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #424e55;
        position: absolute;
        top: 0;
        right: -12px;
      }
      button {
        background: transparent;
        height: 41px;
        border-bottom: solid 1px #191d1f;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.6px;
        text-align: left;
        color: #a0b2b8;
        &:hover {
          color: lighten(#a0b2b8, 10%);
        }
        &:focus, &:active, &:focus:active {
          outline: none;
          color: lighten(#a0b2b8, 10%);
        }
      }
    }
    .comment-states {
      right: auto;
      left: 15px;
    }
    .comment-createdAt {
      left: auto;
      right: 15px;
    }
    .list-group-item {
      background-color: #414d54;
      text-align: right;
      color: #e2e6e7;
      border-radius: 16px 3px 16px 16px;
    }
  }
}

.thread-profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

#newThreadForm {
  margin: 0 10px;
  position: relative;
  .note-toolbar {
    background-color: #414d54;
    border-top-right-radius: 16px;
    display: none;
  }
  .note-editor {
    width: 100%;
    margin-top: 30px;
    border-radius: 3px 16px 16px 16px;
    background-color: #414d54;
  }
  .note-editable {
    background: transparent;
    color: #eaeaea;
  }
  .note-editing-area {
    border-radius: 3px 16px 16px 16px;
  }
  .add-new-thread {
    background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
    font-size: 16px;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 0;
    position: absolute;
    left: 0;
    bottom: -35px;
    text-align: center;
  }
}

.start-new-thread-container {
  background-color: #191d1f;
  height: 95px;
  position: fixed;
  width: 26.25vw;
  bottom: 0;
  .button-container {
    cursor: pointer;
    background-color: rgb(44,55,61);
    width: 333px;
    height: 48px;
    border-radius: 16px;
    margin: 30px;
  }
  .start-new-thread {
    height: 48px;
    line-height: 32px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
    font-size: 16px;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 0;
    width: 100%;
    text-align: center;
  }
}

.discussion-top-navbar {
  .navbar-nav {
    height: 50px;
    li {
      display: flex;
    }
  }
  .title-list {
    display: flex;
    align-items: center;
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
    .title {
      white-space: nowrap;
      max-width: 400px;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 20px;
      color: #a0b2b8;
    }
  }
}

.thread-well {
  margin-top: 40px;
  .body {
    border-radius: 3px 16px 16px 16px;
    background-color: #f2f5f9;
    border: solid 1px #191d1f;
    padding: 16px;
    position: relative;
    margin-right: 20px;
  }
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .profile-name {
    position: absolute;
    left: 70px;
    top: -20px;
    background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .createdAt {
    position: absolute;
    left: 15px;
    bottom: -23px;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: lighten(#5a666a, 10%);
  }
  .thread-states {
    position: absolute;
    right: 15px;
    width: 95px;
    height: 24px;
    border-radius: 16px;
    background-color: #414d54;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    padding: 0 10px;
    .upThread {
      color: #7ed321;
      margin: 0;
    }
    .agreeThread {
      border: 0;
      transform: rotate(45deg);
      background: none;
      color: #7ed321;
    }
    .downThread {
      color: #ff6c5c;
      margin: 0;
    }
    .disagreeThread {
      border: 0;
      transform: rotate(45deg);
      background: none;
      color: #ff6c5c;
    }
  }
}

.hr-custom {
  display: flex;
  justify-content: center;
  .hr-line {
    width: 10%;
    position: relative;
    margin: 40px 15px 0;
    border-bottom: 1px solid #5a666a;
  }
  .hr-date {
    position: relative;
    top: 32px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.6px;
    color: #5a666a;
    text-transform: uppercase;
  }
}
.current-thread-container {
  position: relative;
}

#showThreadPopover {
	width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 50%;
	text-align: center;
	padding: 0;
	transition: all 0.1s linear;
	border: 0;
}

.reply-bg {
  width: 100%;
  border-radius: 4px;
  background-color: #a0b2b8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-align: left;
  color: #2c373e;
  margin-bottom: 15px;
  &.reply-parent-comment {
    width: calc(100% - 140px);
    margin-left: 70px;
  }
  .reply-to {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    color: #2c373e;
  }
  .close-reply {
    position: absolute;
    right: 20px;
    top: 25px;
    cursor: pointer;
  }
}
