<template name="threadContainer">
  {{#with getDiscussion}}
  <div class="thread-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="navbar nav-bg navbar-fixed-top discussion-top-navbar">
            <div class="container-fluid width100">
              <ul class="nav navbar-nav flex-box flex-vertical-center-align">
                <div>
                  <a href="/discussions/{{_id}}" class="close thread-modal-close">
                    <img src="/back.svg" alt="home">
                  </a>
                </div>
                <li class="title-list">
                  {{#with getUserDetailsById author}}
                    <button data-toggle="popover" id="showThreadPopover"
                            data-width="700">
                      <img src="{{ profile.pic }}" alt="user image">
                    </button>
                  {{/ with}}
                  <h4 class="ml1 mr1 thin title">{{{limitPara title 50}}}</h4>
                </li>
              </ul>
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <ul class="nav navbar-nav navbar-right top-nav-right flex-box flex-vertical-center-align mr1">
                <li class="likes flex-box flex-vertical-center-align">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="#A0B2B8" stroke-width="2" d="M7 23H1V9h6v14zM8.74 3.61a3.152 3.152 0 0 1 6.26.543V9h4.264c2.402 0 4.18 2.24 3.64 4.58l-.01.032-1.73 6.503A3.727 3.727 0 0 1 17.528 23H7V9.885L8.74 3.61z"/></svg>
                  &nbsp;<span class="badge text-center">{{agree.length}}</span>
                </li>
                <li class="dislikes ml1 flex-box flex-vertical-center-align">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" transform="scale(1,-1)"><path fill="none" stroke="#A0B2B8" stroke-width="2" d="M7 23H1V9h6v14zM8.74 3.61a3.152 3.152 0 0 1 6.26.543V9h4.264c2.402 0 4.18 2.24 3.64 4.58l-.01.032-1.73 6.503A3.727 3.727 0 0 1 17.528 23H7V9.885L8.74 3.61z"/></svg>
                  &nbsp;<span class="badge text-center">{{disagree.length}}</span>
                </li>
                <li class="love ml1 flex-box flex-vertical-center-align">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16"><path fill="#A0B2B8" fill-rule="evenodd" d="M11.993 13.35a3.062 3.062 0 0 1-1.983.722 3.1 3.1 0 0 1-2.006-.737c-3.594-3.028-5.882-4.634-6-7.93C1.877 1.92 5.697.646 8.04 3.51a2.51 2.51 0 0 0 1.954.91c.775 0 1.492-.336 1.967-.92 2.292-2.82 6.214-1.62 6.035 2.008-.16 3.227-2.536 4.893-6.002 7.84M10.387 2.31a.504.504 0 0 1-.393.182.492.492 0 0 1-.383-.176C6.07-2.017-.187.14.005 5.473c.153 4.243 3.16 6.347 6.703 9.33A5.12 5.12 0 0 0 10.01 16c1.18 0 2.36-.4 3.306-1.205 3.503-2.98 6.473-5.07 6.676-9.196.27-5.452-6.07-7.64-9.605-3.29"/></svg>
                  &nbsp;<span class="badge text-center">{{like.length}}</span>
                </li>
                <li class="bookmark ml1 flex-box flex-vertical-center-align">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20"><path fill="#A0B2B8" fill-rule="evenodd" d="M2 4h12V2H2v2zm12 12.084l-6-4.077-6 4.077V6h12v10.084zM0 0v20l8-5.128L16 20V0H0z"/></svg>
                  &nbsp;<span class="badge text-center">{{bookmark.length}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="col-sm-12 noPadding flex-box">
            <div class="left-thread-panel noPadding">
              <div class="all-threads flex-box justify-content-space-between width100 ml1">ALL THREADS<img src="/search.svg" alt="search" class="mr1"></div>
              {{ > threadList }}
            </div>
            <div class="right-thread-panel">
              {{> threadForm}} {{> commentList}} {{> commentForm }}
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>
  {{/with}}
</template>

<template name="threadForm">
  <form id="newThreadForm" class="hidden">
    <div class="form-group flex-box flex-vertical-baseline">
      <textarea name="body" class="form-control input-lg thread-summernote"></textarea>
      <button class="add-new-thread ml1">Add Thread</button>
    </div>
  </form>
</template>

<template name="threadList">
  {{#with fetchThreads}}
  <ul class="threads noMargin noPadding">
    {{ #each this }}
    <li class="list-group-item thread" data-thread-id="{{this._id}}">
      {{#with getUserDetailsById author}}
      <div class="flex-box">
        <img class="thread-profile-pic ml1" src="{{ profile.pic }}" alt="{{ username }}">

        <div class="width100 flex-box flex-direction-column flex-vertical-start ml1">
          <div class="width100 flex-box justify-content-space-between flex-vertical-center-align">
            <a href="#" class="user-profile">{{ profile.firstName }} {{ profile.lastName }}</a>
            <a href="#" class="menu-link"><img src="/menu.svg" alt="menu"></a>
          </div>
          <div class="thread-body mr1">{{{limitPara ../body 60}}}</div>
        </div>
      </div>
      {{/with}}
    </li>
    {{ /each }}
  </ul>
  {{/with}}
  <div class="start-new-thread-container flex-box">
    <div class="button-container">
      <button class="start-new-thread">Start a New Thread</button>
    </div>
  </div>
</template>

<template name="commentList">
  {{#with fetchThread}}
  <div class="current-thread-container">
    <div class="thread-well flex-box flex-vertical-start">
      {{#with getUserDetailsById author}}
        <img class="profile-pic" src="{{ profile.pic }}" alt="user image">
        <p class="profile-name">{{ profile.firstName }} {{ profile.lastName }}</p>
      {{/with}}
      <div class="body ml1 flex-grow-1">
          {{{body}}}
          <div class="createdAt">{{formatDate createdAt "time"}}</div>
          <div class="thread-states flex-box justify-content-space-around">
            <button class="arrow-container agreeThread" data-thread-id={{_id}}>
              <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
            </button>
            <p class="number upThread">{{upVote.length}}</p>
            <button class="arrow-container disagreeThread" data-thread-id={{_id}}>
              <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </button>
            <p class="number downThread">{{downVote.length}}</p>
          </div>
      </div>
    </div>
  </div>
  <div class="hr-custom">
    <div class="hr-line"></div>
    <div class="hr-date">
      <!-- {{formatDate createdAt "date"}} -->&nbsp;&nbsp;
    </div>
    <div class="hr-line"></div>
  </div>
  {{/with}}

  {{#with fetchComments}}
  <ul class="comments noPadding">
    {{ #each this }}
    <div class="flex-box comment-profile flex-vertical-baseline {{isCurrentUser author}}">
      {{#with getUserDetailsById author}}
        <img class="comment-profile-pic" src="{{ profile.pic }}" alt="user image">
        <p class="comment-profile-name">{{ profile.firstName }} {{ profile.lastName }}</p>
        <a href="#" class="comment-options"><img src="/menu.svg" alt="menu"></a>
        <div class="btn-group-vertical comment-buttons hidden">
          <button type="button" class="btn reply-btn" data-comment-id="{{../_id}}">Reply</button>
          <button type="button" class="btn" data-comment-id="{{../id}}">Share</button>
          <button type="button" class="btn" data-comment-id="{{../id}}">Report</button>
        </div>
      {{/with}}
      <li class="list-group-item flex-grow-1 ml1">
					{{#with getParentComment replyTo}}
						<div class="reply-bg well-sm">
							{{#with getUserDetailsById author}}
								<p class="reply-to">Reply to {{username}}</p>
							{{/with}}
							{{body}}
						</div>
          {{/with}}
        {{{body}}}
        <div class="comment-createdAt">{{formatDate createdAt "time"}}</div>
        <div class="comment-states flex-box justify-content-space-around">
          <p class="number upComment">{{agree.length}}</p>
          <button class="arrow-container agreeComment" data-comment-id={{_id}}>
              <img src="/like.svg" alt="like icon">
            </button>
          <p class="number downComment">{{disagree.length}}</p>
          <button class="arrow-container disagreeComment" data-comment-id={{_id}}>
              <img src="/like.svg" alt="dislike icon" class="flipVertical">
            </button>
        </div>
      </li>
    </div>
    {{ /each }}
  </ul>
  {{/with}}
</template>