iframe,
video {
  max-width: 100%;
}

.lm-video-capture-video-section {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.lm-video-capture-processing {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.9;
  padding-top: 20px;
  background-image: '/circle-plus.png';
}

.lm-video-capture-message {
  text-align: center;
}

.lm-video-capture-record-start-btn {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.lm-video-capture-record-stop-btn {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.lm-video-capture-record-stop-btn-style {
  margin-left: 10px;
}

.jumbotron {
  &.feedback-jumbotron {
    margin: 0;
  }
  &.journaling-video-jumbotron {
    padding: 0;
    background: #fff;
    border-radius: 0;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
    min-height: calc(100vh - 100px);
    border-radius: 16px;
    margin: 0;
    position: relative;
    .panel-title {
      font-family: "Noto serif", serif;
      font-weight: bold;
      line-height: 1.42;
      text-align: left;
      color: #2c373e;
      font-size: 24px;
      padding: 30px 30px 0px;
    }
    .panel-subtitle {
      padding: 0 30px;
    }
  }
  &.journaling-jumbotron {
    background: #fff;
    border-radius: 0;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
    padding: 30px 40px;
    min-height: calc(100vh - 100px);
    border-radius: 16px;
    margin: 0;
    position: relative;
    .panel-title {
      font-family: "Noto serif", serif;
      font-weight: bold;
      line-height: 1.42;
      text-align: left;
      color: #2c373e;
      font-size: 24px;
    }
    .table {
      border-radius: 6px;
      td {
        border-top: 0;
      }
    }
    .table>tbody>tr:nth-of-type(even) {
      background-color: rgb(244, 247, 248);
    }
    .table>tbody>tr:nth-of-type(odd) {
      background-color: rgb(253, 254, 254);
    }
    p.feedback {
      font-size: 24px;
      opacity: 0.6;
      font-weight: bold;
      text-align: center;
      color: #242424;
    }
    &::before {
      content: '';
      position: absolute;
      height: calc(100% - 5vh);
      width: 8px;
      border-radius: 16px;
      background: rgba(255,255,255,0.4);
      top: 2.5vh;
      left: -6px;
    }
    &::after {
      content: '';
      position: absolute;
      height: calc(100% - 5vh);
      width: 8px;
      border-radius: 16px;
      background: rgba(255,255,255,0.4);
      top: 2.5vh;
      right: -6px;
    }
  }
  .journaling-answer-container {
    textarea.form-control {
      width: 100%;
      height: 256px;
      border-radius: 8px;
      font-size: 16px;
      background-color: #ffffff;
      border: solid 2px #e2e6e7;
      padding: 1.5em;
      caret-color: rgb(255,169,68);
      position: relative;
      &::placeholder {
        text-align: left;
        color: #a0b2b8;
      }
    }
    p {
      margin-bottom: 0;
    }
    .radio-purple,
    .checkbox-purple {
      margin: 0;
      label {
        padding-left: 20px;
        &::before,
        &::after {
          margin-top: 5px;
        }
      }
    }
  }
}

.options-container {
  .radio-journaling,
  .checkbox-journaling {
    padding: 0;
    margin: 0;
    label {
      display: flex;
      align-items: center;
      font-size: 21px;
      font-weight: 200;
      padding-left: 20px;
      min-height: 56px;
      &::before,
      &::after {
        margin-top: 5px;
      }
    }
  }
  table {
    tr {
      display: flex;
      align-items: center;
    }
  }
}

.submit-answer, .start-recording {
  min-width: 93px;
  height: 40px;
  object-fit: contain;
  border-radius: 8px;
  background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
  box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.16);
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: 0;
}