<template name="journaling">
  {{#if isText true }}
  <div class="width768 auto-margin noPadding">
    <form class="journaling_answer_form">
      <div class="jumbotron journaling-jumbotron">
        <div class="panel-heading">
          <div class="panel-title">{{{this.stem}}}</div>
          <div class="panel-subtitle h5">{{{this.description}}}</div>
        </div>
        <div class="journaling-answer-container">
          <textarea name="text-input" class="form-control" rows="10" placeholder="Start typing here"></textarea>
        </div>
        <br>
        <input type="submit" class="submit-answer pull-right" value="Submit" />
      </div>
    </form>
    <br>
    <div class="clearfix"></div><br><br>
  </div>
  {{else}}
  <div class="col-sm-12">
    <form class="journaling_video_answer_form">
      <div class="jumbotron journaling-video-jumbotron">
        <div class="panel-heading">
          <div class="panel-title">{{{this.stem}}}</div>
          <div class="panel-subtitle h5">{{{this.description}}}</div>
        </div>
        <div class="journaling-answer-container">
          <button class="start-recording center-block well-sm">Start Recording</button>
          <div class="video-record-container hidden">
            {{> lmVideoCapture opts=opts}}
          </div>
        </div>
      </div>
    </form>
  </div>
  {{/if }}
  <div class="clearfix"></div><br>
</template>