<template name='loginWithEmail'>
	<div class="loginWithEmail">
		<div class="container login-container">
			<div class="login-main">
				<div class="logo">
					<img src="/login/logo-chi.svg" alt="chi logo">
					<p>Collective <br> Human <br> <span>Intelligence</span></p>
				</div>
				<div class="login-panel-quotes">
					<div class="login-panel">
						<div class="login-header">
							<a href="/login">
								<img src="/login/button-back.svg" alt="back button">
							</a>
							<div class="title-msg">
								<p class="login-title">Login</p>
								<p class="login-msg">
									Please enter your username & Password to login
								</p>
							</div>
						</div>
						<form>
							<div class="username">
								<input type="email" placeholder="Email Id" id="username">
								<img src="/login/username.svg" alt="user icon">
							</div>
							<div class="password">
								<input type="password" placeholder="Password" id="password"> 
								<img src="/login/password.svg" alt="key icon">
							</div>
							<div class="forget-signIn">
								<a href="#">Forgot Password?</a>
								<a href="#" class="signIn">
									<span>Sign In</span>
								</a>
							</div>
						</form>
					</div>
					<div class="quotes">
						<h3>You must be the change <br>you wish to see in the world</h3>
						<p>- Mahatma Gandhi</p>
					</div>
				</div>
				<a href="/signup" class="createAccount">Create an account</a>
			</div>
		</div>
	</div>
</template>