.loginWithEmail {
	background: url('/login/login-bg.svg'),
	url('/login/mahatma-gandhi.jpg') no-repeat;
	background-size: cover,
	contain;
	background-position-x: right;
	opacity: 1,
	.7;
	height: inherit;

	.login-container{
		height: 100%;
	}

	.login-main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%
	}

	.login-header{
		display: flex;
		align-items: flex-start;

		img{
			margin-right: 16px;
		}

		p{
			&.login-title{
				margin-bottom: 8px;
			}
			&.login-msg {
				font-family: Roboto;
				font-size: 16px;
				letter-spacing: 0.3px;
				text-align: left;
				color: #a0b2b8;
				margin-bottom: 24px;
			}
		}
	}

	.login-panel{
		height: 375px;
	}

	input{
		width: 432px;
		height: 64px;
		border-radius: 8px;
		background-color: #414d54;
		border: solid 1px #191d1f;
		padding: 24px 24px 24px 70px;
		font-family: Roboto;
		font-size: 14px;
		letter-spacing: 0.3px;
		text-align: left;
		color: #a0b2b8;
	}

	.username{
		position: relative;
		margin-bottom: 24px;

		img{
			position: absolute;
			top: 50%;
			left: 24px;
			transform: translateY(-50%)
		}
	}

	.password {
		position: relative;
		margin-bottom: 24px;
		img {
			position: absolute;
			top: 50%;
			left: 24px;
			transform: translateY(-50%)
		}
	}
}