.modal.left {
	padding-right: 0 !important;
	height: 100%;
	&.fade {
		.modal-dialog {
			transform: translate(100%, 0);
		}
	}
	&.in {
		.modal-dialog {
			transform: translate(0, 0);
		}
	}
	.modal-dialog {
		margin: 0 0 0 auto;
		height: 100%;
		width: 650px;
		.modal-content {
			height: 100%;
		}
		.modal-body {
			height: 100%;
			background-color: #2c373e;
			box-shadow: -8px 0 8px 0 rgba(0, 0, 0, 0.48);
			padding: 0;
			overflow-y: auto;
			h1 {
				margin: 0;
			}
		}
	}
	.modal-body {
		position: relative;
		.fixed-bottom {
			position: fixed;
			bottom: 0;
			object-fit: contain;
			background-color: #191d1f;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 24px;
			z-index: 2;
			.post {
				border-radius: 16px;
				background-color: #2c373e;
				text-align: center;
				position: relative;
				display: flex;
				align-items: center;
				flex-basis: 45%;
				justify-content: center;
				padding: 14px;
				img {
					margin-right: 10px;
				}
				p {
					background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
					font-family: Roboto;
					font-size: 16px;
					text-align: left;
					-webkit-background-clip: text;
					background-clip: text;
					-webkit-text-fill-color: transparent;
					margin: 0;
				}
				a {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
		}
		.modal-container {
			padding: 40px;
			.timeline {
				position: relative;
				margin-bottom: 80px;

				&:before {
					content: "";
					width: 1px;
					height: 100%;
					background-color: #6f7e82;
					left: 90px;
					top: 0;
					position: absolute;
					margin-top: 10px;
				}
				
				.timeline-item {
					margin-bottom: 50px;
					position: relative;
					display: flex;
					justify-content: space-between;
					align-items: flex-start;

					.timeline-icon {
						flex-basis: 10%;
						margin: 10px 8px 0;

						&.debator {
							position: relative;
							&::before {
								content: '';
								width: 60px;
								height: 60px;
								background: #6f7e82;
								opacity: .4;
								border-radius: 50%;
								position: absolute;
								top: -7px;
								left: -5px;
								z-index: 2;
							}

							&::after {
								content: '';
								width: 80px;
								height: 80px;
								background: #6f7e82;
								opacity: .2;
								border-radius: 50%;
								position: absolute;
								top: -16px;
								left: -15px;
								z-index: 1;
							}
						}

						img {
							width: 50px;
							height: 50px;
							border-radius: 50%;
							position: relative;
							z-index: 2;
						}
					}
					.timeline-left {
						flex-basis: 10%;
						margin-top: 10px;
						position: relative;
						.applause {
							background: url('/debate/oval.svg') no-repeat;
							background-position: center;
							background-size: 70%;
							width: 60px;
							height: 60px;
							position: relative;
							margin-top: -7px;
							img {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
						}
						a {
							position: absolute;
							left: 0;
							right: 0;
							bottom: 0;
							top: 0;
						}
						p {
							font-family: Roboto;
							font-size: 12px;
							font-weight: bold;
							letter-spacing: 0.6px;
							text-align: center;
							color: #a0b2b8;
							margin: 0;
						}
					}
					.timeline-right{
						flex-basis: 80%;
						.top-panel{
							display: flex;
							justify-content: space-between;
							align-items: center;

							img{
								margin-right: 10px;
							}

							.par{
								display: flex;
							}
							p{
								background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
								font-family: Roboto;
								font-size: 12px;
								font-weight: bold;
								letter-spacing: 0.6px;
								text-align: left;
								-webkit-background-clip: text;
								background-clip: text;
								-webkit-text-fill-color: transparent;
								margin-right: 10px;

									&.clarification {
										font-family: Roboto;
										font-size: 12px;
										letter-spacing: 0.6px;
										text-align: left;
										color: #a0b2b8;
										-webkit-text-fill-color: #a0b2b8;
									}

									&.facts {
										font-family: Roboto;
										font-size: 12px;
										letter-spacing: 0.6px;
										text-align: left;
										color: #a0b2b8;
										-webkit-text-fill-color: #a0b2b8;
									}
							}
						}

						.msg{
							background-color: #414d54;
							border: solid 1px #191d1f;
							padding: 16px;
							border-radius: 0 8px 8px 8px;
							position: relative;

							&.agreeDebator{
								background-color: #f2f5f9;

								p{
									color: #2c373e;
								}
							}

							.vote{
								position: absolute;
								bottom: 0;
								right: 0;
								border-radius: 16px;
								background-color: #5a666a;
								box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
								text-align: center;
								transform: translate(-10%, 50%);
								padding: 5px 20px;

								a{
									text-decoration: none;

									&.up{
										font-family: Roboto;
										font-size: 12px;
										text-align: left;
										color: #7cd11f;
										margin-right: 10px;

										.fa{
											font-size: 16px;
											transform: rotate(-45deg)
										}
									}

									&.down {
										font-family: Roboto;
										font-size: 12px;
										text-align: left;
										color: #fd6a5a;
										.fa {
											font-size: 16px;
											transform: rotate(-45deg)
										}
									}
								}

							}
	
									.link-preview {
										border-radius: 8px;
										background-color: #a0b2b8;
										box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
										border: solid 4px #6f7e82;
										margin-bottom: 8px;
										a {
											text-decoration: none;
										}
										.link-image {
											max-width: 141px;
											max-height: 156px;
											border-radius: 4px 0 0 4px;
										}
										.link-title {
											font-family: "Noto Serif", serif;
											font-size: 14px;
											font-weight: bold;
											text-align: left;
											color: #2c373e;
										}
										.link-description {
											font-family: Roboto;
											font-size: 14px;
											line-height: 1.5;
											text-align: left;
											color: #2c373e;
										}
										.qUrl {
											word-wrap: break-word;
											font-family: Roboto;
											font-size: 12px;
											text-align: left;
											color: #2c373e;
										}
									}

							p{
								font-family: Roboto;
								font-size: 14px;
								line-height: 1.5;
								letter-spacing: 0.5px;
								text-align: left;
								color: #e2e6e7;
								margin: 0;

								&.timer{
									font-size: 12px;
									color: #6f7e82;
									margin-top: 10px;
								}

							
							}
						}
					}
				}
			}
		}
	}
}