<template name="demographics">
	<div class="container demo-container">
		<div class="age-gender-container">
			<div class="age-gender-header">
				<p class="title">Age &amp; Gender</p>
				<div class="category">
					<div class="male">
						<i class="fa fa-mars" aria-hidden="true"></i>
						<p>Male</p>
					</div>
					<div class="female">
						<i class="fa fa-venus" aria-hidden="true"></i>
						<p>Female</p>
					</div>
				</div>
			</div>
			<div class="age-gender-donut-chart-container">
				<div id="age-gender-donut-chart-30"></div>
				<div id="age-gender-donut-chart-50"></div>
				<div id="age-gender-donut-chart-70"></div>
				<div id="age-gender-donut-chart-90"></div>
			</div>
		</div>
		<div class="word-chart-container">
			<div class="word-chart-header">
				<p class="title">Concepts &amp; Topics</p>
				<div class="radioBtn">
					<div class="btnRadio">
						<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="all">
						<label class="form-check-label"> All </label>
						<div class="check">
							<div class="inside"></div>
						</div>
					</div>
					<div class="btnRadio">
						<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male">
						<label class="form-check-label"> Male </label>
						<div class="check">
							<div class="inside"></div>
						</div>
					</div>
					<div class="btnRadio">
						<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="female">
						<label class="form-check-label"> Female </label>
						<div class="check">
							<div class="inside"></div>
						</div>
					</div>
				</div>
				</div>
			</div>
			<div class="divider"></div>
			<div class="geo-chart-container">
				<div class="header">
					<p class="title">Geographical Distribution</p>
				</div>
				<div id="geo-chart" class="flex-box justify-content-center"></div>
			</div>
		</div>
</template>