.demo-container{
	padding-top: 80px;

	.age-gender-header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;

		.title{
			font-family: Roboto;
			font-size: 21px;
			font-weight: 300;
			letter-spacing: 1.5px;
			text-align: left;
			color: #a0b2b8;
			margin: 0;
		}

		.category{
			display: flex;
			align-items: center;
		}
	}

	.category{
		.male{
			display: flex;
			align-items: center;
			margin-right: 20px;

			.fa{
				margin-right: 5px;
				background-image: linear-gradient(135deg, #17d0ea, #8197ff);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-weight: bold;
				font-size: 20px;
			}

			p{
				margin: 0;
				background-image: linear-gradient(111deg, #17d0ea, #8197ff);
				font-family: Roboto;
				font-size: 14px;
				font-weight: bold;
				letter-spacing: 1px;
				text-align: left;
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				text-transform: uppercase;
			}
		}

		.female {
			display: flex;
			align-items: center;

			.fa {
				margin-right: 5px;
				background-image: linear-gradient(145deg, #ff878b, #ff4e54);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-weight: bold;
				font-size: 20px;
			}

			p {
				margin: 0;
				background-image: linear-gradient(105deg, #ff878b, #ff4e54);
				font-family: Roboto;
				font-size: 14px;
				font-weight: bold;
				letter-spacing: 1px;
				text-align: left;
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				text-transform: uppercase;
			}
		}
	}

	.age-gender-donut-chart-container{
		display: flex;
		object-fit: contain;
		// & > div{
		// 	border: solid 1px #191d1f;
		// }

		svg{
			rect{
				fill: #2c373e;

				// &:hover{
				// 	fill: #191d1f;
				// }
			}

			path{
				stroke: none;
			}
		}
	}

	.word-chart-container{
		margin-top: 52px;
		margin-bottom: 46px;

		.word-chart-header{
			text-align: center;

			.title{
				font-family: Roboto;
				font-size: 21px;
				font-weight: 300;
				letter-spacing: 1.5px;
				color: #a0b2b8;
			}

			.radioBtn{
				display: flex;
				justify-content: center;

				.btnRadio{
					margin-right: 32px;
					display: flex;
					align-items: center;
					position: relative;

					&:last-child{
						margin-right: 0;
					}
				}

				label{
					font-family: Roboto;
					font-size: 14px;
					font-weight: bold;
					letter-spacing: 1px;
					text-align: left;
					color: #ffffff;
					margin: 0;
					margin-left: 8px;
				}

				input[type=radio] {
					position: absolute;
					// visibility: hidden;
					margin: 0;
					top: 2px;
					left: -20px;
					z-index: 5;
				}

				// .check {
				// 	display: block;
				// 	position: absolute;
				// 	background-color: #414d54;
				// 	border: solid 1px #191d1f;
				// 	border-radius: 100%;
				// 	height: 16px;
				// 	width: 16px;
				// 	top: 2px;
				// 	left: -20px;
				// 	z-index: 4;
				// }

				// input[type=radio]:checked ~ .check {
				// 	background-color: #414d54;
				// 	border: solid 1px #191d1f;
				// }

			}
		}
	}

	.divider{
		width: 100%;
		height: 1px;
		background-color: #191d1f;
	}

	.geo-chart-container {
		margin-top: 30px auto 50px;
		.header{
			text-align: center;
			margin-bottom: 40px;
			.title{
				font-family: Roboto;
				font-size: 21px;
				font-weight: 300;
				letter-spacing: 1.5px;
				text-align: center;
				color: #a0b2b8;
			}
		}

		svg{
			path{
				fill: #414d54;
				stroke: #191d1f;
			}
		}
	}
}

