<template name="searchModal">
	<div class="searchModal">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="modal-close">
						<button type="button" class="btn btn-default dismis">X</button>
					</div>
					<div class="search-main">
						<h3>Search Content</h3>
						<div class="search-container" contenteditable="true">
							<i class="fa fa-search" aria-hidden="true" contenteditable="false"></i>
						</div>
					</div>
					{{ #if searching }}
						<p>Searching....</p>
						{{else}}
							{{ #with getData }} 
								{{ #each this }}
									{{ #with getTemplate this }}
										{{> Template.dynamic template=temp data=data}}
									{{ /with }}
								{{ /each }}
							{{ /with }}
							{{ #with getUser }} 
								{{ #each this }} 
									<p>{{username}}</p>
								{{ /each }} 
							{{ /with }}
					{{ /if }}
				</div>
			</div>
		</div>
	</div>
	</div>
</template>