.searchModal{
	.modal{
		padding-right: 0 !important;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: auto;
		height: auto;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.modal-dialog {
		width: 100%;
		min-height: 100%;
		margin: 0;
		padding: 0;
	}

	.modal-content {
		height: auto;
		min-height: 100%;
		border-radius: 0;
		padding: 0;
	}

	.modal-body{
		height: auto;
		min-height: 100vh;
		background: rgba(237, 242, 244, 0.94);
		
		.search-main{
			
			h3{
				text-align: center;
				font-size: 30px;
			}

			.search-container{
				text-align: center;
				font-size: 50px;
				cursor: text;

				.fa{
					font-size: 60px;
					color: rgba(0, 0, 0, 0.6);
					padding-left: 10px;
				}

				input{
					padding: 20px 0;
					background: transparent;
					border: none;
					width: 30px;
					max-width: 100%;
				}
			}
		}

	}

	.modal-close{
		text-align: right;
		margin-bottom: 20px;
	}
}