@import '../../../styles/material-switch';
@import '../../../styles/outline-buttons';
@import '../../../styles/radio_button';
@import '../../../styles/checkbox';
.journaling_form {
  .left-journaling-jumbotron {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 40px;
    position: relative;
    background: white;
    height: calc(100vh - 100px);
    .bootstrap-tagsinput {
      padding: 0;
      input {
        min-width: 75px;
      }
    }
    input,
    .bootstrap-tagsinput,
    textarea {
      border: 0;
      box-shadow: none;
      border-radius: 0;
      font-size: 16px;
      color: #747474;
      padding: 0;
      input {
        height: 34px;
        padding: 12px 0;
        padding-bottom: 0;
        &::placeholder {
          padding-left: 0;
          line-height: 50px;
          color: #E0E0E0;
          opacity: 1;
        }
      }
      span.label {
        display: inline-block;
        color: rgb(116, 116, 116);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 2px 5px;
        font-weight: 600;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(221, 221, 221);
        border-image: initial;
        background: rgb(255, 255, 255);
        transition: all 0.5s ease-in-out;
        border-radius: 20px;
        padding: 7px 10px;
        margin: 0px 10px 6px 0px;
      }
      &.input-lg {
        font-family: 'Noto Serif', serif;
        font-size: 32px;
        font-weight: bold;
        line-height: 1.31;
        color: #2c373e;
        padding: 0;
        &::placeholder {
          font-size: 32px;
          font-weight: bold;
          padding-left: 0;
          line-height: 50px;
          opacity: 1;
        }
      }
      &:focus {
        transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        border-bottom: 2px solid rgb(0, 187, 255);
      }
      &::placeholder {
        color: #E0E0E0;
        opacity: 1;
      }
      &.error {
        border-bottom: 3px solid #EC644B;
      }
    }
  }
}

.right-journaling-container {
  padding-top: 20px;
  padding-right: 15px;
  background-color: rgb(246, 246, 246);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  height: calc(100vh - 100px);
  .allow-journaling {
    color: #C4C4C4;
    font-size: 15px;
    margin-bottom: 3em;
  }
  .video-record,
  .audio-record,
  .write {
    border-radius: 8px;
    background-image: linear-gradient(to right, #f2f5f9, #e2e6e7);
    width: 180px;
    height: 180px;
    margin: 7px;
    padding: 0;
    margin: 5px;
    position: relative;
    .radio-journaling {
      height: 100%;
      input[type="radio"] {
        ~.img-container {
          position: absolute;
          pointer-events: none;
          width: 75px;
          height: 75px;
          background: white;
          border-radius: 50%;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          z-index: 1;
          top: 40px;
          left: 50px;
        }
        &:checked {
          &+label {
            width: 100%;
            padding: 0;
            height: 100%;
            border-radius: 8px;
            background-image: linear-gradient(to right, #ffffff, #f2f5f9);
            border-style: solid;
            border-width: 1px;
            border-image-source: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
            border-image-slice: 1;
          }
          ~.img-container {
            position: absolute;
            width: 75px;
            height: 75px;
            background: white;
            border-radius: 50%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            z-index: 1;
            background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
            svg {
              path {
                fill: white;
              }
            }
          }
        }
        &+label {
          width: 100%;
          padding: 0;
          height: 100%;
          font-size: 16px;
          color: #6f7e82;
          line-height: 18;
          &::before {
            display: none;
          }
          &::after {
            background-color: none;
            display: none;
          }
        }
      }
    }
  }
}

.journaling-description-input-container {
  background: white;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  height: 180px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: calc(100% - 5vh);
    width: 8px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.4);
    top: 2.5vh;
    left: -6px;
  }
  .toggle-toolbar {
    z-index: 10;
    position: absolute;
    left: -20px;
    top: 20px;
    transition: all 0.5s ease-in;
    cursor: pointer;
    &.cross {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
  .note-editor {
    top: 15px;
    height: 180px;
    border: 0;
    background: transparent;
    box-shadow: none;
  }
  .note-editable {
    background: transparent;
    height: calc(100% - 50px);
    margin-left: 0;
    margin-top: -4px;
    font-size: auto !important;
    margin-bottom: 15px;
    font-weight: 200;
    p {
      font-size: 14px;
      font-weight: 400;
      color: #747474;
    }
    img {
      margin-top: 15px;
      width: auto !important;
    }
  }
  .note-editing-area {
    position: relative;
    height: 100%;
  }
  .note-placeholder {
    display: block;
    margin-left: 0;
    margin-top: -4px;
    color: #C4C4C4;
  }
  .note-resizebar {
    display: none;
  }
  .note-toolbar {
    position: relative;
    display: none;
    z-index: 1;
    border: 0;
    background: transparent;
    width: 100%;
    margin-left: 0;
    button {
      background: rgb(246, 246, 246);
      border: 0;
      transition: all 0.5s ease-in-out;
      &:hover {
        box-shadow: 1px 1px 8px #eaeaea;
      }
    }
  }
}
