<template name="journalingCreate">
  <div class="container-fluid">
    {{#with get_journaling_context}}
    <form class="journaling_form">
      <div class="jumbotron left-journaling-jumbotron col-sm-6 border-right">
        <input type="text" name="stem" class="form-control input-lg" placeholder="Title of your journal" value="{{stem}}">
        <input type="text" name="tags" class="tags journaling-tags" placeholder="tags" value="{{tags}}">
        <div class="clearfix"></div>
        <div class="journaling-description-input-container content-container width100">
          <img class="toggle-toolbar" src="/outline-plus.png" alt="circle plus">
          <textarea name="description" class="form-control input-lg journaling-description-input"></textarea>
        </div>
      </div>
      <div class="right-journaling-container col-sm-6 flex-box flex-direction-column justify-content-center flex-vertical-center-align">
        <p class="allow-journaling">Allow jounaling via</p>
        <div class="flex-box justify-content-center">
          <div class="write flex-box flex-direction-column flex-vertical-center-align justify-content-center">
            <div class="radio radio-journaling width100 noPadding text-center">
              <input id="text-input" type="radio" name="inputs" value="text">
              <label for="text-input">
                Write
              </label>
                <div class="img-container flex-box flex-direction-column flex-vertical-center-align justify-content-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><linearGradient id="a" x1="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#FF9452"/><stop offset="49.522%" stop-color="#F96D28"/><stop offset="100%" stop-color="#FF445E"/></linearGradient></defs><path fill="url(#a)" fill-rule="evenodd" d="M400.6 350.8a1.2 1.2 0 0 1-1.2 1.2h-4.8a1.2 1.2 0 0 1 0-2.4h4.8a1.2 1.2 0 0 1 1.2 1.2zm-6-6h4.8a1.2 1.2 0 0 1 0 2.4h-4.8a1.2 1.2 0 0 1 0-2.4zm9.6 0v-2.4c1.324 0 2.4 1.076 2.4 2.4h-2.4zm-2.4 14.4c0 1.324-1.076 2.4-2.4 2.4v-2.4a2.4 2.4 0 0 0-2.4-2.4h-4.8v-12a2.4 2.4 0 0 1 2.4-2.4h7.2v16.8zm-4.8 2.4h-7.2a2.402 2.402 0 0 1-2.4-2.4h8.4a1.2 1.2 0 0 1 1.2 1.2v1.2zm7.2-21.6h-9.6a4.8 4.8 0 0 0-4.8 4.8v12h-3.6a1.2 1.2 0 0 0-1.2 1.2v1.2a4.8 4.8 0 0 0 4.8 4.8h9.6a4.8 4.8 0 0 0 4.8-4.8v-12h3.6a1.2 1.2 0 0 0 1.2-1.2v-1.2a4.8 4.8 0 0 0-4.8-4.8z" transform="translate(-385 -340)"/></svg>
                </div>
              </div>
            </div>
          <div class="video-record flex-box flex-direction-column flex-vertical-center-align justify-content-center">
            <div class="radio radio-journaling width100 noPadding text-center">
              <input id="video-input" type="radio" name="inputs" value="video">
              <label for="video-input">
                Video Record
              </label>
              <div class="img-container flex-box flex-vertical-center-align justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewBox="0 0 24 21"><defs><linearGradient id="a" x1="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#FF9452"/><stop offset="49.522%" stop-color="#F96D28"/><stop offset="100%" stop-color="#FF445E"/></linearGradient></defs><path fill="url(#a)" fill-rule="evenodd" d="M649.6 354.375v2.948l-2.68-1.723 2.68-1.48v.255zm-7.2 4.316c0 .683-.538 1.237-1.2 1.237h-9.6c-.662 0-1.2-.554-1.2-1.236v-4.945c0-.682.538-1.236 1.2-1.236h9.6c.662 0 1.2.553 1.2 1.235v4.946zm-9.468-11.745c.662 0 1.2.556 1.2 1.237s-.538 1.236-1.2 1.236c-.66 0-1.2-.555-1.2-1.236 0-.68.54-1.237 1.2-1.237zm6-2.472c1.324 0 2.4 1.11 2.4 2.472 0 1.364-1.076 2.473-2.4 2.473-1.322 0-2.4-1.11-2.4-2.473 0-1.363 1.078-2.472 2.4-2.472zm11.232 6.126l-5.364 3.45v-2.16c0-1.21-.744-2.212-1.858-2.426.43-.74.74-1.595.74-2.52 0-2.73-2.123-4.944-4.774-4.944-1.94 0-3.59 1.192-4.346 2.898a3.463 3.463 0 0 0-1.636-.425c-1.988 0-3.596 1.66-3.596 3.71 0 .516.004 1.008.19 1.454-.836.387-1.52 1.248-1.52 2.254v7.42c0 1.364 1.274 3.09 2.6 3.09h12c1.325 0 2.2-1.726 2.2-3.09v-2.158l5.364 3.45c.8.513 1.836-.08 1.836-1.05v-7.905c0-.97-1.036-1.562-1.836-1.048z" transform="translate(-628 -342)"/></svg>
              </div>
            </div>
          </div>
          <div class="audio-record flex-box flex-direction-column flex-vertical-center-align justify-content-center disabed">
            <div class="radio radio-journaling width100 noPadding text-center disabled">
              <input id="audio-input" type="radio" name="inputs" value="audio" class="disabled" disabled>
              <label for="audio-input">
                Audio Record
              </label>
              <div class="img-container flex-box flex-vertical-center-align justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 20 24"><defs><linearGradient id="a" x1="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#FF9452"/><stop offset="49.522%" stop-color="#F96D28"/><stop offset="100%" stop-color="#FF445E"/></linearGradient></defs><path fill="url(#a)" fill-rule="evenodd" d="M883.792 358.524v3.076h2.45c.65 0 1.14.372 1.166 1.003-.05.643-.533 1.397-1.167 1.397h-7.25c-.667 0-1.24-.688-1.24-1.35v-.15c0-.662.573-.9 1.24-.9h2.385v-3.076c-3.625-.45-7.794-2.872-8.367-7.876-.082-.714.5-1.048 1.224-1.048h.004c.606 0 1.12.3 1.19.9.977 8.2 13.403 8.05 14.38-.15.07-.6.584-.75 1.19-.75H891c.724 0 1.274.334 1.192 1.048-.573 5.004-3.566 7.425-8.4 7.876zm3.625 4.126c0-.017-.008-.03-.01-.047.003-.033.01-.07.01-.103v.15zm-7.25-19.65c0-.662.572-.6 1.24-.6h2.418c.667 0 1.175-.062 1.175.6v6a2.41 2.41 0 0 1-2.417 2.4 2.41 2.41 0 0 1-2.416-2.4v-6zm2.416 10.8c2.67 0 4.834-2.15 4.834-4.8v-7.2c0-1.326-1.05-1.8-2.384-1.8H880.2c-1.336 0-2.45.474-2.45 1.8v7.2c0 2.65 2.164 4.8 4.833 4.8z" transform="translate(-873 -340)"/></svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    {{/with}}
  </div>
</template>