.thread-card {
	border-radius: 8px;
	background-color: #ffffff;
	overflow: hidden;
	box-sizing: border-box;
	.thread-about {
		padding: 18px 24px 1px;
		.details {
			display: flex;
			justify-content: space-between;
			.user-details {
				display: flex;
				align-items: center;
				img {
					width: 48px;
					height: 48px;
					margin-right: 8px;
					border-radius: 50%;
				}
				p {
					font-family: Roboto;
					text-align: left;
					font-weight: bold;
					margin-bottom: 4px;
					&.name {
						background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
						font-family: Roboto;
						font-size: 14px;
						font-weight: bold;
						text-align: left;
						-webkit-background-clip: text;
						background-clip: text;
						-webkit-text-fill-color: transparent;
					}
					&.created {
						opacity: 0.4;
						font-size: 10px;
						color: #000000;
					}
				}
			}
			.thread-states {
				display: flex;
				align-items: center;
				.up-number {
					color: #7ed321;
				}
				.down-number {
					color: #ff6c5c;
				}
				p {
					margin-bottom: 0;
					margin-right: 8px;
				}
				.arrow-container {
					width: 32px;
					height: 32px;
					border-radius: 4px;
					background-color: #ffffff;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
					border: solid 1px #e2e6e7;
					position: relative;
					.fa {
						font-size: 20px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%) rotate(45deg);
					}
					&.up-trend {
						margin-right: 16px;
						.fa {
							color: #7ed321;
						}
						&:hover {
							background: #7ed321;
							.fa {
								color: #fff;
							}
						}
					}
					&.down-trend {
						.fa {
							color: #ff6c5c;
						}
						&:hover {
							background: #ff6c5c;
							.fa {
								color: #fff;
							}
						}
					}
				}
				.number {
					font-size: 16px;
					font-weight: bold;
					text-align: left;
				}
			}
		}
		.thread-body {
			background-color: #ffffff;
			margin: 12px 0 0;
			padding: 0;
			padding-right: 24px;
			border-radius: 4px;
			position: relative;
			word-wrap: break-word;
			p {
				font-family: Roboto;
				font-size: 14px;
				line-height: 1.5;
				text-align: left;
				color: #2c373e;
				margin: 0
			}
		}
	}
	.thread-main {
		padding: 24px;
		p {
			font-family: Roboto;
			font-size: 14px;
			text-align: left;
			color: #6f7e82;
			margin-bottom: 12px;
		}
		.active-users {
			display: flex;
			margin-bottom: 24px;
			img {
				width: 32px;
				height: 32px;
				margin-right: 8px;
			}
			.remaining-active {
				width: 32px;
				height: 32px;
				border-radius: 50%;
				background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
				position: relative;
				p {
					font-family: Roboto;
					font-size: 12px;
					font-weight: bold;
					text-align: left;
					color: #f2f5f9;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%)
				}
			}
		}
		.comments-threads {
			display: flex;
			align-items: center;
			.total-threads-comments {
				margin-right: 24px;
				p {
					font-family: Roboto;
					font-size: 12px;
					text-align: left;
					color: #6f7e82;
					margin: 0;
					&.thread-number {
						margin-bottom: 18px;
					}
					&.number {
						background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
						font-family: Roboto;
						font-size: 24px;
						font-weight: 300;
						text-align: left;
						-webkit-background-clip: text;
						background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
			}
		}
	}
	.thread-live {
    display: flex;
    align-items: center;
    padding: 18px 24px;
		img {
			width: 32px;
			height: 32px;
			margin-right: 12px;
			.flipVertical {
				transform: scaleY(-1);
			}
		}
		p {
			font-family: Roboto;
			font-size: 14px;
			line-height: 1.07;
			text-align: left;
			color: #6f7e82;
			margin: 0;
		}
		.join-the-thread {
			background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
			font-size: 16px;
			font-weight: bold;
			text-align: left;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			border: 0;
			z-index: 1;
		}
	}
	.thread-join {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		border-top: 1px solid #e2e6e7;
		padding: 16px;
		display: flex;
		align-items: center;
		img {
			width: 48px;
			height: 48px;
			margin-right: 12px;
		}
		textarea {
			height: 48px;
			width: 100%;
			border-radius: 8px;
			background-color: #f2f5f9;
			border: solid 1px #e2e6e7;
			font-size: 16px;
			text-align: left;
			padding: 5px;
			&::placeholder {
				color: #a0b2b8;
			}
		}
	}
}

.slick-slider {
	margin-bottom: 0;
}

.no-comments {
	width: 368px;
	height: 157px;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
	border: solid 1px #e2e6e7;
	background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}