<template name='threadCard'>
	<div class="card-flex">
		{{ #with getThread }}
		<div class="thread-card">
			<div class="thread-about">
				<div class="details">
					{{#with getUserDetailsById author}}
					<div class="user-details">
						<img src="{{ profile.pic }}" alt="user image">
						<div class="username-created">
							<p class="name">{{ username }}</p>
							<p class="created">{{formatDate ../createdAt "short"}}</p>
						</div>
					</div>
					{{/ with}}
					<div class="thread-states">
						<p class="number up-number">{{upVote.length}}</p>
						<button class="arrow-container up-trend" data-thread-id={{_id}}>
							<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
						</button>
						<p class="number down-number">{{downVote.length}}</p>
						<button class="arrow-container down-trend" data-thread-id={{_id}}>
							<i class="fa fa-long-arrow-down" aria-hidden="true"></i>
						</button>
						<img src="/share-color.svg" alt="share color" class="ml1 hidden">
					</div>
				</div>
				<div class="thread-body">
					<p>{{{ body }}}</p>
				</div>
			</div>
			<div class="thread-main">
				<div class="comments-threads">
					<div class="list-comment">
						{{#with getComments}}
							{{ #each this }}
								{{> commentCard comment_id = this._id }}
							{{ /each }}
						{{/with}}
					</div>
				</div>
			</div>
			<div class="thread-live pull-right">
				<a  class="join-the-thread" href="/discussions/{{discussion_id}}/threads/{{_id}}">Join</a>
			</div>
		</div>
		{{/with}}
	</div>
	<br><br>
</template>