<template name="videoChatCanvas">
    <h1>Video Chat with Canvas</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {{> videoChat}}
            </div>
            <div class="col-sm-6">
                <!-- {{ #with getParams }}
                    {{> Template.dynamic template=this }}
                {{ /with }} -->
                <!-- {{> singleView }} -->
                {{> creator}}
                {{> viewer }}
            </div>
        </div>
    </div>
</template>