<template name='debate'>

	<nav class="debate-navbar">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img src="/debate/button-back.svg" alt="left arrow">
			</a>
		</div>
		<ul class="nav navbar-nav">
			<li>
				<img src="/debate/heart.svg" alt="heart icon">
				<p class="count">0</p>
			</li>
			<li>
				<img src="/debate/bookmark.svg" alt="bookmark icon">
				<p class="count">0</p>
			</li>
			<li>
				<img src="/debate/share.svg" alt="share icon">
				<p class="count">0</p>
			</li>
		</ul>
	</nav>
	<div id="fullPage">
		{{ #with getUserOpinion }}
		<section class="debate-main section" data-anchor="firstPage">
			<div class="debate-header">
				<h2 class="debate-title">{{title}}</h2>
				<p class="debate-description">{{description}}</p>
			</div>
				<div class="debate-container">
				<div class="row">
					<div class="user-view col-md-12 col-lg-12 col-sm-12">
						<p>What’s your take?</p>
						<div class="user-slider">
							<input id="userOption" type="range" min="0" max="100" value="{{opinionVal}}" step="25">
							<div class="agree">
								<img src="/debate/agree.svg" alt="thumbs up">
							</div>
							<div class="disagree">
								<img src="/debate/disagree.svg" alt="thumbs down">
							</div>
							<img class='swipe-icon' src="/debate/icon-swipe.svg" alt="swipe icon">
						</div>
						<div class="user-opinion">
							<p>{{ userOpinion }}!</p>
						</div>
						<img class="userPic" src="{{currentUser.profile.pic}}" alt="user pic">
					</div>
				</div>
				{{ #if opinion }} {{ #if userInput }}
				<div class="user-post">
					<div class="user-val">
						<p>{{ userViewVal }}</p>
					</div>
					<div class="edit">
						<p>Thanks for your comment!</p>
						<button class="btn btnEdit">Edit my comment</button>
					</div>
					<div class="scroll-icon">
						<img src="/debate/mouse.svg" alt="mouse icon">
					</div>
				</div>
				{{ else }}
				<div class="user-input">
					<p>{{ question }}</p>
					<form>
						<!-- {{editVal}} -->
						<textarea id='userInput' value='{{ editVal }}' placeholder="type your statement" name="userInput" rows="3" cols="10"></textarea>
						<div class="button">
							<a href="#">Skip</a>
							<button class=" btn postBtn">Post</button>
						</div>
					</form>
				</div>
				{{ /if }} {{ /if }}
			</div>

		</section>
		{{#if userInput}}
		{{setVal}}
		<section class="guests-intro-section section fp-auto-height" data-anchor="secondPage">
			<h4 class="meetGuest">Meet the Guests</h4>
			<div id="intro-timeline">
				<div class="start">
					<div class="start-header">
						<div class="left-start">
							<div class="speaker1 disagreeSpeaker">
								{{ #with getUsername disagree.userId}}
								<div class="left-main">
									<h3 class="participants-name">{{this}}</h3>
								</div>
								{{ /with }}
								<img src="{{disagree.debaterPic}}" class="participants-img" alt="speaker img">
								<a class="disagree" href="#">
									<div>
										<img src="/debate/disagree.svg" alt="thumbs down">
									</div>
								</a>
								<div class="callout-section disagreeCallout">
									<p class="callout-title">I disagree on this topic!</p>
									<p class="callout-description">{{disagree.statement}}</p>
									<div class="callout-link">
										<a href="">Know why?</a>
									</div>
								</div>
							</div>
							<div class="disagree1 disagreed">
								<img src="/debate/disagree.svg" alt="thumbs up">
							</div>
							<div class="disagree2 disagreed">
								<img src="/debate/disagree.svg" alt="thumbs up">
							</div>
							<div class="disagree3 disagreed">
								<img src="/debate/disagree.svg" alt="thumbs up">
							</div>
							<div class="disagree4 disagreed">
								<img src="/debate/disagree.svg" alt="thumbs up">
							</div>
							<div class="disagree5 disagreed">
								<img src="/debate/disagree.svg" alt="thumbs up">
							</div>
							<div class="disagree6 disagreed">
								<img src="/debate/disagree.svg" alt="thumbs up">
							</div>
							<div class="disagree7 disagreed">
								<img src="/debate/disagree.svg" alt="thumbs up">
							</div>
							<div class="disagree8 disagreed">
								<img src="/debate/disagree.svg" alt="thumbs up">
							</div>
						</div>
						<div class="middle-start">
							<div class="dot dotbg1">
							</div>
							<div class="main">
								<p>Vs</p>
							</div>
							<div class="dot dotbg2">
							</div>
							<i class="fa fa-long-arrow-down downArrow" aria-hidden="true"></i>
						</div>
						<div class="right-start">
							<div class="speaker2 agreeSpeaker">
								{{ #with getUsername agree.userId}}
								<div class="right-main">
									<h3 class="participants-name">{{this}}</h3>
								</div>
								{{/with}}
								<img src="/debate/participant2.png" class="participants-img" alt="speaker img">
								<a class="agree" href="#">
									<div>
										<img src="/debate/agree.svg" alt="thumbs up">
									</div>
								</a>
								<div class="callout-section agreeCallout">
									<p class="callout-title">I agree on this topic!</p>
									<p class="callout-description">{{agree.statement}}</p>
									<div class="callout-link">
										<a href="">Know why?</a>
									</div>
								</div>
							</div>
							<div class="agree1 agreed">
								<img src="/debate/agree.svg" alt="thumbs up">
							</div>
							<div class="agree2 agreed">
								<img src="/debate/agree.svg" alt="thumbs up">
							</div>
							<div class="agree3 agreed">
								<img src="/debate/agree.svg" alt="thumbs up">
							</div>
							<div class="agree4 agreed">
								<img src="/debate/agree.svg" alt="thumbs up">
							</div>
							<div class="agree5 agreed">
								<img src="/debate/agree.svg" alt="thumbs up">
							</div>
							<div class="agree6 agreed">
								<img src="/debate/agree.svg" alt="thumbs up">
							</div>
							<div class="agree7 agreed">
								<img src="/debate/agree.svg" alt="thumbs up">
							</div>
							<div class="agree8 agreed">
								<img src="/debate/agree.svg" alt="thumbs up">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="participants-details-page leftSpeaker">
				<div class="flexbox align-flexEnd participant-container">
					<div class="participants-details-left-section">
						<div class="participants-name-wrap">
							<h3 class="participants-name">Dr. Han Pen says,</h3>
						</div>
						<div class="participants-details-section">
							<p>{{disagree.detailStatement}}</p>
							<div>
								<img src="/debate/image.jpg" alt="">
							</div>
							<p>This is a fake comment is this. Read this article. People are sharing this widely. I always believed that UBER is
								the most evil company we have right. This is a fake comment is this. Read this article. People are sharing this widely.
								I always believed that UBER is the most evil company we have right.</p>
							<div>
								<ul>
									{{#each disagree.tags}}
									<li>#{{this}}</li>
									{{/each}}
								</ul>
							</div>
							<div class="debate-timer">
								<p>Debate starting in</p>
								<p>
									<strong>03</strong> min
									<strong>45</strong> sec</p>
							</div>
						</div>
						<div class="flexbox intro-section-wrap flex-align-center">
							<div>
								<div class="flexbox flex-align-center">
									<div class="thumbnail-pic-wrap">
										<img class="participant-thumb-pic" src="/debate/Jenny.png" alt="user pic">
									</div>
									<div class="participants-intro">
										<p>Dr. Han Pen</p>
										<p class="designation">Designation</p>
									</div>
								</div>
							</div>
							<div>
								<button class="btn btn-primary">Follow Han</button>
							</div>
						</div>
					</div>
					<div class="intro-timeline">
						<div class="start">
							<div class="">
								<div class="left-start">
									<div class="speaker1">
										<img src="/debate/participant1.png" class="participants-img" alt="speaker img">
									</div>
									<div class="hash-tags tag1">
										<span>#criticalthinking</span>
									</div>
									<div class="hash-tags tag2">
										<span>#compassion</span>
									</div>
									<div class="hash-tags tag3">
										<span>#empathy</span>
									</div>
									<div class="hash-tags tag4">
										<span>#health</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="right-section-container">
						<div class="right-section-wrap">
							<div class="middle-start">
								<div class="dot dotbg1">
								</div>
								<div class="main left-main">
									<img src="/debate/arrow-right.svg" alt="Go back">
									<div class="ring-animated-bg ring-bg-1"></div>
									<div class="ring-animated-bg ring-bg-2"></div>
									<div class="ring-animated-bg ring-bg-3"></div>
								</div>
							</div>
							<a class="disagree" href="#">
								<div>
									<img src="/debate/disagree.svg" alt="thumbs down">
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="participants-details-page rightSpeaker">
				<div class="flexbox align-flexEnd participant-container flex-direction-row-reverse">
					<div class="participants-details-left-section">
						<div class="participants-name-wrap">
							<h3 class="participants-name">Jenny Mathews says,</h3>
						</div>
						<div class="participants-details-section">
							<p>{{disagree.detailStatement}}</p>
							<div>
								<img src="/debate/image.jpg" alt="">
							</div>
							<p>This is a fake comment is this. Read this article. People are sharing this widely. I always believed that UBER is
								the most evil company we have right. This is a fake comment is this. Read this article. People are sharing this widely.
								I always believed that UBER is the most evil company we have right.</p>
							<div>
								<ul>
									{{#each disagree.tags}}
									<li>#{{this}}</li>
									{{/each}}
								</ul>
							</div>
							<div class="debate-timer">
								<p>Debate starting in</p>
								<p>
									<strong>03</strong> min
									<strong>45</strong> sec</p>
							</div>
						</div>
						<div class="flexbox intro-section-wrap flex-align-center">
							<div>
								<div class="flexbox flex-align-center">
									<div class="thumbnail-pic-wrap">
										<img class="participant-thumb-pic" src="/debate/Jenny.png" alt="user pic">
									</div>
									<div class="participants-intro">
										<p>Jenny Mathews</p>
										<p class="designation">Designation</p>
									</div>
								</div>
							</div>
							<div>
								<button class="btn btn-primary">Follow Jenny</button>
							</div>
						</div>
					</div>
					<div class="intro-timeline">
						<div class="start">
							<div class="">
								<div class="left-start">
									<div class="speaker1">
										<img src="/debate/participant2.png" class="participants-img" alt="speaker img">
									</div>
									<div class="hash-tags tag1">
										<span>#criticalthinking</span>
									</div>
									<div class="hash-tags tag2">
										<span>#compassion</span>
									</div>
									<div class="hash-tags tag3">
										<span>#empathy</span>
									</div>
									<div class="hash-tags tag4">
										<span>#health</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="right-section-container">
						<div class="right-section-wrap">
							<div class="middle-start">
								<div class="dot dotbg1">
								</div>
								<div class="main right-main">
									<img src="/debate/arrow-right.svg" alt="Go back">
									<div class="ring-animated-bg ring-bg-1"></div>
									<div class="ring-animated-bg ring-bg-2"></div>
									<div class="ring-animated-bg ring-bg-3"></div>
								</div>
								<!-- <article>
						<div class="inner">
							<span class="points">
								<span class="inner-point">vs</span>
							</span>
							<h2>The Title</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis
								nec augue adipiscing, eget commodo libero mattis.</p>
						</div>
					</article> -->
							</div>
							<a class="disagree" href="#">
								<div>
									<img src="/debate/agree.svg" alt="thumbs down">
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="gradient-bg"></div>
		</section>
		<section class="results-section section fp-auto-height" data-anchor="thirdPage">
			<div id='results'>
				<div class="start">
					<div class="agree-disagree">
						{{#with calPercent agree.totalAgree disagree.totalDisagree}}
						<div class="disagree-total">
							<p>{{agreePercent}}% Disagree</p>
							<img src="/debate/user-6.png" alt="user pic" class="img-1">
							<img src="/debate/user-1.png" alt="user pic" class="img-2">
							<img src="/debate/user-2.png" alt="user pic" class="img-3">
							<img src="/debate/user-3.png" alt="user pic" class="img-4">
							<img src="/debate/user-4.png" alt="user pic" class="img-5">
							<img src="/debate/user-5.png" alt="user pic" class="img-6">
						</div>
						<div class="agree-total">
							<p>{{disagreePercent}}% Agree</p>
							<img src="/debate/user-1.png" alt="user pic" class="img-1">
							<img src="/debate/user-2.png" alt="user pic" class="img-2">
							<img src="/debate/user-3.png" alt="user pic" class="img-3">
							<img src="/debate/user-4.png" alt="user pic" class="img-4">
							<img src="/debate/user-5.png" alt="user pic" class="img-5">
							<img src="/debate/user-6.png" alt="user pic" class="img-6">
						</div>
						{{/with}}
					</div>
				</div>
				<div class="states">
					<div class="states-container">
						<div class="arguments state-elem">
							<img src="/debate/argument.svg" alt="left and right arrow">
							<div class="state">
								<p class="num">{{arguments}}</p>
								<p class="sub">Arguments</p>
							</div>
						</div>
						<div class="views state-elem">
							<img src="/debate/view.svg" alt="glass icon">
							<div class="state">
								<p class="num">{{kFormator views}}</p>
								<p class="sub">Views</p>
							</div>
						</div>
						<div class="opinionChanged state-elem">
							<img src="/debate/change.svg" alt="swipe icon">
							<div class="state">
								<p class="num">{{kFormator opinionChanged}}</p>
								<p class="sub">Opinions Changed</p>
							</div>
						</div>
						<div class="questions state-elem">
							<img src="/debate/question.svg" alt="question icon">
							<div class="state">
								<p class="num">{{kFormator questionRaised}}</p>
								<p class="sub">Questions Raised</p>
							</div>
						</div>
					</div>
				</div>
				<div class="showdown">
					<div class="showdown-container">
						<p>The Showdown</p>
						<img src="/debate/down.svg" alt="down arrow" class="bounce scroll-btn">
					</div>
				</div>
				<!-- <article>
						<div class="inner">
							<span class="points">
								<span class="inner-point">vs</span>
							</span>
							<h2>The Title</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis
								nec augue adipiscing, eget commodo libero mattis.</p>
						</div>
					</article> -->
			</div>
		</section>

		<section id="show-down" class="section fp-auto-height" data-anchor="fourthPage">
			<nav class="showdownNav">
				<div class="showdown-container">
					<a href="#">Q and A</a>
					<a href="#" class="active">The showdown</a>
					<a href="#">Response</a>
				</div>
			</nav>
			<div class="showdown-timeline">
				{{#each conversations}} {{ #with getTemp this }} {{> Template.dynamic template=temp data=data}} {{ /with }} {{/each}}
			</div>
		</section>

		<section class="conclusion-timeline-section section fp-auto-height" data-anchor="fifthPage">
			<div id='conclusion-timeline'>
				<div class="start">
					<div class="start-header">
						<div class="left-start">
							<div class="info">
							</div>
							<div class="speaker">
								<img src="/debate/han.png" alt="speaker img">
							</div>
							<div class="disagree-section">
								<img src="/debate/disagree.svg" alt="disagree icon">
							</div>
						</div>
						<div class="middle-start">
							<div class="main">
								<p>In Conclusion</p>
							</div>
						</div>
						<div class="right-start">
							<div class="info">
							</div>
							<div class="speaker">
								<img src="/debate/Jenny.png" alt="speaker img">
							</div>
							<div class="disagree-section">
								<img src="/debate/agree.svg" alt="disagree icon">
							</div>
						</div>
					</div>
					<div class="start-main">
						<div class="left-main">
							<h3>Dr. Han Pen</h3>
							<p>Disagree</p>
						</div>
						<div class="right-main">
							<h3>Jenny Matthews</h3>
							<p>Agree</p>
						</div>
					</div>

					<div class="start-views">
						<div class="left-view">
							<div class="views">
								<div class="views-content">
									<p>{{disagree.conclusion}}</p>
								</div>
								<a href="#" class="readmore">Read More</a>
							</div>
						</div>
						<div class="right-view">
							<div class="views">
								<div class="views-content">
									<p>{{agree.conclusion}}</p>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="start">
						<div class="agree-disagree">
							<div class="disagree-total">
								<p>46% Disagree</p>
								<img src="/debate/user-6.png" alt="user pic" class="img-1">
								<img src="/debate/user-1.png" alt="user pic" class="img-2">
								<img src="/debate/user-2.png" alt="user pic" class="img-3">
								<img src="/debate/user-3.png" alt="user pic" class="img-4">
								<img src="/debate/user-4.png" alt="user pic" class="img-5">
								<img src="/debate/user-5.png" alt="user pic" class="img-6">
							</div>
							<div class="agree-total">
								<p>54% Agree</p>
								<img src="/debate/user-1.png" alt="user pic" class="img-1">
								<img src="/debate/user-2.png" alt="user pic" class="img-2">
								<img src="/debate/user-3.png" alt="user pic" class="img-3">
								<img src="/debate/user-4.png" alt="user pic" class="img-4">
								<img src="/debate/user-5.png" alt="user pic" class="img-5">
								<img src="/debate/user-6.png" alt="user pic" class="img-6">
							</div>
						</div>
					</div> -->
					<div class="opinions-changes-section">
						<img src="/debate/change.svg" alt="swipe icon">
						<p class="count">10K</p>
						<p>Opinions Changed</p>
						<p>When the debate began, 46% viewers agreed to the topic. Now as the debate concluded, that number has changed to a whooping
							75%.</p>
						<div class="compare-link">
							<div class="flexbox">
								<a href="#">Compare what people were saying before &amp; said after</a>
								<a href="#">
									<img src="/debate/arrow-right.svg" alt="right arrow">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="change-your-take-section">
					<div>
						<div class="user-view col-md-12 col-lg-12 col-sm-12">
							<p>Change your take?</p>
							<div class="user-slider">
								<input id="userOption" type="range" min="0" max="100" value="{{opinionVal}}" step="25">
								<div class="agree">
									<img src="/debate/agree.svg" alt="thumbs up">
								</div>
								<div class="disagree">
									<img src="/debate/disagree.svg" alt="thumbs down">
								</div>
								<img class='swipe-icon' src="/debate/icon-swipe.svg" alt="swipe icon">
							</div>
							<div class="user-opinion">
								<p>{{ userOpinion }}!</p>
							</div>
							<img class="userPic" src="{{currentUser.profile.pic}}" alt="user pic">
						</div>
					</div>
					{{ #if opinion }} {{ #if userInput }}
					<div class="user-post">
						<div class="user-val">
							<p>{{ userViewVal }}</p>
						</div>
						<div class="edit">
							<p>Thanks for your comment!</p>
							<button class="btn btnEdit">Edit my comment</button>
						</div>
					</div>
					{{ else }}
					<div class="user-input">
						<p>Why are you changing your stance?</p>
						<form>
							<div class="edit-val-wrap">
								<!-- {{editVal}} -->
								<textarea id='userInput' value='{{ editVal }}' placeholder="type your statement" name="userInput" rows="3" cols="10"></textarea>
							</div>
							<div class="button">
								<a href="#">Skip</a>
								<button class=" btn postBtn">Post</button>
							</div>
						</form>
					</div>
					{{ /if }} {{ /if }}
				</div>
				<div class="scroll-to-top scrollTop">
					<img src="/debate/arrow-up.svg" alt="arrow up icon">
				</div>
			</div>
		</section>
		{{/if}}
		{{/with}}
	</div>
</template>

<template name="debateAgreeTemp">
	{{#with this}}
	<div class="timeline-item">
		<div class="timeline-left" data-id="{{id}}">
			<div class="applause">
				<img src="/debate/clapping-hands.svg" alt="clapping icon">
			</div>
			<p>{{applause}}</p>
			<a href="#"></a>
		</div>
		<div class="timeline-icon">
			{{ #with getUserpic userId}}
			<img src="{{this}}" alt="userImg"> {{ /with }}
		</div>
		<div class="timeline-right">
			<div class="top-panel">
				{{ #with getUsername userId }}
				<p class="name">Jenny Matthews</p>
				{{ /with }}
				<!-- <img src="/menu.svg" alt="menu icon"> -->
			</div>
			<div class="msg agreeDebator">
				<p>{{debatorMsg}}</p>
				<p class="timer">{{formatDate createdAt 'time'}}</p>
			</div>
			<div class="active-user">
				{{ #each comments }}
					{{#with getUserDetailsById userId}}
						<img src="{{profile.pic}}" alt="userImg"> 
					{{/with}}
				{{ /each }}
				<!-- <p class="count">+{{getCount activeUsers.length}}</p> -->
			</div>
			<a href="#" class="openModal" id="{{id}}"></a>
		</div>
	</div>
	{{/with}}
</template>

<template name="debateDisagreeTemp">
	{{#with this}}
	<div class="timeline-item disagree">
		<div class="timeline-left" data-id="{{id}}">
			<div class="applause">
				<img src="/debate/clapping-hands.svg" alt="clapping icon">
			</div>
			<p>{{applause}}</p>
			<a href="#"></a>
		</div>
		<div class="timeline-icon">
			{{ #with getUserpic userId}}
			<img src="{{this}}" alt="userImg"> {{ /with }}
		</div>
		<div class="timeline-right">
			<div class="top-panel">
				{{ #with getUsername userId }}
				<p class="name">{{this}}</p>
				{{ /with }}
				<!-- <img src="/menu.svg" alt="menu icon"> -->
			</div>
			<div class="msg">
				<p>{{debatorMsg}}</p>
				<p class="timer">{{formatDate createdAt 'time'}}</p>
			</div>
			<div class="active-user">
				{{ #each comments }} {{#with getUserDetailsById userId}}
				<img src="{{profile.pic}}" alt="userImg"> {{/with}} {{ /each }}
				<!-- <p class="count">+{{getCount activeUsers.length}}</p> -->
			</div>
			<!-- <div class="timeline-comments">
				<div class="header">
					<img src="/debate/user-2.png" alt="user pic">
					<p class="name">Kaala Knight</p>
					<p>seeks clarification</p>
				</div>
				<div class="body">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
						dummy...
					</p>
				</div>
			</div> -->
			<a href="#" class="openModal" id="{{id}}"></a>
		</div>
	</div>
	{{/with}}
</template>