//Common Css

.flexbox {
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

#fullPage{
	height: 100%;
}

.align-flexEnd {
	align-items: flex-end;
	-webkit-align-items: flex-end;
}

.flex-align-center {
	align-items: center;
	-webkit-align-items: center;
}

.justify-space-around {
	justify-content: space-around;
	-webkit-justify-content: space-around;
}

.justify-space-between {
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.debate-navbar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	height: 64px;
  width: 100%;
  top: 0;
	z-index: 10;
	opacity: 0.64;
	background-color: #191d1f;
	.navbar-brand {
		padding: 0;
		height: auto;
	}
	ul {
		z-index: 10;
		li {
			display: flex;
			align-items: center;
			margin-right: 10px;
			p {
				margin: 0;
				color: #a0b2b8;
				border-radius: 4px;
				background-color: #414d54;
				padding: 5px 10px;
			}
			img {
				margin-right: 10px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.debate-main {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	margin-bottom: 90px;
	padding-top: 64px;
	.debate-container{
		width: 80%;
		margin: -90px auto 0;
	}
	.debate-header{
		background: rgba(25, 29, 31, .64);
		height: 300px;
		padding: 16px;
		// opacity: 0.64;
	}
	.debate-title {
		background-image: linear-gradient(to right, #ff9452, #f96d28, #ff445e 68%);
		font-family: NotoSerif;
		font-size: 24px;    // Uncommented by divya: @Faisal donot know why you had commented this style, uncommenting it to match the UX
		font-weight: bold;	// Uncommented by divya:
		line-height: 0.88;
		text-align: left;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-align: center;
		margin: 0;
	}
	.debate-description {
		font-family: Roboto;
		font-size: 14px;
		line-height: 1.5;
		text-align: center;
		color: #a0b2b8;
		width: 70%;
		margin: 30px auto;
	}
	.scroll-icon {
		margin-top: 50px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		animation: MoveUpDown 1s linear infinite;
		cursor: pointer;
	}
}
.user-view {
	// width: 857px;
	height: 355px;
	border-radius: 16px;
	background-color: #414d54;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
	margin: 0 auto 30px;
	position: relative;
	padding: 40px;
	max-width: 857px;
	float: none;
	img {
		&.userPic {
			position: absolute;
			bottom: -25px;
			left: 50%;
			transform: translateX(-50%);
			width: 56px;
			height: 56px;
			object-fit: contain;
			border-radius: 50%;
			box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.48);
			border: solid 1px #191d1f;
		}
	}
	p {
		text-align: center;
		font-family: Roboto;
		font-size: 16px;
		color: #f2f5f9;
	}
	.user-opinion {
		width: 70%;
		height: 70px;
		background-color: #2c373e;
		border-radius: 10px;
		position: relative;
		text-align: center;
		margin: auto;
		p {
			background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
			font-size: 32px;
			font-weight: 100;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			position: absolute;
			top: 50%;
			width: 100%;
			transform: translateY(-50%);
			@media(max-width: 540px) {
				font-size: 14px;
			}
		}
		&:before {
			content: '';
			position: absolute;
			bottom: -20px;
			left: 50%;
			width: 0;
			height: 0;
			transform: translateX(-50%);
			border-left: 40px solid transparent;
			border-right: 40px solid transparent;
			border-top: 40px solid #2c373e;
		}
	}
	.user-slider {
		height: 59px;
		width: 100%;
		margin: 50px 0;
		display: flex;
		align-items: center;
		position: relative;
		.swipe-icon {
			position: absolute;
			bottom: -20px;
			left: 50%;
			transform: translate(-50%, 50%);
		}
		.disagree {
			position: absolute;
			width: 56px;
			height: 56px;
			background-color: #2c373e;
			border: dashed 2px #6f7e82;
			top: 50%;
			left: 1.5px;
			transform: translateY(-50%);
			border-radius: 50%;
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.agree {
			position: absolute;
			width: 56px;
			height: 56px;
			background-color: #2c373e;
			border: dashed 2px #6f7e82;
			top: 50%;
			right: 1px;
			transform: translateY(-50%);
			border-radius: 50%;
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		input[type=range] {
			-webkit-appearance: none;
			width: 100%;
			background: transparent;
		}
		input[type=range]:focus {
			outline: none;
		}
		input[type=range]::-webkit-slider-runnable-track {
			width: 100%;
			height: 1px;
			cursor: pointer;
			background: transparent;
			border-radius: 0px;
			border: 1px dashed #6f7e82;
		}
		input[type=range]::-webkit-slider-thumb {
			box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.48);
			position: relative;
			border: solid 1px #6f7e82;
			width: 56px;
			height: 56px;
			border-radius: 50%;
			background: url('/debate/smiley.svg') no-repeat, #2c373e;
			background-position: center 10px;
			cursor: pointer;
			-webkit-appearance: none;
			margin-top: -28px;
			z-index: 10;
			transition: all .3 ease;
			&:hover {
				background-position: center -1.8px;
			}
		}
	}
}
.user-input {
	margin-top: 68px;
	text-align: center;
	p {
		text-align: center;
		font-family: Roboto;
		font-size: 16px;
		color: #f2f5f9;
		margin-bottom: 32px;
	}
	form {
		width: 70%;
		margin: 0 auto 60px;
		textarea {
			width: 100%;
			height: 100px;
			border-radius: 8px;
			background-color: #414d54;
			border: solid 1px #191d1f;
			resize: none;
			font-family: Roboto;
			font-size: 14px;
			line-height: 1.86;
			letter-spacing: 0.3px;
			text-align: left;
			color: #a0b2b8;
			padding: 10px 20px;
		}
		.button {
			text-align: right;
			a {
				font-family: Roboto;
				font-size: 16px;
				font-weight: bold;
				text-align: left;
				color: #a0b2b8;
				margin-right: 20px;
			}
			.postBtn {
				width: 74px;
				height: 40px;
				object-fit: contain;
				border-radius: 8px;
				background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
				box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.16);
				font-family: Roboto;
				font-size: 16px;
				font-weight: bold;
				color: #ffffff;
			}
		}
	}
}
.user-post {
	width: 75%;
	margin: 60px auto;
	.user-val {
		border-radius: 8px;
		border: solid 1px #191d1f;
		padding: 16px 24px;
		margin-bottom: 30px;
		p {
			font-family: Roboto;
			font-size: 14px;
			line-height: 1.86;
			letter-spacing: 0.3px;
			text-align: left;
			color: #a0b2b8;
		}
	}
	.edit {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 19px;
		p {
			background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
			font-family: Roboto;
			font-size: 16px;
			text-align: left;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.btnEdit {
			border-radius: 8px;
			background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
			box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.16);
			font-family: Roboto;
			font-size: 16px;
			font-weight: bold;
			color: #ffffff;
		}
	}
}

section {
	h4 {
		font-family: Roboto;
	  font-size: 56px;
	  font-weight: 100;
	  text-align: center;
	  color: #6f7e82;
	}
}
		// .guests-intro-section {
		// 	padding-top: 80px;
		// }

#show-down{
	width: 100%;
	// height: 100%;
	position: relative;
	margin-bottom: 0;
	padding-bottom: 80px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 49.99%;
		top: 0;
		width: 1px;
		height: 100%;
		background-color: #6f7e82;
		transform: translateX(-50%);
		z-index: -1;
	}

	.showdownNav {
		width: 100%;
		background-color: #414d54;
		margin-bottom: 40px;
		height: 64px;
		&.fixTop {
			position: fixed;
			top: 0;
			margin-bottom: 50px;
			z-index: 12;
		}
		.showdown-container {
			padding: 20px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			a {
				font-family: Roboto;
				font-size: 14px;
				font-weight: bold;
				letter-spacing: 1px;
				text-align: left;
				color: #a0b2b8;
				text-decoration: none;
				text-transform: uppercase;
				&.active {
					background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
					-webkit-background-clip: text;
					background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
		}
	}

	.showdown-timeline{
		position: relative;
		padding: 30px 50px;
		&.topPadding{
			padding-top: 100px;
		}
		.timeline-item {
			margin-bottom: 50px;
			position: relative;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;

			&.disagree{
				flex-direction: row-reverse;

				.timeline-right{
					.top-panel{
						flex-direction: row-reverse;
						margin-left: 10px;
					}
				}
			}
			.timeline-icon {
				flex-basis: 5%;
				margin: 10px 8px 0;
				text-align: center;

				img {
					width: 50px;
					height: 50px;
					position: relative;
					z-index: 2;
				}
			}
			.timeline-left {
				// flex-basis: 10%;
				margin-top: 10px;
				position: relative;
				.applause {
					background: url('/debate/oval.svg') no-repeat;
					background-position: center;
					background-size: 70%;
					width: 60px;
					height: 60px;
					position: relative;
					margin-top: -7px;
					img {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
				p {
					font-family: Roboto;
					font-size: 12px;
					font-weight: bold;
					letter-spacing: 0.6px;
					text-align: center;
					color: #a0b2b8;
					margin: 0;
				}
				a{
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
				}
			}
			.timeline-right {
				flex-basis: 47%;
				position: relative;
				.openModal {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
				.top-panel {
					display: flex;
					justify-content: space-between;
					align-items: center;
					img {
						margin-right: 10px;
					}
					.par {
						display: flex;
					}
					p {
						background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
						font-family: Roboto;
						font-size: 12px;
						font-weight: bold;
						letter-spacing: 0.6px;
						text-align: left;
						-webkit-background-clip: text;
						background-clip: text;
						-webkit-text-fill-color: transparent;
						margin-right: 10px;
						&.clarification {
							font-family: Roboto;
							font-size: 12px;
							letter-spacing: 0.6px;
							text-align: left;
							color: #a0b2b8;
							-webkit-text-fill-color: #a0b2b8;
						}
						&.facts {
							font-family: Roboto;
							font-size: 12px;
							letter-spacing: 0.6px;
							text-align: left;
							color: #a0b2b8;
							-webkit-text-fill-color: #a0b2b8;
						}
					}
				}
				.msg {
					background-color: #a0b2b8;
					border: solid 1px #191d1f;
					padding: 16px;
					border-radius: 0 8px 8px 8px;
					position: relative;
					word-break: break-all;
					&.agreeDebator {
						background-color: #414d54;
						border: solid 1px #191d1f;
						p {
							color: #e2e6e7;
							text-align: left;
						}
					}
					.vote {
						position: absolute;
						bottom: 0;
						right: 0;
						border-radius: 16px;
						background-color: #5a666a;
						box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
						text-align: center;
						transform: translate(-10%, 50%);
						padding: 5px 20px;
						a {
							text-decoration: none;
							&.up {
								font-family: Roboto;
								font-size: 12px;
								text-align: left;
								color: #7cd11f;
								margin-right: 10px;
								.fa {
									font-size: 16px;
									transform: rotate(-45deg)
								}
							}
							&.down {
								font-family: Roboto;
								font-size: 12px;
								text-align: left;
								color: #fd6a5a;
								.fa {
									font-size: 16px;
									transform: rotate(-45deg)
								}
							}
						}
					}
					p {
						font-family: Roboto;
						font-size: 14px;
						line-height: 1.5;
						letter-spacing: 0.5px;
						text-align: right;
						color: #2c373e;
						margin: 0;
						&.timer {
							font-size: 12px;
							color: #6f7e82;
							margin-top: 10px;
						}
					}

					
				}
				

				.active-user {
					display: flex;
					align-items: center;
					margin: 8px 0;
					img {
						width: 30px;
						height: 30px;
						border-radius: 50%;
						margin-left: 10px;
					}
					p {
						margin: 0;
						margin-left: 10px;
						background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
						font-family: Roboto;
						font-size: 12px;
						letter-spacing: 0.6px;
						-webkit-background-clip: text;
						background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}

				.timeline-comments{
					border-radius: 16px;
					border: solid 1px #6f7e82;
					padding: 16px;

					.header{
						display: flex;
						align-items: center;

						img{
							margin-right: 10px;
							width: 35px;
							height: 35px;
						}
						P{
							// margin-bottom: 0;
							margin-right: 10px;
							font-family: Roboto;
							font-size: 12px;
							letter-spacing: 0.6px;
							text-align: left;
							color: #a0b2b8;

							&.name{
								background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
								-webkit-background-clip: text;
								background-clip: text;
								-webkit-text-fill-color: transparent;
							}
						}
					}
					.body{
						p{
							font-family: Roboto;
							font-size: 14px;
							line-height: 1.5;
							letter-spacing: 0.5px;
							text-align: left;
							color: #e2e6e7;
						}
					}
				}
			}
		}
	}
}

section {
	width: 80%;
	margin: 0px auto;

	&.guests-intro-section {
		width: 100%;
		position:relative;
		height: 100vh;
		// display: flex;
		// flex-direction: column;
		// justify-content: space-evenly;
		padding-top: 64px;

		.meetGuest{
			margin: 0;
		}

		.gradient-bg {
			background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
  		box-shadow: 0 0 32px 0 rgba(25, 29, 31, 0.48);
  		position: absolute;
  		// bottom: -20px;
  		height: 64px;
  		width: 100%;
		  z-index: 1;
		  bottom: 0;
		}
	}
	#intro-timeline {
		width: 100%;
    margin: 50px auto 0;
		.start {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 95%;
			.start-header {
				display: flex;
				justify-content: space-between;
				align-items: stretch;
				position: relative;
				transition: all 1s ease;

				&.exit{
					transform: translate(10%);
					display: none;
				}
			}
			.left-start {
				position: relative;
				display: block;
			}
			.middle-start {
				bottom: 64px;
				margin-top: 12px;
				width: 300px;
				left: 50%;
				transform: translateX(-50%);
				position: absolute;
				height: 70%;

				.fa{
					font-size: 42px;
					color: #6f7e82;
					position: absolute;
					bottom: 20px;
					left: 50%;
					transform: translateX(-50%);
					animation: bounceArrow 1s linear infinite;
					cursor: pointer;
				}
		    &:before {
		    	content: '';
			    display: block;
			    position: absolute;
    			width: 300px;
			    height: 1px;
			    background-color: #6f7e82;
		    }
		    &:after {
			    content: '';
			    display: block;
			    position: absolute;
			    top: 0;
			    width: 1px;
			    height: 100%;
			    background-color: #6f7e82;
				left: 50%;
				transform: translateX(-50%);
			    z-index: -1;
				}
		    .dot {
		    	width: 16px;
			    height: 16px;
			    background-color: #5a666a;
			    border-radius: 100%;
    			position: absolute;
    			top: -8px;
    			&.dotbg1 {
    				left: 0;
    			}
    			&.dotbg2 {
    				right: 0;
    			}
		    }
		    .main {
		    	background: url(debate/oval.svg) no-repeat;
			    background-position: center;
			    background-size: contain;
			    height: 68px;
			    width: 68px;
			    position: absolute;
				left: 50%;
				transform: translateX(-50%);
			    top: -34px;
			    bottom: 0;
			    display: flex;
			    justify-content: center;
				align-items: center;
			    p {
			    	background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
				    font-family: Roboto;
				    font-size: 14px;
				    font-weight: bold;
				    -webkit-background-clip: text;
				    background-clip: text;
				    -webkit-text-fill-color: transparent;
				    text-transform: uppercase;
				    text-align: center;
    				margin: 0;
			    }
		    }
			}
			.left-main, .right-main {
				text-align: center;
				h3.participants-name {
					background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
				  font-family: Roboto;
				  font-size: 32px;
				  font-weight: bold;
				  text-align: center;
				  -webkit-background-clip: text;
				  background-clip: text;
				  -webkit-text-fill-color: transparent;
				  margin-bottom: -2px;
				  display: inline-block;
				}
			}
			.right-start {
				position: relative;
			}
			.disagreeCallout{
				transform: scale(.9);
				visibility: hidden;
				transition: all .2s ease;
			}
			.agreeCallout {
				transform: scale(.9);
				visibility: hidden;
				transition: all .2s ease;
			}
			.callout-section {
				width: 372px;
			  height: 181.7px;
			  background-color: #e2e6e7;
			  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
			  border: solid 1px #a0b2b8;
			  border-radius: 18px;
		    position: absolute;
		    bottom: 0%;
		    top: 280px;
		    left: 80px;
        z-index: 1;
		    text-align: center;
		    font-family: Roboto;
		    color: #2c373e;
		    display: flex;
		    flex-direction: column;
			justify-content: center;
			&.agreeCallout{
				right: 60px;
				left: 0;
			}
		    &:before {
			    content: "";
			    position: absolute;
			    left: calc(50% - 20px);
			    right: 100%;
			    border-left: 20px solid transparent;
			    border-right: 20px solid transparent;
			    border-bottom: 24px solid #e2e6e7;
			    top: -24px;
				}
		    .callout-title {
				  font-size: 18px;
		    }
		    .callout-description {
				  font-size: 14px;
				  line-height: 1.5;
				  letter-spacing: 0.3px;
		    }
		    .callout-link {
		    	text-align: center;
		    	a {
		    		background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
					  font-family: Roboto;
					  font-size: 14px;
					  font-weight: bold;
					  text-align: left;
					  -webkit-background-clip: text;
					  background-clip: text;
					  -webkit-text-fill-color: transparent;
		    	}
		    }
			}
			.speaker1 {
				position: absolute;
    		left: 0;
				img.participants-img {
			    height: 493px;
    			width: auto;
    			-webkit-filter: drop-shadow(23px -28px 0px #191d1f);
    			filter: drop-shadow(23px -28px 0px #191d1f);
    			position: relative;
    			z-index: -1;
				}
			}
			.speaker2 {
    		img.participants-img {
    			width: 360px;
		    	height: 493px;
    			-webkit-filter: drop-shadow(23px -28px 0px #191d1f);
  				filter: drop-shadow(23px -28px 0px #191d1f);
  				position: relative;
    			z-index: -1;
    		}
			}
			.agree, .disagree {
				width: 96px;
		    height: 96px;
		    background-color: #2c373e;
		    border: dashed 2px #6f7e82;
		    top: 0;
		    left: 40%;
		    transform: translateY(-50%);
		    border-radius: 50%;
		    position: absolute;
		    bottom: 0%;
    		top: 400px;
		    img {
		    	position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
		    }
			}
			.disagreed {
				visibility: hidden;
				// transform: translateY(-80%);
				// transition: all .3s ease;
				// animation: sideWays 1s linear;
			}
			.agreed {
				visibility: hidden;
				// transition: all .3s ease;
			}
			.disagreeSpeaker{
				cursor: pointer;

				&:hover ~ .disagreed{
					visibility: visible;
					// transform: translateY(0%);
					animation: animateDown 1s linear infinite;
				}

				&:hover > .disagreeCallout {
					visibility: visible;
					transform: scale(1);
				}
			}
			.agreeSpeaker {
				cursor: pointer;
				position: relative;
				z-index: 1;
				&:hover ~ .agreed {
					visibility: visible;
					animation: animateUp 2s linear infinite;
				}
				&:hover > .agreeCallout {
					visibility: visible;
					transform: scale(1);
				}
			}
			.disagree1 {
				position: absolute;
		    top: -130px;
		    left: 190px;
		    img {
    	    width: 50px;
			    height: 50px;
			    object-fit: contain;
			    transform: rotate(-27deg);
			    opacity: 0.8;
		    }
			}
			.agree1 {
				position: absolute;
				top: -130px;
				right: 190px;
				img {
					width: 50px;
					height: 50px;
					object-fit: contain;
					transform: rotate(-27deg);
					opacity: 0.8;
				}
			}
			.disagree2 {
				position: absolute;
		    top: -60px;
    		left: 310px;
		    img {
    	    width: 50px;
			    height: 50px;
			    object-fit: contain;
			    transform: rotate(9deg);
			    opacity: 0.8;
		    }
			}
			.agree2 {
				position: absolute;
				top: -60px;
				right: 310px;
				img {
					width: 50px;
					height: 50px;
					object-fit: contain;
					transform: rotate(9deg);
					opacity: 0.8;
				}
			}
			.disagree3 {
				position: absolute;
		    top: 10px;
		    left: 220px;
		    z-index: -1;
		    img {
    	    width: 50px;
			    height: 50px;
			    object-fit: contain;
			    transform: rotate(9deg);
			    opacity: 0.8;
		    }
			}
			.agree3 {
				position: absolute;
				top: 10px;
				right: 220px;
				z-index: -1;
				img {
					width: 50px;
					height: 50px;
					object-fit: contain;
					transform: rotate(9deg);
					opacity: 0.8;
				}
			}
			.disagree4 {
				position: absolute;
		    top: 0;
    		left: 60px;
		    img {
    	    width: 50px;
			    height: 50px;
			    object-fit: contain;
			    transform: rotate(9deg);
			    opacity: 0.8;
		    }
			}
			.agree4 {
				position: absolute;
				top: 0;
				right: 60px;
				img {
					width: 50px;
					height: 50px;
					object-fit: contain;
					transform: rotate(9deg);
					opacity: 0.8;
				}
			}
			.disagree5 {
				position: absolute;
		    top: 130px;
    		left: 110px;
		    img {
    	    width: 50px;
			    height: 50px;
			    object-fit: contain;
			    transform: rotate(34deg);
			    opacity: 0.8;
		    }
			}
			.agree5 {
				position: absolute;
				top: 130px;
				right: 110px;
				img {
					width: 50px;
					height: 50px;
					object-fit: contain;
					transform: rotate(34deg);
					opacity: 0.8;
				}
			}
			.disagree6 {
				position: absolute;
		    top: 203px;
    		left: 340px;
		    img {
    	    width: 50px;
			    height: 50px;
			    object-fit: contain;
			    transform: rotate(-20deg);
			    opacity: 0.8;
		    }
			}
			.agree6 {
				position: absolute;
				top: 203px;
				right: 340px;
				img {
					width: 50px;
					height: 50px;
					object-fit: contain;
					transform: rotate(-20deg);
					opacity: 0.8;
				}
			}
			.disagree7 {
				position: absolute;
		    top: 470px;
    		left: 60px;
		    img {
    	    width: 50px;
			    height: 50px;
			    object-fit: contain;
			    transform: rotate(39deg);
			    opacity: 0.8;
		    }
			}
			.agree7 {
				position: absolute;
				top: 470px;
				right: 60px;
				img {
					width: 50px;
					height: 50px;
					object-fit: contain;
					transform: rotate(39deg);
					opacity: 0.8;
				}
			}
			.disagree8 {
				position: absolute;
		    top: 470px;
    		left: 430px;
		    img {
    	    width: 50px;
			    height: 50px;
			    object-fit: contain;
			    transform: rotate(-12deg);
			    opacity: 0.8;
		    }
			}
			.agree8 {
				position: absolute;
				top: 470px;
				right: 430px;
				img {
					width: 50px;
					height: 50px;
					object-fit: contain;
					transform: rotate(-12deg);
					opacity: 0.8;
				}
			}
		}
	}

	.participants-details-page {
    width: 98%;
	margin: 50px 0 0 auto;

	transition: all 1s ease;
		&.leftSpeaker{
			display: none;
			transform: translateX(-1%);
		}
		&.rightSpeaker{
			display: none;
			transform: translateX(0%);
			.hash-tags {
				&.tag2 {
					top: 50%;
					left: 0;
				}
			}
			.main{
				img{
					transform: rotate(180deg)
				}
			}

			.middle-start .dot.dotbg1{
				left: 100%;
				transform: translateX(-50%);
			}

		}
	&.enter{
		transform: translateX(0%);
		display: block;
	}
	&.enter-right {
		transform: translateX(-3%);
		display: block;
	}
    .participants-details-left-section {
    	height: 650px;
    	overflow-y: scroll;
		padding-right: 40px;
    }
    .participants-name-wrap {
    	text-align: left;
    	h3 {
		  	padding-left: 30px;
		  	background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
			  font-family: Roboto;
			  font-size: 48px;
			  font-weight: bold;
			  -webkit-background-clip: text;
			  background-clip: text;
			  -webkit-text-fill-color: transparent;
			  display: inline-block;
		  }
    }
    .intro-timeline {
			width: auto;
			position: relative;
    	.start .speaker1 {
		    position: static;
		    margin-top: 40px;
		    img.participants-img {
    			height: 460px;
    		}
			}
			.hash-tags {
				background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
				font-family: Roboto;
				font-size: 18px;
				font-weight: bold;
				text-align: left;
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				position: absolute;
				&.tag1 {
					top: -9px;
					left: 46%;
					transform: translateX(-50%);
				}
				&.tag2 {
					top: 117px;
					left: 10%;
					transform: translateX(-50%);
				}
				&.tag3 {
					top: 141px;
					left: 54%;
					transform: translateX(-50%);
				}
				&.tag4 {
					top: 371px;
					left: 14%;
					transform: translateX(-50%);
					// z-index: -;
				}
			}
    }
    // .hash-tags {
    // 	background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
		//   font-family: Roboto;
		//   font-size: 18px;
		//   font-weight: bold;
		//   text-align: left;
		//   -webkit-background-clip: text;
		//   background-clip: text;
		//   -webkit-text-fill-color: transparent;
		//   position: absolute;
    // 	&.tag1 {
    // 		top: -9px;
    // 		left: 46%;
    // 	}
    // 	&.tag2 {
    // 		top: 117px;
    // 		left: 16%;
    // 	}
    // 	&.tag3 {
    // 		top: 141px;
  	// 		left: 54%;
    // 	}
    // 	&.tag4 {
    // 		top: 371px;
		//     left: 14%;
		//     z-index: -2;
    // 	}
    // }
    .intro-section-wrap {
    	padding: 50px 40px 104px;
    	.btn.btn-primary {
    		object-fit: contain;
			  border-radius: 8px;
			  background-color: #a0b2b8;
			  box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.16);
			  border: 0;
    	}
    }
    .thumbnail-pic-wrap {
    	text-align: center;
    	margin-right: 20px;
	    .participant-thumb-pic {
	    	width: 64px;
		    height: 64px;
		    border-radius: 50%;
		    border: 2px solid #ccc;
		    object-fit: contain;
	    }
	  }
	  .right-section-container {
	  	flex-basis: 15%;
	  	height: 100%;
    	padding-top: 110px;
	  }
	  .right-section-wrap {
	  	display: flex;
	    flex-direction: column;
	    align-items: center;
	    position: relative;
	    &:after {
		    content: '';
		    display: block;
		    position: absolute;
		    top: 0;
		    width: 1px;
		    height: 100%;
		    background-color: #6f7e82;
		    left: calc(50% - 1px);
		    z-index: -2;
			}
	  }
	  .middle-start {
	    width: 100%;
	    position: relative;
	    display: block;
	    height: 100%;
	    &:before {
	    	content: '';
		    display: block;
		    position: absolute;
  			width: 100%;
		    height: 1px;
		    background-color: #6f7e82;
	    }
	    .dot {
	    	width: 16px;
		    height: 16px;
		    background-color: #5a666a;
		    border-radius: 100%;
  			position: absolute;
  			top: -8px;
  			&.dotbg1 {
  				left: 0;
  			}
  			&.dotbg2 {
  				right: 0;
  			}
	    }
	    .main {
	    	background: url(debate/oval.svg) no-repeat;
		    background-position: center;
		    background-size: contain;
		    height: 68px;
		    width: 68px;
		    position: absolute;
		    left: calc(50% - 34px);
		    top: -34px;
		    bottom: 0;
		    display: flex;
		    justify-content: center;
			align-items: center;
			cursor: pointer;
		    p {
		    	background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
			    font-family: Roboto;
			    font-size: 14px;
			    font-weight: bold;
			    -webkit-background-clip: text;
			    background-clip: text;
			    -webkit-text-fill-color: transparent;
			    text-transform: uppercase;
			    text-align: center;
  				margin: 0;
		    }
	    }
		}
	  .disagree {
			width: 96px;
	    height: 96px;
	    background-color: #2c373e;
	    border: dashed 2px #6f7e82;
	    transform: translateY(-50%);
	    border-radius: 50%;
      display: block;
      margin-top: 278px;
    	margin-bottom: 54%;
	    img {
	    	position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
	    }
		}
	}
	.participants-intro {
		p {
			font-family: Roboto;
		  font-size: 16px;
		  font-weight: bold;
		  text-align: left;
		  color: #e2e6e7;
		  margin-bottom: 0;
		  &.designation {
		  	font-size: 14px;
		  	font-weight: normal;
		  }
		}
	}
	.participants-details-section {
		width: 540px;
	  height: 571px;
	  border-radius: 16px;
	  background-color: #414d54;
	  box-shadow: 0 0 32px 0 rgba(25, 29, 31, 0.48);
	  padding: 30px 50px 30px 30px;
	  overflow-y: scroll;
	  p {
	  	font-family: Roboto;
		  font-size: 14px;
		  line-height: 1.5;
		  letter-spacing: 0.3px;
		  text-align: left;
		  color: #a0b2b8;
		  margin-bottom: 24px;
	  }
	  img {
	  	width: 100%;
    	height: 297px;
    	border-radius: 8px;
    	margin-top: 24px;
	  }
	  ul {
	  	display: flex;
	    justify-content: space-between;
	    list-style: none;
	    padding-left: 0;
	    font-family: Roboto;
	    font-size: 14px;
	    font-weight: bold;
	    letter-spacing: 0.3px;
	    text-align: left;
	    color: #e2e6e7;
	    margin-bottom: 40px;
	  }
	  .debate-timer p {
	  	font-family: Roboto;
	    font-size: 16px;
	    font-weight: 300;
	    line-height: 1.5;
	    text-align: left;
	    color: #afc0c5;
	    margin-bottom: 0;
	  }
	}

	&.results-section {
		width: 100%;
		margin: 0 auto;
		height: 100%;
	}
	#results{
		position: relative;
		// margin-top: 60px;
			.agree-disagree{
				// background-color: #414d54;
				border-bottom: solid 1px #191d1f;
				background: #2c373e;
				width: 100%;
    		padding: 70px 115px 80px;
				display: flex;
				justify-content: space-between;
				margin-bottom: 0;
				.agree-total {
					flex-basis: 45%;
					position: relative;
					p {
						font-family: Roboto;
						font-size: 80px;
						font-weight: bold;
						text-align: left;
						color: #191d1f;
						text-shadow: 0 8px 16px rgba(0, 0, 0, 0.32);
						text-align: center;
						max-width: 490px;
	    			width: 490px;
					}

					.posabst{
						position: absolute;

						&.img-1{
							top: 0;
							left: 20%;
							transform: translateX(-50%);
							-webkit-animation: bounce 2s infinite;
    					animation: bounce 2s infinite;
						}
						&.img-2 {
							bottom: 0;
							left: 30%;
							transform: translateX(-50%);
							-webkit-animation: bounce 2s infinite;
    					animation: bounce 1s infinite;
						}
						&.img-3 {
							top: 0;
							left: 45%;
							transform: translateX(-50%);
							-webkit-animation: bounce 2s infinite;
    					animation: bounce 1.2s infinite;
						}
						&.img-4 {
							bottom: 0;
							right: 30%;
							transform: translateX(-50%);
							-webkit-animation: bounce 2s infinite;
    					animation: bounce 2.4s infinite;
						}
						&.img-5 {
							top: 0;
							right: 20%;
							transform: translateX(-50%);
							-webkit-animation: bounce 2s infinite;
    					animation: bounce 2.2s infinite;
						}
						&.img-6 {
							bottom: 0;
							right: 0;
							transform: translateX(-50%);
							-webkit-animation: bounce 2s infinite;
    					animation: bounce 1.2s infinite;
						}
					}
				}
				.disagree-total {
					flex-basis: 45%;
					position: relative;
					p{
						font-family: Roboto;
						font-size: 80px;
						font-weight: bold;
						text-align: left;
						color: #191d1f;
						text-shadow: 0 8px 16px rgba(0, 0, 0, 0.32);
						text-align: center;
						max-width: 490px;
	    			width: 490px;
					}
					.posabst {
						position: absolute;
					}
					.img-1 {
						top: 20px;
						left: -10%;
						position: absolute;
				    -webkit-animation: bounce 2s infinite;
    				animation: bounce 2s infinite;
					}
					.img-2 {
						bottom: 0;
						left: 20%;
						transform: translateX(-50%);
						-webkit-animation: bounce 2s infinite;
    				animation: bounce 1s infinite;
					}
					.img-3 {
						top: 0;
						left: 35%;
						transform: translateX(-50%);
						-webkit-animation: bounce 2s infinite;
    				animation: bounce 1.2s infinite;
					}
					.img-4 {
						bottom: 0;
						right: 30%;
						transform: translateX(-50%);
						-webkit-animation: bounce 2s infinite;
    				animation: bounce 2.4s infinite;
					}
					.img-5 {
						top: 0;
						right: 10%;
						transform: translateX(-50%);
						-webkit-animation: bounce 2s infinite;
    				animation: bounce 2.2s infinite;
					}
					.img-6 {
						bottom: 0;
						right: 0;
						-webkit-animation: bounce 2s infinite;
    				animation: bounce 1.2s infinite;
					}
				}
			}
			.states{
				margin-top: -70px;

				&:before {
			    content: '';
			    display: block;
			    position: absolute;
			    left: 50%;
			    bottom: 95px;
			    margin: 0 0 0 -1px;
			    width: 1px;
			    height: 100px;
			    background-color: #6f7e82;
				}
				.states-container{
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 54%;
					margin: auto;
					border-radius: 16px;
					border: solid 1px #191d1f;
					padding: 32px;
					background-color: #2c373e;
					z-index: 1;
					position: relative;

					p{
						font-family: Roboto;
						font-weight: 300;
						text-align: left;
						margin: 0;

						&.num{
							font-size: 32px;
							color: #6f7e82;
						}

						&.sub{
							font-size: 16px;
							color: #a0b2b8;
						}
					}

					.state-elem{
						display: flex;
						align-items: flex-start;

						img{
							margin: 10px 10px 0 0;
						}
					}
				}
			}

			.showdown{
				margin: 70px 0;

				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 50%;
					bottom: -12%;
					width: 1px;
					height: 150px;
					background-color: #6f7e82;
					transform: translate(-49%, 50%);
				}

				.showdown-container{
					width: 20%;
					margin: auto;
					padding: 42px 32px 32px;
					z-index: 1;
					position: relative;
					text-align: center;
					background: transparent;
    			border: 0;
					p{
						background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
						font-family: Roboto;
						font-size: 14px;
						font-weight: bold;
						-webkit-background-clip: text;
						background-clip: text;
						-webkit-text-fill-color: transparent;
					}
					.scroll-btn {
						animation: bounceUpDown 2s infinite;
						cursor: pointer;
					}
				}
			}
			article {
				width: 100%;
				margin: 0 0 20px 0;
				position: relative;

				&:after {
					content: '';
					display: block;
					clear: both;
				}

				.inner{
					width: 40%;
					margin: 5px 0 0 0;
					border-radius: 6px;
				}
			}

		h3{
			font-family: Roboto;
			font-size: 32px;
			font-weight: 300;
			text-align: center;
			color: #a0b2b8;
			margin-bottom: 30px;
		}
	}

	&.conclusion-timeline-section {
		width: 100%;
	}

	#conclusion-timeline{
		position: relative;
		.start{
			.start-header{
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: relative;
				width: 80%;
				margin: 0 auto;

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 80px;
					width: 80%;
					height: 1px;
					background-color: #6f7e82;
				}
			}
			.left-start{
				position: relative;
				flex-basis: 45%;
				.info{
					background: transparent;
					height: 56px;
					position: relative;

					img{
						position: absolute;
						left: 18px;
						top: 50%;
						transform: translateY(-50%);
					}
				}

				.speaker{
					position: absolute;
					top: -20px;
					left: 50px;
					img{
						width: 100px;
					}
				}

				.disagree-section{
					background: url('/debate/oval.svg') no-repeat;
					position: absolute;
					top: 0;
					left: 120px;
					right: 0;
					bottom: 0;
					img {
						position: absolute;
						left: 18px;
						top: 50%;
						transform: translateY(-45%);
					}
				}
			}
			.middle-start{
				flex-basis: 10%;
				text-align: center;
				.main{
					background: url('/debate/rectangle.svg') no-repeat;
					background-position: center;
					height: 56px;
					position: relative;
					padding: 0px 87px;
					p{
						background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
						font-family: Roboto;
						font-size: 14px;
						font-weight: bold;
						-webkit-background-clip: text;
						background-clip: text;
						-webkit-text-fill-color: transparent;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						text-transform: uppercase;
						white-space: nowrap;
					}
				}
			}
			.right-start{
				flex-basis: 45%;
				position: relative;
				.info {
					background: transparent;
					background-position: right center;
					height: 56px;
					position: relative;
					img {
						position: absolute;
						right: 18px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				.speaker {
					position: absolute;
					top: -20px;
					right: 50px;
					img {
						width: 100px;
					}
				}
				.disagree-section {
					background: url('/debate/oval.svg') no-repeat;
					background-position: right center;
					position: absolute;
					top: 0;
					right: 120px;
					left: 0;
					bottom: 0;
					img {
						position: absolute;
						right: 18px;
						top: 50%;
						transform: translateY(-45%);
					}
				}
			}
		}
		.start-main{
			display: flex;
			justify-content: space-between;
			padding: 0 50px;
			width: 80%;
			margin: 30px auto;
			h3{
				font-family: Roboto;
				font-size: 16px;
				font-weight: bold;
				text-align: center;
				color: #a0b2b8;
				margin: 0 0 10px;
			}
			p{
					background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
					font-family: Roboto;
					font-size: 14px;
					text-align: center;
					-webkit-background-clip: text;
					background-clip: text;
					-webkit-text-fill-color: transparent;
			}
		}
		.start-views{
			display: flex;
			justify-content: space-between;
			width: 96%;
    	margin: 0 auto 70px;
			.views {
				width: 461px;
				height: 363.6px;
				background-color: #191d1f;
				box-shadow: 0 -8px 16px 0 rgba(0, 0, 0, 0.32);
				border: solid 1px #414d54;
				padding: 32px;
				border-radius: 20px;
				text-align: center;
				position: relative;
				&:before,
				&:after {
					border-color: transparent transparent #414d54 transparent;
					border-style: solid;
					border-width: 20px;
					content: "";
					margin-left: -20px;
					position: absolute;
					top: -40px;
				}
				&:after {
					border-color: transparent transparent #191d1f transparent;
					top: -39px;
				}
				p{
					font-family: Roboto;
					font-size: 14px;
					line-height: 1.86;
					letter-spacing: 0.3px;
					text-align: left;
					color: #a0b2b8;
				}
				a{
					background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
					font-family: Roboto;
					font-size: 14px;
					text-align: center;
					-webkit-background-clip: text;
					background-clip: text;
					-webkit-text-fill-color: transparent;
					text-decoration: none;
				}
			}
			.right-view{
				.views{
					&:before,
					&:after {
						right: calc(50% - 40px);
					}
				}
			}
			.left-view {
				.views {
					&:before,
					&:after {
						left: calc(50% - 40px);
					}
				}
				.views-content {
					height: 263.6px;
					overflow-y: scroll;
					margin-bottom: 15px;
				}
			}
		}
		.agree-disagree{
			background-color: transparent;
			width: 100%;
  			padding: 0 115px 120px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 0;
			.agree-total {
				flex-basis: 45%;
				position: relative;
				p {
					font-family: Roboto;
					font-size: 80px;
					font-weight: bold;
					text-align: left;
					color: #191d1f;
					text-shadow: 0 8px 16px rgba(0, 0, 0, 0.32);
					text-align: center;
					max-width: 490px;
    			width: 490px;
				}

				img{
					position: absolute;

					&.img-1{
						top: 0;
						left: 20%;
						transform: translateX(-50%);
					}
					&.img-2 {
						bottom: 0;
						left: 30%;
						transform: translateX(-50%);
					}
					&.img-3 {
						top: 0;
						left: 45%;
						transform: translateX(-50%);
					}
					&.img-4 {
						bottom: 0;
						right: 30%;
						transform: translateX(-50%);
					}
					&.img-5 {
						top: 0;
						right: 20%;
						transform: translateX(-50%);
					}
					&.img-6 {
						bottom: 0;
						right: 0;
						transform: translateX(-50%);
					}
				}
			}
			.disagree-total {
				flex-basis: 45%;
				position: relative;
				p{
					font-family: Roboto;
					font-size: 80px;
					font-weight: bold;
					text-align: left;
					color: #191d1f;
					text-shadow: 0 8px 16px rgba(0, 0, 0, 0.32);
					text-align: center;
					max-width: 490px;
    			width: 490px;
				}

				img {
					position: absolute;
					&.img-1 {
						top: 0;
						left: 0;
					}
					&.img-2 {
						bottom: 0;
						left: 20%;
						transform: translateX(-50%);
					}
					&.img-3 {
						top: 0;
						left: 35%;
						transform: translateX(-50%);
					}
					&.img-4 {
						bottom: 0;
						right: 30%;
						transform: translateX(-50%);
					}
					&.img-5 {
						top: 0;
						right: 10%;
						transform: translateX(-50%);
					}
					&.img-6 {
						bottom: 0;
						right: 0;
					}
				}
			}
		}
		.opinions-changes-section {
			max-width: 857px;
	    border: solid 1px #6f7e82;
	    margin: 0 auto;
	    border-radius: 10px;
      padding: 40px 0 0;
      text-align: center;
      position: relative;
      &:before {
      	content: '';
		    display: block;
		    position: absolute;
		    left: 50%;
		    bottom: 100%;
		    /* : 100%; */
		    margin: 0 0 0 -1px;
		    width: 1px;
		    height: 92rem;
		    background-color: #6f7e82;
		    z-index: -1;
      }
	    p {
	    	font-family: Roboto;
			  font-size: 16px;
			  color: #a0b2b8;
			  text-align: center;
      	padding: 0 114px;
	    }
	    .count {
			  font-size: 32px;
			  font-weight: 300;
			  color: #6f7e82;
	    }
	    .compare-link {
	    	background-color: #414d54;
		    border-top: solid 1px #6f7e82;
		    border-radius: 0 0 10px 10px;
		    padding: 22px 32px;
		    margin-top: 22px;
		    text-align: left;
		    a {
		    	margin-bottom: 0;
			    display: inline-block;
			    background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
			    font-family: Roboto;
			    font-size: 14px;
			    font-weight: bold;
			    text-align: left;
			    -webkit-background-clip: text;
			    background-clip: text;
			    -webkit-text-fill-color: transparent;
	        padding: 0;
		    }
	    }
		}
		.change-your-take-section {
			margin-top: 64px;
			.user-input {
				margin-top: 0;
			}
		}
		.edit-val-wrap {
			position: relative;
		}
		.scroll-to-top {
			background: url(debate/oval.svg) no-repeat;
	    background-position: center;
	    background-size: contain;
	    height: 68px;
	    width: 68px;
	    margin: 0 auto;
	    display: flex;
	    justify-content: center;
	    align-items: center;
		position: relative;
		cursor: pointer;
	    &:before {
		    content: '';
		    display: block;
		    position: absolute;
		    left: 50%;
		    bottom: 16px;
		    width: 1px;
		    height: 160px;
		    background-color: #6f7e82;
		    z-index: -1;
			}
		}
		article {
			width: 100%;
			margin: 0 0 20px 0;
			position: relative;

			&:after {
				content: '';
				display: block;
				clear: both;
			}

			.inner{
				width: 40%;
				margin: 5px 0 0 0;
				border-radius: 6px;
			}
		}
	}


	h3{
		font-family: Roboto;
		font-size: 32px;
		font-weight: 300;
		text-align: center;
		color: #a0b2b8;
		margin-bottom: 30px;
	}
}

// Arrow Bg ring animation
.ring-animated-bg {
	background: #6f7e82;
	pointer-events: none;
	transform: scale(1.3);
	transition: all 0.4s ease-in-out 0.2s;
	z-index: -1;
	display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  pointer-events: auto;
}
.ring-bg-1 {
	opacity: 0.2;
	-webkit-animation: animation1 2s infinite ease-in-out;
	animation: animation1 2s infinite ease-in-out;
}
.ring-bg-2 {
	opacity: 0.4;
	-webkit-animation: animation2 2s infinite ease-in-out;
	animation: animation2 2s infinite ease-in-out;
}
.ring-bg-3 {
	opacity: 0.2;
	-webkit-animation: animation3 2s infinite ease-in-out;
	animation: animation3 2s infinite ease-in-out;
}

.fp-tableCell {
	vertical-align: baseline;
}

// .guests-intro-section{
// 	padding-top: 70px;
// }

.zero-top{
	margin-top: 0 !important;
}

.hide{
	display: none;
}

@keyframes MoveUpDown {
	0% {
		margin-top: 50px;
	}
	50% {
		margin-top: 30px;
	}
	100% {
		margin-top: 50px;
	}
}

@-webkit-keyframes animation1 {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(0.5);}
  40% {-webkit-transform: scale(1.2);}
  50% {-webkit-transform: scale(1.2);}
  60% {-webkit-transform: scale(1.2);}
  80% {-webkit-transform: scale(0.5);}
  100% {-webkit-transform: scale(0);}
}
@keyframes animation1 {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(0.5);}
  40% {-webkit-transform: scale(1.2);}
  50% {-webkit-transform: scale(1.2);}
  60% {-webkit-transform: scale(1.2);}
  80% {-webkit-transform: scale(0.5);}
  100% {-webkit-transform: scale(0);}
}
.animation1 {
  -webkit-animation-name: animation1;
  animation-name: animation1;
}

@-webkit-keyframes animation2 {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(0.5);}
  40% {-webkit-transform: scale(1.4);}
  50% {-webkit-transform: scale(1.4);}
  60% {-webkit-transform: scale(1.4);}
  80% {-webkit-transform: scale(0.5);}
  100% {-webkit-transform: scale(0);}
}
@keyframes animation2 {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(0.5);}
  40% {-webkit-transform: scale(1.4);}
  50% {-webkit-transform: scale(1.4);}
  60% {-webkit-transform: scale(1.4);}
  80% {-webkit-transform: scale(0.5);}
  100% {-webkit-transform: scale(0);}
}
.animation2 {
  -webkit-animation-name: animation2;
  animation-name: animation2;
}

@-webkit-keyframes animation3 {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(0.5);}
  40% {-webkit-transform: scale(1.6);}
  50% {-webkit-transform: scale(1.6);}
  60% {-webkit-transform: scale(1.6);}
  80% {-webkit-transform: scale(0.5);}
  100% {-webkit-transform: scale(0);}
}
@keyframes animation3 {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(0.5);}
  40% {-webkit-transform: scale(1.6);}
  50% {-webkit-transform: scale(1.6);}
  60% {-webkit-transform: scale(1.6);}
  80% {-webkit-transform: scale(0.5);}
  100% {-webkit-transform: scale(0);}
}
.animation3 {
  -webkit-animation-name: animation3;
  animation-name: animation3;
}

@keyframes animateDown {
	from{
		margin-top: -50px;
	}
	to{
		margin-top: 0%;
	}
}

@keyframes animateUp {
	from {
		margin-top: 85px;
	}
	to {
		margin-top: 0%;
	}

}

@keyframes bounceArrow {
	0% {
		bottom: -10px;
	}
	50%{
		bottom: 20px;
	}
	100% {
		bottom: -10px;
	}
}

@keyframes bounceUpDown {
	0%{
		margin-top: 0;
	}
	50%{
		margin-top: -20px;
	}
	100% {
		margin-top: 0;
	}

}