<template name="most_supported_influencers">
  <div class="most_supported_influencers">
    <div class="title text-center">
      Most Supported Influencers
    </div>
    <div class="divider text-center"></div>
    <table class="table">
      <tbody>
        <tr>
          <td class="sno width50 text-right">01</td>
          <td class="width50">
            <img src="/profile-pic.png" class="profile-pic" alt="profile-pic">
          </td>
          <td class="username">Sarah Kahn</td>
          <td class="text-center agreeTd flex-box flex-vertical-center-align justify-content-center">
            <span class="agree">89%</span>
            <span class="width100 text-left ml1">Agree<br>with her</span>
          </td>
          <td class="width50 text-center">
            <img src="/analytics-up.svg">
          </td>
          <td class="width50 text-center count">02</td>
        </tr>
        <tr class='top-bordered'>
          <td class="sno width50 text-right">02</td>
          <td class="width50">
            <img src="/profile-pic.png" class="profile-pic" alt="profile-pic">
          </td>
          <td class="username">Lee Chan</td>
          <td class="text-center agreeTd flex-box flex-vertical-center-align justify-content-center">
            <span class="agree">78%</span>
            <span class="width100 text-left ml1">Agree<br>with her</span>
          </td>
          <td class="width50 text-center">
            <img src="/analytics-down.svg">
          </td>
          <td class="width50 text-center count negative">02</td>
        </tr>
        <tr class='top-bordered'>
          <td class="sno width50 text-right">03</td>
          <td class="width50">
            <img src="/profile-pic.png" class="profile-pic" alt="profile-pic">
          </td>
          <td class="username">Ronin Jain</td>
          <td class="text-center agreeTd flex-box flex-vertical-center-align justify-content-center">
            <span class="agree">94%</span>
            <span class="width100 text-left ml1">Agree<br>with her</span>
          </td>
          <td class="width50 text-center">
            <img src="/analytics-down.svg">
          </td>
          <td class="width50 text-center count">53</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>