.top-creators, .most_supported_influencers {
  display: block;
  width: 544px;
  border-radius: 8px;
  background-color: #2c373e;
  border: solid 1px #191d1f;
  .divider {
    width: 32px;
    height: 2px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #363e42, #191d1f);
  }
  .title {
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: #a0b2b8;
    margin: 40px auto 20px;
  }
  table {
    margin-top: 20px;
    > tbody > tr > td {
      border-top: 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    > tbody > tr.top-bordered {
      td {
        border-top: 1px solid #191d1f;
      }
    }
    .width50 {
      width: 50px;
      vertical-align: middle;
    }
    .width100 {
      width: 100px;
      vertical-align: middle;
    }
    .agreeTd {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #6f7e82;
      .agree {
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 1.3px;
        color: #a0b2b8;
      }
    }
    .sno {
      background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
      font-family: Roboto;
      font-size: 21px;
      font-weight: 300;
      letter-spacing: 1.5px;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      vertical-align: middle;
    }
    .profile-pic {
      width: 40px;
      height: 40px;
      object-fit: contain;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24);
      border: solid 1px #191d1f;
      border-radius: 50%;
    }
    .username {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #e2e6e7;
      vertical-align: middle;
    }
    .count {
      font-size: 18px;
      letter-spacing: 1.3px;
      color: #7ed321;
      &.negative {
        color: #ff586c;
      }
    }
  }
}
