<template name="people">
  <div class="people-container">
    <div class="flex-box justify-content-space-between">
      <div id="res" class="main-title">Resources</div>
      <div class="navbar navbar-right scrollToDiv">
        <ul class="list-unstyled list-inline">
          <li><a class="goto" href="#disc">Discussions</a></li>
          <li><a class="goto" href="#deb">Debate</a></li>
        </ul>
      </div>
    </div>
    <div id="resources">
      {{>top_creators}}
    </div>
    <div class="flex-box justify-content-space-between">
      <div id="disc" class="main-title">Discussions</div>
      <div class="navbar navbar-right scrollToDiv">
        <ul class="list-unstyled list-inline">
          <li><a class="goto" href="#res">Resources</a></li>
          <li><a class="goto" href="#deb">Debate</a></li>
        </ul>
      </div>
    </div>
    <div id="discussions">
      <h2 class="chart-title text-center">Donut Chart</h2>
      <div id="donutChart"></div>
      <h2 class="chart-title text-center">Bubble Chart</h2>
      <div id="bubbleChart"></div>
      <h2 class="chart-title text-center hidden">Line Chart</h2>
      <div id="lineChart" class="hidden"></div>
    </div>
    <div class="flex-box justify-content-space-between">
      <div id="deb" class="main-title">Debate</div>
      <div class="navbar navbar-right scrollToDiv">
        <ul class="list-unstyled list-inline">
          <li><a class="goto" href="#res">Resources</a></li>
          <li><a class="goto" href="#disc">Discussions</a></li>
        </ul>
      </div>
    </div>
    <div id="debates">
      {{>most_supported_influencers}}
      <h2 class="chart-title text-center">Bubble Chart</h2>
      <div id="bubbleChart2"></div>
    </div>
  </div>
</template>