<template name="top_creators">
  <div class="top-creators">
      <div class="title text-center">
        Top Creators
      </div>
      <div class="divider text-center"></div>
      <table class="table">
        <tbody>
          <tr>
            <td class="sno width50 text-right">01</td>
            <td class="width50"><img src="/profile-pic.png" class="profile-pic" alt="profile-pic"></td>
            <td class="username">Sarah Kahn</td>
            <td class="width50 text-center"><img src="/analytics-up.svg"></td>
            <td class="width50 text-center count">02</td>
          </tr>
          <tr>
            <td class="sno width50 text-right">02</td>
            <td class="width50"><img src="/profile-pic.png" class="profile-pic" alt="profile-pic"></td>
            <td class="username">Lee Chan</td>
            <td class="width50 text-center"><img src="/analytics-down.svg"></td>
            <td class="width50 text-center count negative">02</td>
          </tr>
          <tr>
            <td class="sno width50 text-right">03</td>
            <td class="width50"><img src="/profile-pic.png" class="profile-pic" alt="profile-pic"></td>
            <td class="username">Ronin Jain</td>
            <td class="width50 text-center"><img src="/analytics-down.svg"></td>
            <td class="width50 text-center count">53</td>
          </tr>
          <tr>
            <td class="sno width50 text-right">04</td>
            <td class="width50"><img src="/profile-pic.png" class="profile-pic" alt="profile-pic"></td>
            <td class="username">Eduardo Mendis</td>
            <td class="width50 text-center"><img src="/analytics-down.svg"></td>
            <td class="width50 text-center count">14</td>
          </tr>
          <tr>
            <td class="sno width50 text-right">05</td>
            <td class="width50"><img src="/profile-pic.png" class="profile-pic" alt="profile-pic"></td>
            <td class="username">Alan Wright</td>
            <td class="width50 text-center"><img src="/analytics-down.svg"></td>
            <td class="width50 text-center count">35</td>
          </tr>
        </tbody>
      </table>
  </div>
</template>