#newCommentForm {
  position: absolute;
  bottom: 15px;
  width: calc(74.5% - 75px);
	border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
	background-color: #414d54;
  border: solid 1px #191d1f;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.3px;
  padding-top: 10px;
  textarea {
    background: transparent;
    border: 0;
    box-shadow: none;
    letter-spacing: 0.5px;
    color: #a0b2b8;
    width: calc(100% - 140px);
    margin: 0 auto;
    padding: 10px 16px;
    line-height: 1;
    border-left: 1px solid #191d1f;
    border-right: 1px solid #191d1f;
    border-radius: 0;
    &::placeholder {
      font-size: 14px;
      line-height: 2;
      letter-spacing: 0.3px;
      color: #a0b2b8;
    }
    &:focus {
      box-shadow: none;
      &::placeholder {
        color: transparent;
      }
    }
    &::before, &::after {
      content: '';
      width: 1px;
      height: 40px;
      background-color: #191d1f;
    }
  }
  .add-comment-button {
    position: absolute;
    right: -5px;
    bottom: 25px;
    background-image: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 0;
    outline: none;
  }
  .add-attachment-button {
    position: absolute;
    left: 30px;
    bottom: 25px;
  }
}