<template name="commentContainer">

  <div class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">New Discussion</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12 noPadding">
            <div class="col-sm-4 noPadding">
              <div tabindex="-1" class="commentlist-panel-search">
                {{> commentForm}}
              </div>
            </div>
            <div class="col-sm-8 noPadding">

            </div>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>

</template>

<template name="commentForm">
  <form id="newCommentForm">
    {{#with getParentComment replyTo}}
    <div class="reply-bg well-sm">
      <p class="reply-to">Reply to Linda Haydon</p>
      {{body}}
    </div>
    {{/with}}
    <div class="form-group flex-box flex-vertical-baseline">
      <img class="add-attachment-button" src="/attachment.svg" alt="attachment icon">
      <textarea class="form-control" placeholder="type your reply" name="body" title="Search or start new chat" value=""></textarea>
      <button class="btn ml1 mr1 add-comment-button">SEND</button>
    </div>
  </form>
</template>