.left-article-container {
  background: white;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  height: 80vh;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: calc(100% - 5vh);
    width: 8px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.4);
    top: 2.5vh;
    left: -6px;
  }
  .note-editor {
    top: 15px;
    height: calc(100vh - 120px);
    border: 0;
    background: transparent;
    box-shadow: none;
  }
  .note-editable {
    background: transparent;
    height: calc(100% - 50px);
    margin-left: 25px;
    margin-top: -4px;
    img {
      margin-top: 15px;
      width: auto !important;
      max-height: calc(60vh);
      max-width: calc(50vw - 100px);
      border-radius: 8px;
      box-shadow: 0 8px 3px -1px lightgrey;
    }
  }
  .note-editing-area {
    position: relative;
    height: 100%;
  }
  .note-placeholder {
    display: block;
    margin-left: 25px;
    margin-top: -4px;
    color: #C4C4C4;
  }
  .note-resizebar {
    display: none;
  }
  .note-toolbar {
    position: relative;
    display: none;
    z-index: 1;
    border: 0;
    background: transparent;
    width: 100%;
    margin-left: 25px;
    button {
      background: rgb(246, 246, 246);
      border: 0;
      transition: all 0.5s ease-in-out;
      &:hover {
        box-shadow: 1px 1px 8px #eaeaea;
      }
    }
  }
}

.right-article-container {
  background-color: rgb(246, 246, 246);
  background-image: linear-gradient(to right, #f2f5f9, #ffffff);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 80vh;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: calc(100% - 5vh);
    width: 8px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.4);
    top: 2.5vh;
    right: -6px;
  }
  .note-editor {
    top: 15px;
    height: calc(100vh - 120px);
    border: 0;
    background: transparent;
    box-shadow: none;
  }
  .note-editing-area {
    position: relative;
    height: 100%;
    .note-editable {
      background: transparent !important;
      height: calc(100% - 50px);
      margin-left: 25px;
      margin-top: -4px;
      img {
        margin-top: 15px;
        width: auto !important;
        max-height: calc(60vh);
        max-width: calc(50vw - 100px);
        border-radius: 8px;
        box-shadow: 0 8px 3px -1px lightgrey;
      }
    }
  }
  .note-placeholder {
    display: block;
    margin-left: 25px;
    margin-top: -4px;
    color: #C4C4C4;
  }
  .note-resizebar {
    display: none;
  }
  .note-toolbar {
    position: relative;
    display: none;
    z-index: 1;
    border: 0;
    background: transparent;
    width: 100%;
    margin-left: 25px;
    button {
      border: 0;
      transition: all 0.5s ease-in-out;
      &:hover {
        box-shadow: 1px 1px 8px #eaeaea;
      }
    }
  }
}

.summernote-left-article {
  margin-top: 50px;
}

.summernote-center-article {
  margin-top: 50px;
}

.summernote-right-article {
  margin-top: 50px;
}

.toggle-toolbar {
  z-index: 10;
  position: absolute;
  left: 15px;
  top: 20px;
  transition: all 0.5s ease-in;
  cursor: pointer;
  &.cross {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50%);
    opacity: 0;
  }
}

.slide-enter-active {
  animation: slide-in 0.5s forwards;
}

.slide-leave-active {
  animation: slide-out 0.5s forwards;
}

p::selection,
p::-moz-selection,
p::-webkit-selection {
  background: rgb(196, 255, 235);
}

#left_html-error,
#right_html-error {
  z-index: 1;
  position: absolute;
  color: red;
}

.toggle-switch {
  max-width: 17em;
  margin: 0 auto;
}

.toggle-switch-light>span,
.switch-toggle>span {
  color: #000000;
}

.toggle-switch-light span span,
.toggle-switch-light label,
.switch-toggle span span,
.switch-toggle label {
  color: #eaeaea;
}

.switch-toggle a,
.toggle-switch-light span span {
  display: none;
}

.toggle-switch-light {
  display: block;
  height: 30px;
  position: relative;
  overflow: visible;
  padding: 0px;
  margin-left: 0px;
}

.toggle-switch-light * {
  box-sizing: border-box;
}

.toggle-switch-light a {
  display: block;
  transition: all 0.3s ease-out 0s;
}

.toggle-switch-light label,
.toggle-switch-light>span {
  line-height: 30px;
  vertical-align: middle;
  cursor: pointer;
}

.toggle-switch-light label {
  font-weight: 700;
  margin-bottom: px;
  max-width: 100%;
}

.toggle-switch-light input:focus~a,
.toggle-switch-light input:focus+label {
  outline: none;
}

.toggle-switch-light input {
  position: absolute;
  opacity: 0;
  z-index: 5;
}

.toggle-switch-light input:checked~a {
  right: 0%;
}

.toggle-switch-light>span {
  position: absolute;
  left: -100px;
  width: 100%;
  margin: 0px;
  padding-right: 100px;
  text-align: left;
}

.toggle-switch-light>span span {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  display: block;
  width: 50%;
  margin-left: 100px;
  text-align: center;
}

.toggle-switch-light>span span:last-child {
  left: 50%;
}

.toggle-switch-light a {
  position: absolute;
  right: 50%;
  top: 0px;
  z-index: 4;
  display: block;
  width: 50%;
  height: 100%;
  padding: 0px;
}

.center-html {
  background-color: rgb(246, 246, 246);
  min-height: calc(100vh - 120px);
  height: auto;
}

.center-article-container {
  background: white;
  border-radius: 16px;
  min-height: 80vh;
  margin-bottom: 100px;
  height: auto;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: calc(100% - 5vh);
    width: 8px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.4);
    top: 2.5vh;
    left: -6px;
  }
  &::after {
    content: '';
    position: absolute;
    height: calc(100% - 5vh);
    width: 8px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.4);
    top: 2.5vh;
    right: -6px;
  }
  .note-editor {
    top: 15px;
    min-height: calc(100vh - 120px);
    border: 0;
    background: transparent;
    box-shadow: none;
  }
  .note-editable {
    background: transparent;
    height: 100%;
    margin-left: 35px;
    margin-top: -4px;
    min-height: 100px;
    img {
      margin-top: 15px;
      width: auto !important;
      max-height: calc(60vh);
      max-width: calc(768px - 100px);
      border-radius: 8px;
      box-shadow: 0 8px 3px -1px lightgrey;
    }
  }
  .note-editing-area {
    position: relative;
    height: 100%;
    min-height: 100px;
  }
  .note-placeholder {
    display: block;
    margin-left: 35px;
    margin-top: -4px;
    color: #C4C4C4;
  }
  .note-resizebar {
    display: none;
  }
  .note-toolbar {
    position: relative;
    display: none;
    z-index: 1;
    border: 0;
    background: transparent;
    width: 100%;
    margin-left: 40px;
    button {
      background: rgb(246, 246, 246);
      border: 0;
      transition: all 0.5s ease-in-out;
      &:hover {
        box-shadow: 1px 1px 8px #eaeaea;
      }
    }
  }
}

.outline-button {
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(to right, #ff9452, #f96d28 50%, #ff445e);
  border-image-slice: 1;
}