<template name="articleCreate">
  <div class="container-fluid">
    {{#with get_article_context}}
    <div class="toggle-switch well-sm">
      <label class="toggle-switch-light toggle-layout">
          <input type="checkbox" name="one_column">
          <span>
            <span>One column</span>
            <span>Two column</span>
          </span>
          <a class="outline-button"></a>
      </label>
    </div>
    <form class="article_form">
      <div class="dynamic-template col-sm-12">
        <div class="left-article-container content-container col-sm-6 hidden">
          <img class="toggle-toolbar" src="/outline-plus.png" alt="circle plus">
          <textarea name="left_html" class="form-control input-lg summernote-left-article">{{left_html}}</textarea>
        </div>
        <div class="center-article-container content-container width768 auto-margin">
          <img class="toggle-toolbar" src="/outline-plus.png" alt="circle plus">
          <textarea name="center_html" class="form-control input-lg summernote-center-article">{{center_html}}</textarea>
        </div>
        <div class="right-article-container content-container col-sm-6 hidden">
          <img class="toggle-toolbar" src="/outline-plus.png" alt="circle plus">
          <textarea name="right_html" class="form-control input-lg summernote-right-article">{{right_html}}</textarea>
        </div>
      </div>
    </form>
    {{/with}}
  </div>
</template>